<style type="text/css">
.sendBox{ margin:0; border-radius:0;}
.u-tt,.u-cat{ display:block; width:610px;margin:5px auto; font-size:14px;}
.u-tt input{width:550px;}
.menu_fjb{ top:30px;}
.sendBox .sendInput textarea{ height:auto;overflow-y:scroll; min-height:200px;border-radius:0;}
</style>
<script type="text/javascript" src="js/cms.js"></script>
<div id="send">
<div class="sendBox">
<p class="u-tt">标题：<input name="title" type="text" id="cmstitle" value="{$cmsinfo[title]}"></p>
<p class="u-cat">分类：<input type="hidden" name="catid" id="catid" value="{$catid}">{$categoryselect}</p>
<input type="hidden" id="cmsaid" value="{$aid}">
<div class="sendInput" style="display:block">
<textarea name="cmscontent" id="i_already{$h_key}" onkeydown="ctrlEnter(event, 'cmspublishSubmit')">{$cmsinfo[content]}</textarea>
</div>
<div class="sendInsert">
<script type="text/javascript">
$(function(){
	$(".menu_title").click(function(){$(".menu_content").hide();var id = $(this).attr("currid");if(id){$("#"+id).show();}});//一级菜单	
	$(".menu_i_title").click(function(){$(".stitle .curr").removeClass("curr");$(this).addClass("curr");//单独处理图片TAB
		$(".menu_i_content").hide();var id = $(this).attr("currid");if(id){$("#"+id).show();
	}});
	$(".menu_close").click(function(){var id = $(this).attr("currid");if(id){$("#"+id).hide();}});//关闭按钮
});
var __CONTENTID__ = 'i_already{$h_key}';
$("#cmspublishSubmit").bind('click',function(){cmspublishSubmit('cmstitle','catid','i_already{$h_key}','{$fromcatid}');return false;});
</script>
    <div class="mleft">

	<!--{if $this->Config['image_enable']}-->
	<!-- 图片区块 开始 -->
	<style>.menu_tqbox .stitle .curr{background:#ddd;}</style>
	<div class="menu">
	   <div class="menu_tq" ><b class="menu_tqb_c menu_title" currid="showuploadimage{$h_key}" title="可实现图文混排">图片</b>
	      <div class="menu_tqb menu_content" id="showuploadimage{$h_key}">       
          <span class="arrow-up"></span>   
          <span class="arrow-up-in"></span>
			<i class="menu_tqb_c1 menu_close" currid="showuploadimage{$h_key}"></i>			
            <div class="menu_tqbox">
            {template "imgupload"}
            </div>
        </div>
	</div>
	</div>
	<!-- 图片区块 结束 -->
	<!--{/if}-->

	<div class="menu">
            <!-- 文件区块 开始 -->
            <!--{eval if(($this->Config['attach_enable'] && $this->Module!='qun') || ($this->Config['qun_attach_enable'] && $this->Module=='qun')) $allow_attach = 1; else $allow_attach = 0 }-->
            <!--{if $allow_attach}-->
            <!-- JS引用 开始 -->
            <!--{eval $attach_uploadify_topic = array();}-->
            <!--{eval $attach_uploadify_from = 'topic_publish';}-->
            <!--{eval $attach_uploadify_only_js = 1;}-->
            <!--{eval $attach_num = min(max(1,(int)$this->Config['attach_files_limit']),50);}-->
            <!--{eval $attach_size = min(max(1,(int)$this->Config['attach_size_limit']),51200);}-->
            <!--{eval $attach_size = $attach_size >= 1024 ? round(($attach_size/1024),1).'M' : $attach_size.'KB';}-->
            {template "attach_uploadify.inc"}
            <!-- JS引用 结束 -->            	
            <div class="menu_fj" ><b class="menu_fjb_c menu_title" currid="showattachmenu{$h_key}" title="上传本地附件">附件</b>
                <div class="menu_fjb menu_content" id="showattachmenu{$h_key}">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                    <div class="menu_fb">
                       <span style="float:left; padding-left:10px;">请选择上传的附件</span>
                    </div>
                    <div class="menu_pi insertImgDiv" id="insertAttachDiv">
                        <div id="swfUploadDivAttach">
                        <input type="file" id="publisher_file_attach" name="publisher_file" style="display:none;" />
                        </div>
                        <iframe id="attachUploadifyIframe" name="attachUploadifyIframe" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank" style="display:none;"></iframe>
                        <div id="normalAttachUploadDiv" style="display:none;">
                            <form id="normalAttachUploadForm" method="post" action="ajax.php?mod=uploadattach&code=attach&type=normal&aitem={$attach_item}&aitemid={$attach_itemid}" enctype="multipart/form-data" target="attachUploadifyIframe" onsubmit="return normalAttachUploadFormSubmit()">
                                <input type="file" id="normalAttachUploadFile" name="topic" />
                                <input type="submit" value="上传" class="u-btn" />
                            </form>
                        </div>
                        <i class="menu_fjb_c1 menu_close" currid="showattachmenu{$h_key}"><img src="images/imgdel.gif" title="关闭" /></i>
                        <em>
                            1、如不能上传文件，请<a href="javascript:;" onclick="attachUploadifyModuleSwitch();">点击这里</a>用<span id="uploadDescModuleSpanAttach">普通</span>模式上传.<br />
                            2、最多可上传{$attach_num}个文件，单个文件大小不超过{$attach_size}。
                        </em>
                        <span id="uploadingAttach"></span>
                        <div class="viewImgDiv" id="viewAttachDiv">
						<!--{if $cmsinfo[attachs]}-->
						<!--{loop $cmsinfo[attachs] $ik $iv}-->
						<script type="text/javascript"> __ATTACH_IDS__[{$ik}] = $ik; </script>
						<li id="uploadAttachSpan_{$ik}" class="menu_ps vv_2"><img src="{$iv[img]}" class="uploadAttachSpan_img_type">
						<p class="uploadAttachSpan_doc_type"><i>{$iv[name]}</i></p><p>（<a title="删除文件" onclick="attachUploadifyDelete({$ik});return false;" href="javascript:;">删</a>）需<input title="填写用户下载该附件所需贡献给你的积分" size="1" type="text" value="{$iv[score]}" onblur="set_attach_score(this.value,{$ik},this);return false;">积分&nbsp;<a href="javascript:void(0);" onclick="modify_attach({$ik});return false;">编辑</a></p></li>
						<!--{/loop}-->
						<!--{/if}-->
						</div>
                    </div>
                    <div id="uploadifyQueueDivAttach" style="display:none;"></div>		
                </div>
            </div>
            <!--{/if}-->
            <!-- 文件区块 结束 -->
        </div>

</div>
<div class="sendBtn">
	<input type="button" class="u-btn" id="cmspublishSubmit" title="按Ctrl+Enter快捷发布" value="发 布"/>
</div>
</div>

</div>
</div>