/* CSS Document begin */
@charset "utf-8";
html, body {
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
}

div, ul {
	margin: 0px;
	padding: 0px;
}
*:focus {
	outline: none;
}
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a {
	text-decoration: none;
	color: #3165A5;
}
.weibo, .pm {
	margin: 10px 10px 13px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(49,60,75,.35);
	box-shadow: 0 1px 1px rgba(49,60,75,.35);
	background-color: #fff;
	border-color: #d7d7d7 #d4d4d4 #cbcbcb;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.vf {
	overflow: hidden;
}
.wb_l {/* float:left; width:77px;*/
	position: absolute;
	padding: 8px 8px 0;
}
.wb_r { /*float:left; width:82%*/
	padding-left: 70px;
}
.wb_c_wp {
	clear: both;
	width: 100%;
}
.pm .wb_c_wp {
	margin-bottom: 30px;
}
.author {
	width: 35px;
	height: 35px;
}
.user_info {
	overflow: hidden;
}
.user_info .p_u {
	font-weight: 500;
	color: #333;
}
.user_info .p_t {
	color: #666;
}
.user_info .p_t span {
	vertical-align: middle;
}
.user_info .p_t img {
	vertical-align: middle;
	margin-right: 8px;
}
.wb_c {
	margin-top: 8px;
	color: #424D52;
	clear: both;
}
.from {
	color: #7B827B;
	margin-top: 8px;
	
	overflow: hidden;
	clear: both;
	margin-top: 10px;
}
.from .num {
	color: #A4B7D6;
}
.num .forward_num {
	margin-right: 10px;
}
.num .forward_num img {
	margin-right: 3px;
}
.num .comment_num img {
	margin-right: 3px;
}
.wb_line {
	clear: both;
	color: #CECFCE;
	height: 0px;
	border-bottom: solid 1px #CECFCE; /*margin-top:8px; margin-bottom:8px;*/
}
.wb_c .wbf_h {
	background: url(../images/fb_h.png) no-repeat;
	height: 29px;
}
.wb_c .wbf_c {
	background: url(../images/fb_c.png) repeat-y;
}
.wb_c .wbf_f {
	background: url(../images/fb_f.png) no-repeat;
	height: 6px;
}
.wbf {
	color: #424D52;
	border-radius: 7px 7px 7px 7px;
	border: solid 1px #f0f0f0;
	margin-bottom: 5px;
	padding: 10px 8px;
	position: relative;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #f8f8f8;
	font-size:14px;
}
.tips_ico {
	background: url(../images/tips_ico.png) no-repeat;
	height: 15px;
	width: 19px;
	margin-left: 40px;
	margin-bottom: -3px;
	position: relative;
	z-index: 100
}
.share {
	margin-top: 8px;
}
.mc {
	margin: 15px;
}
.loading {
	
	background: url(../images/loading.gif) no-repeat;
	padding-left: 25px;
	line-height: 20px;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	position: relative;
}
.more_loading {
	background: url(../images/loading4.gif) no-repeat;
	padding-left: 40px;
	line-height: 24px;
}
/**通用按钮**/
.btn_g {
	width: 90px;
	height: 31px;
	background: url(../images/btn_attention_nor_b.png);
	line-height: 31px;
	display: block;
	text-align: center;
	color: #fff;
	
}
.btn_y {
	width: 90px;
	height: 31px;
	background: url(../images/btn_attention_nor_b2.png);
	line-height: 31px;
	display: block;
	text-align: center;
	color: #fff;
}
.btn_h{
	width: 90px;
	height: 31px;
	background: url(../images/btn_attention_nor_b3.png);
	line-height: 31px;
	display: block;
	text-align: center;
	color: #fff;
	}
.btn_m{
	width: 90px;
	height: 31px;
	background: url(../images/btn_attention_nor_b4.png);
	line-height: 31px;
	display: block;
	text-align: center;
	color: #fff;
	}
/**微博列表**/
.wb_more {
	line-height: 80px;
	height: 80px;
	text-align: center;
	cursor: pointer;
	
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(white),to(white));
	padding: 0;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	padding-top: 0;
	padding-bottom: 140px;
}
/**自定义列表**/
.lv_1 {
	margin: 0px;
	padding: 0px;
	border-radius: 7px;
	border: solid 1px #ADBAD6;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #fff;
}
.lv_1 li {
	list-style: none;
	border-bottom: solid 1px #ADBAD6;
	line-height: 70px;
	height: 70px;
	
	padding-left: 8px;
}
.lv_1 li .t {
	color: #7B8A9C;
}
.lv_1 li .c {
	color: #313431;
	margin-left: 10px;
}
.lv_1 li .col {
	display: block;
	width: 49%;
	float: left;
}
.lv_1 li .bl {
	border-right: solid 1px #ADBAD6;
}
.lv_1 .nb {
	border: 0px;
}
.lv_2 {
	margin: 0px;
	padding: 0px;
	border-radius: 7px;
	border: solid 1px #ADBAD6;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #fff;
}
.lv_2 li {
	list-style: none;
	border-bottom: solid 1px #ADBAD6;
	height: 100px;
	
}
.lv_2 li .col {
	display: block;
	width: 49%;
	float: left;
	height: 100px;
}
.lv_2 li .bl {
	border-right: solid 1px #ADBAD6;
}
.lv_2 li .mid {
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align: center;
	margin-top: 20px;
}
.lv_2 li .mid span {
	display: block;
	text-align: center;
}
.lv_2 li .mid .ct {
	color: #5279A5;
}
.lv_2 li .mid .t {
	color: #7B8A9C;
	margin-top: 5px;
}
.lv_2 .nb {
	border: 0px;
}
.lv_3 {
	margin: 0px;
	padding: 0px;
	border-radius: 12px;
	border: solid 1px #ADBAD6;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background: #fff;
}
.lv_3 li {
	list-style: none;
	height: 70px;
	
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.lv_3 .col {
	display: block;
	float: left;
	height: 70px;
}
.lv_3 .col_r {
	display: block;
	float: right;
	height: 70px;
	width: 40px;
	margin-top: 23px;
}
/**用在设置**/
.lv_4 {
	background: #fff;
	border: 1px solid #628aa5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px #acaeaf inset,0px 1px 1px rgba(255,255,255,0.5);
	box-shadow: 0 1px 5px #acaeaf inset,0px 1px 1px rgba(255,255,255,0.5);
	font-size:16px;
}
.lv_4 li {
	list-style: none;
	border-bottom: solid 1px #ADBAD6;
	padding:7px 10px;
	color: #000;
	overflow: hidden;
	clear:both;
}
.lv_4 li .col {
	display: block;
	float: left;
	width: 60%;
	line-height: 50px;
}
.lv_4 li .col2 {
	display: inline;
	float:left;
}
.lv_4 li .arrow {
	float: right;
	background: url(../images/triangle.png);
	width: 21px;
	height: 30px;
	margin-right: 25px;
	margin-top: 12px;
}
.lv_4 .nb {
	border: 0px;
}
.lv_4 li .col_b {
	display: block;
	float: left;
	width: 60%;
	line-height: 50px;
	padding-left: 20px
}
.lv_4 li .setting {
	background: url(../images/moreitems_setting_icon.png) no-repeat;
	padding-left: 65px;
}
.lv_4 li .accounts {
	background: url(../images/moreitems_accountmanage_icon.png) no-repeat;
	padding-left: 65px;
}
.lv_4 li .official {
	background: url(../images/moreitems_officialweibo_icon.png) no-repeat;
	padding-left: 65px;
}
.lv_4 li .feedback {
	background: url(../images/moreitems_feedback_icon.png) no-repeat;
	padding-left: 65px;
}
.lv_4 li .about {
	background: url(../images/moreitems_about_icon.png) no-repeat;
	padding-left: 65px;
}
.item_tag_t {
	background: #2171bd;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
.item_tag {
}
.item_tag_b {
	background: #2171bd;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
.lv_5 {
	margin: 0px;
	padding: 0px;
	background: #fff;
	overflow: hidden;
}
.lv_5 li {
	list-style: none;
	border-bottom: solid 1px #CECFCE;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	padding-left: 8px;
	color: #000;
	overflow: hidden;
}
.lv_5 li .ico {
	background: url(../images/gray_point.png) no-repeat;
	width: 23px;
	height: 23px;
	float: left;
	margin-top: 14px;
	margin-left: 5px;
	margin-right: 15px;
}
.lv_5 li .on {
	background: url(../images/green_point.png) no-repeat;
}
.lv_5 li .col {
	display: block;
	float: left;
	width: 60%;
	line-height: 50px;
}
.lv_5 li .ico_add {
	background: url(../images/account_item_add.png) no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 9px;
	margin-left: 5px;
	margin-right: 15px;
}
.lv_5 li .arrow {
	float: right;
	background: url(../images/triangle.png);
	width: 21px;
	height: 30px;
	margin-right: 15px;
	margin-top: 12px;
}
.lv_5 .nb {
	border: 0px;
}
.lv_5 li .col_b {
	display: block;
	float: left;
	width: 60%;
	line-height: 50px;
	padding-left: 20px
}
/**我的资料页面**/
.profile {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 100px;
}
.profile .s_info {
	height: 140px;
}
.profile .user_info {
	overflow: hidden;
}
.profile .b_author {
	margin-right: 15px;
	position: absolute;
}
.profile .b_info {
	margin-left: 100px;
	float:left;
}
.profile .b_info span {
	display: block;
	position:relative;
	color:#fff;
}
.profile .u_edit {
	float: right;
}
.profile .btn_edit {
	background: url(../images/btn_attention_nor.png) no-repeat;
	width: 112px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #FFF;
	display: block;
	margin-top: 15px;
}
.profile .other {
	clear: both;
	margin-top: 10px;
}
.topic_info {
	margin-top: 20px;
}
/**我的资料编辑页面**/
.profile_edit {
}
.profile_edit .uinfo {
	margin-top: 15px;
}
.profile_edit .bk {
	margin-top: 50px;
}
.uinfo .txt {
	
	width: 75%;
	color: #999;
}
.uinfo label {
	font-size: 24px;
	width: 70px;
	line-height: 49px;
}
/**消息页面**/
.s_nav {
}
.s_nav a {
	font-size: 16px !important;
}
/**微博详情页面**/
.v_nav {/*position:fixed;*/
	border-bottom: solid 1px #CECFCE;
	height: 50px;
	width: 100%;
	background: #EFF3EF;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	overflow: hidden;
	font-weight: bold;
}
.v_nav .n_content {
	float: left;
}
.v_nav .n_title {
	vertical-align: middle;
	margin-left: 10px;
}
.n_content img {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.v_nav .arrow {
	float: right;
	background: url(../images/triangle.png);
	width: 21px;
	height: 30px;
	margin-right: 35px;
	margin-top: 10px;
}
.wb_detail {
	clear: both;
	padding: 18px;
	padding-top: 10px;
	
	color: #424D52;
	margin-bottom: 100px
}
.wb_detail .from {
	margin-top: 16px;
}
.btn_bc {
	height: 67px;
	width: 436px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	float: inherit;
	margin-top: 50px;
	color: #5279A5;
	font-weight: bold;
	
}
.btn_bc .btn_forward {
	width: 218px;
	height: 67px;
	background: url(../images/detail_redirect_bt.9.png) no-repeat;
	float: left;
}
.btn_bc .btn_reply {
	width: 218px;
	height: 67px;
	background: url(../images/detail_comment_bt.9.png) no-repeat;
	float: left;
}
.btn_bc .forward_num {
	padding-left: 100px;
	line-height: 67px;
}
.btn_bc .reply_num {
	padding-left: 100px;
	line-height: 67px;
}
/**好友列表**/
.m_list {
	margin: 0px;
	padding: 0px;
}
.m_list li {
	list-style: none;
	overflow: hidden;
	border-bottom: solid 1px #ddd;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.m_list .info_wp {
	float: left;
	margin-right: 10px;
}
.m_list .info_wp .bc_l {
	float: left;
	width: 50px;
	height: 50px;
}
.m_list .info_wp .bc_l img {
	width: 50px;
	height: 50px;
	border-radius:3px;
}
.info_wp .bc_l {
	float: left;
	width: 35px;
	height: 35px;
}
.info_wp .bc_l img {
	width: 35px;
	height: 35px;
	border-radius:3px;
}
.info_wp .bc_r {
	float: left;
	margin-left: 15px;
	line-height: 17px;
}
.info_wp .bc_r .uname {
	font-weight: bold;
}
.info_wp .bc_r .other {
	color: #888;
	font-size:12px;
}
.m_list .do_wp {
	float: right;
	margin-top: 10px;
}
/**话题**/
.tag_list {
	margin: 0px;
	padding: 0px;
}
.tag_list li {
	list-style: none;
	height: 70px;
	line-height: 70px;
	border-bottom: solid 1px #CECFCE;
	padding-left: 15px;
	padding-right: 15px;
}
/**登录注册**/
.btn_reg {
	background: url(../images/btn_register_nor.png) no-repeat;
	width: 209px;
	height: 65px;
	border: 0px;
	color: #FFF;
}
.recd {
	margin-top: 30px;
}
.recd .tips {
	margin-bottom: 10px;
	color: #525152;
}
.recd .lv_4 li {
	color: #7B8A9C;
}
.line {
	height: 0px;
	border-top: solid 1px #CECECE;
	margin-top: 15px;
	width: 100%;
}
.form {
	overflow: hidden;
}
.form .txt {
	
	width: 95%;
	color: #000;
}
.form .txt_wp {
	margin-bottom: 10px;
}
.form .tips {
	margin-bottom: 10px;
}
.form .btn_wp {
	margin-top: 20px;
	text-align: center;
}
.btn_wp .col {
	width: 49%;
	float: left;
	text-align: center;
}
.btn_onkeyreg {
	background: url(../images/btn_login_nor.png) no-repeat;
	width: 209px;
	height: 65px;
	border: 0px;
	color: #FFF;
}
.btn_cancel {
	background: url(../images/btn_login_nor.png) no-repeat;
	width: 209px;
	height: 65px;
	border: 0px;
	color: #FFF;
}
/**选中状态**/
.select_on {
	background: #FF9200;
	box-shadow: inset 0 0 10px #AD4900;
	-moz-box-shadow: inset 0 0 10px #AD4900;
	-webkit-box-shadow: inset 0 0 10px #AD4900;
	box-shadow: inset 0 0 20px 20px #F76D00;
	-moz-box-shadow: inset 0 0 20px 20px #F76D00;
	-webkit-box-shadow: inset 0 0 20px 20px #F76D00;
}
/**广场**/
.square_view {
	width: 100%;
	margin-top: 20px;
}
.square_view .square_app_view td {
	text-align: center;
}
/**3g**/
#g_header {

	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 45px;
/*	background: #0666c5;
	background-color: #0767c8;
	background-image: -moz-linear-gradient(top,#086ed5,#055db5);
	background-image: -ms-linear-gradient(top,#086ed5,#055db5);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#086ed5),to(#055db5));
	background-image: -webkit-linear-gradient(top,#086ed5,#055db5);
	background-image: -o-linear-gradient(top,#086ed5,#055db5);
	background-image: linear-gradient(top,#086ed5,#055db5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#086ed5', endColorstr='#055db5', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-bottom: 1px solid #044e97;
	box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);*/
	
	background: #f8f8f8;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e8e8e8));
	background-image: -moz-linear-gradient(#f8f8f8,#e8e8e8);
	background-image: -o-linear-gradient(#f8f8f8,#e8e8e8);
	background-image: -ms-linear-gradient(#f8f8f8,#e8e8e8);
	background-image: linear-gradient(to bottom,#f8f8f8,#e8e8e8);
	-wekbit-box-shadow: inset 0 -1px 0 #f4f4f4,0 1px 2px #c3c3c3;
    box-shadow: inset 0 -1px 0 #f4f4f4,0 1px 2px #c3c3c3;
	border-bottom: #bababa solid 1px;
}
#g_header a {
	color: #f3f3f3;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

/**全局提示**/
#g_tips {
	color: #4B4B4B;
	position: absolute;
	z-index: 9999;
	top: 46px;
	left: 0;
	width: 100%;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	border-bottom: #ECC932 solid 1px;
	background: #FEF598;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	display: none;
}
#g_footer {
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 72px;
	background-color: #222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
	background-image: -o-linear-gradient(top, #999, #666 2%, #222);
	padding: 0;
	border-top: 1px solid #444;
}
#g_isrcollWrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top:60px;

	z-index: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-backface-visibility: hidden;
	
}
#weibo_list_wp{
    min-height: 480px;	
}
#topic_list_wp{
	-webkit-backface-visibility: hidden;
}

.g_tabbar {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	list-style: none;
}
.g_tabbar li {
	display: block;
	float: left;
	text-align: center;
	width: 20%;
	list-style: none;
}
.g_tabbar .g_tabbar_tips {
	
	color: #E5E5E5;
	display: block;
	padding: 0px;
	line-height: 18px;
	margin: 0px;
	margin-top: -3px;
}
.g_tabbar .g_tab {
	width: 79px;
	height: 55px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}
.g_tabbar .g_tabbar_on {
	background: url(../images/home_btn_bg_d.png) no-repeat;
}
.g_left_nav_toolbar {
	float: left;
	width: 31%;
	margin-left: 10px;
	/*margin-top:10px;*/
	vertical-align: middle;
}
.g_middle_nav_toolbar {
	float: left;
	width: 34%;
	height: 45px;
	line-height:45px;
	margin-left: 0px;
	text-align: center;
	
	font-weight: 500;
	overflow: hidden;
	
}
.g_middle_nav_toolbar_message {
	text-align: center;
	float:left;
	padding-left:10px;
}
.g_middle_chute {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 45px;
}
.g_middle_chute ul {
	margin: 0px;
	padding: 0px;
}
.g_middle_chute ul li {
	display: block;
	padding-bottom: 8px;
	float: left;
	width: 70px;
	height: 46px;
	line-height:45px;
	color:#333;
	cursor: default;
}
.g_middle_chute_on {
	border-bottom: solid 4px #f60;
}
.g_middle_chute .s {
	margin-left: 60px;
}
.g_right_nav_toolbar {
	float: right;
	width: 15%;
	margin-right: 10px;
	text-align: right;
	vertical-align: middle;
}
/**搜索部分**/
.search_block {
	padding: 10px;
}
.search_input {
	width: 100%;
}
.search_input {
	padding: 0px;
	margin: 0px;
}
.search_input div {
	padding: 0px;
	margin: 0px;
	/*list-style:none;
	display:block;
	float:left;*/
	position: absolute;
	height: 87px;
}
.search_toolbar_left {
	width: 36px;
	left: 10px;
	background: url(../images/search_location_left.png) no-repeat;
}
.search_toolbar_middle {
	right: 96px;
	left: 46px;
	background: url(../images/search_location_middle.png) repeat-x;
}
.search_toolbar_right {
	width: 86px;
	right: 10px;
	background: url(../images/search_location_right.png) no-repeat;
}
.search_radio {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.search_radio_left {
	float: left;
	width: 50%;
	height: 56px;
	background: url(../images/search_radio_middle.png);
}
.search_radio_right {
	float: left;
	width: 50%;
	height: 56px;
	background: url(../images/search_radio_middle.png);
}
.g_search_btn {
	border: 0px;
	width: 64px;
	height: 84px;
	margin-left: 20px;
	background: url(../images/icon_search_nor.png) no-repeat;
}
input[type=text].g_q {
	width: 100%;
	color: #999;
	border: #d7d7d7 solid 1px;
	height: 40px;
	line-height: 33px;
	font-size: .875rem;
	background-color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.12);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.12);
	padding:10px;
}
#r_topic{
	border: #dfdfdf solid 1px;
	border-color: #c2c2c2 #b6b6b6 #a9a9a9;
	padding: 0 10px;
	height: 33px;
	line-height: 33px;
	font-size: .75rem;
	color: #4a4a4a;
	text-align: center;
	background: #fdfdfd;
	background: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eaeaea));
	background: -moz-linear-gradient(#fdfdfd,#eaeaea);
	background: -o-linear-gradient(#fdfdfd,#eaeaea);
	background: -ms-linear-gradient(#fdfdfd,#eaeaea);
	background: linear-gradient(to bottom,#fdfdfd,#eaeaea);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	display: block;
	width: 49%;
	margin-right:1%;
	float:left;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1 0 auto;
	box-flex: 1;
	flex: 1 0 auto;
	}
.mblog_content {
	border: solid 1px #e2e2e2;
	width: 100%;
	height: 150px;
	overflow: hidden;
	color: #333;
	padding: 10px;
}
.mainiput {
	padding:0 10px;
}
.search_toolbar{ background:#fff; border-radius:5px; padding:30px 20px; overflow:hidden;}
.g_nav_btn {
/*	background: url(../images/nav_btn_gray_bg.png) no-repeat;
	border: 0px;
	width: 77px;
	height: 43px;*/
	background: url(../images/new-page-icon_20130717.png) 0 -263px;
	background-repeat:no-repeat;
	overflow: hidden;
	margin: 10px 5px 0 0;
	width: 24px;
	height: 25px;
	line-height: 25px;
	color: #999;
	border: none;
	text-indent: 100px;

}
.g_nav_btn_ref {
/*	background: url(../images/icon_titile_refresh_nor.png) no-repeat;
	border: 0px;
	width: 46px;
	height: 43px;*/
	overflow: hidden;
	margin: 10px 5px 0;
	width: 24px;
	height: 25px;
	line-height: 25px;
	text-indent: -300px;
	background-image: url(../images/icon_20130530.png);
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: 0 -1347px;
	border:none;
		
}
.g_nav_btn_edit {
	background: url(../images/icon_20130530.png) no-repeat 0 -2034px;
	border: 0px;
	width: 24px;
	height: 22px;
	margin: 10px 0 0;
	cursor: default;
}

.wb_fav_on{ color:#f60;}
.wb_fav{}
.txt-detail-wb{
	border: #d7d7d7 solid 1px;
	height: 33px;
	line-height: 33px;
	font-size: .875rem;
	background-color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.12);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.12);
	margin: 10px;
	padding: 0 0 0 5px;
	height: 30px;
	line-height: 30px;
	color: #999;
}


/**底部toolbar**/
#g_toolbar {
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 72px;
	padding: 0;
	background: url(../images/toolbar_bg_normal.png) repeat-x;
}
.g_toolbar_ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.g_toolbar_ul li {
	display: block;
	float: left;
	text-align: center;
	width: 25%;
	list-style: none;
	line-height: 72px;
	height: 72px;
}
.g_toolbar_ul li a {
	width: 34px;
	height: 34px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 19px;
}
.g_toolbar_ul .btn_ref {
	background: url(../images/detail_refresh_normal.png) no-repeat;
}
.g_toolbar_ul .btn_comment {
	background: url(../images/detail_comment_normal.png) no-repeat;
}
.g_toolbar_ul .btn_forward {
	background: url(../images/detail_forward_normal.png) no-repeat;
}
.g_toolbar_ul .btn_fav {
	background: url(../images/detail_fav_highlight_normal.png) no-repeat;
}
.g_toolbar_ul .btn_fav_on {
	background: url(../images/detail_fav_normal.png) no-repeat;
}
.g_toolbar_ul .btn_blacklist {
	background: url(../images/ui_icon_blacklist.png) no-repeat;
}
.g_toolbar_ul .btn_at {
	background: url(../images/ui_icon_at.png) no-repeat;
}
.g_towbtn li {
	width: 50%;
}
.g_towbtn li a {
	width: 42px;
	height: 35px;
}
.left_block {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	color:#666;
}
.right_block {
	margin-top: 10px;
	float: right;
	margin-right: 10px;
}
.publish_btn {
	width: 80px;
	height: 30px;
	border: 0px;
	font-size: 14px;
}
.loginbar {
	margin-top: 30px;
	text-align: center;
}
.btn_login {
	height: 38px;
	width: 100%;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	border: 1px solid #065392;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 -1px 1px rgba(0,32,75,0.33);
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.5);
	box-shadow: 0 1px 1px rgba(255,255,255,0.5);
	background: #034069;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#0071D0),to(#005EAC));
	background-image: -webkit-linear-gradient(top,#0071D0,#005EAC);
	background-image: -moz-linear-gradient(top,#0071D0,#005EAC);
}
.login_txt {
	border: none;
	height: 30px;
	color: #b4b4b4;
	margin-left: 0;
}




/*---------------*/
.tit-wb{ 
	position: relative;
	padding: 8px 8px 0;
	line-height: 1.2em;
	font-size: 16px;
}
.avatar-wb {
	float: left;
	margin: 0 10px 0 0;
	border: rgba(0,0,0,.05) solid 1px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
		width:35px;
	height:35px;
}
.avatar-wb img {
	top: 0;
	float: left;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position:relative;

}
.nikename-wb {
	display: inline-block;
	margin: 3px 5px 0 0;
}
.nikename-wb img{ margin:0 2px; width:15px; height:15px;}
.origin-wb {
	display: block;
	font-size: 12px;
	white-space: nowrap;
	color:#919191;
}
.time-wb {
	margin: 0 5px 0 0;
}

.tit-wb .vip {
	position: absolute;
	top: 35px;
	left: 35px;
	width:15px;
	height:15px;
}
.tit-wb .vip img {
	width:15px;
	height:15px;
	border:none;
}

.content-wb {
	padding: 7px 8px 10px;
	line-height: 1.25em;
	font-size: 16px;
	word-break: break-all;
}

.img-wb {
	overflow: hidden;
	margin: 8px 0 0;
}

.action-wb {
	border-style: solid;
	border-width: 1px 0 0;
	border: 0;
	font-size: 12px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 -1px 0 #ebeef2;
	box-shadow: 0 -1px 0 #ebeef2;
	overflow: hidden;
}
.L-item-tab {
	position: relative;
	display: block;
	width: auto;
	text-align: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1 0 auto;
	box-flex: 1;
	flex: 1 0 auto;
}
.action-wb a {
	float: left;
/*	width: 30%;*/
	width: 49%;
}
.detail-foot a{
	width:20%;
}
.action-wb .more-action-wb {
	-webkit-box-flex: .1;
	-moz-box-flex: .1;
	-ms-flex: .1;
	box-flex: .1;
	flex: .1 0 auto;
	width: 10%;
}
.action-wb p {
	border-style: solid;
	border-width: 0 1px 0 0;
	margin: 2px 0;
	padding: 6px 0;
	line-height: 1rem;
	border-color: #ebeef2;
}
.icon, .action-wb i, .info-profile .male, .info-profile .female, .action-profile span, .item-group-popup a, .pos-info-publisher span, .action-publisher a, .wrapper-send-publisher label.member, .close-imgpop, .footer-imgpop a, .footer-imgpop span, .back-header, .more-sub-header, .refresh-sub-header, .home-sub-header, .cmt-action-cmt, .rt-action-cmt, .del-action-cmt, .content-wb .short-url::before, .content-wb a[pgtype]:before, .tit-recommend-bestfriend, .like-detail-wb a:first-child, .num-info-publisher.del, .btn-pos-pop, .AlarmInfo.arrow .close, .create-group-popup, .close-popup, .rowAlarmInfo .close, .index-nav .icon, .footer-nav>a {
	background-image: url(../images/icon_20130530.png);
	background-repeat: no-repeat;
	background-size: 24px auto;
}
.action-wb i {
	overflow: hidden;
	display: inline-block;
	padding: 0 0 0 18px;
	width: 0;
	vertical-align: middle;
}
.rt-action-wb i, .rt-action-cmt {
    background-position: 0 -249px;
}
.more-action-wb i {
    background-position: 0 -1298px;
}
.like-action-wb i {
    background-position: 0 -308px;
}
.cmt-action-wb i, .cmt-action-cmt {
    background-position: 0 -279px;
}

.wrapper-cmt {
	position: relative;
	border-style: solid;
	border-width: 0 0 1px;
	padding: 10px;
	font-size: .875rem;
	border-color: #ddd;

}
.avatar-cmt {
    float: left;
}
.avatar-cmt img {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	vertical-align: middle;
	width:30px;
	height:30px;
}
.content-cmt {
	position: relative;
	margin: 0 0 0 40px;
}
.time-wb {
	margin: 0 5px 0 0;
	font-size: .625rem;
}
.content-cmt .time-wb {
    float: right;
	color:#919191;
}
.txt-content-cmt {
	margin: 3px 45px 0 0;
	line-height: 1.3em;
	word-break: break-all;
}
.cmt-action-cmt, .rt-action-cmt, .del-action-cmt {
	overflow: hidden;
	position: absolute;
	top: 30px;
	right: 5px;
	width: 20px;
	height: 20px;
	text-indent: -300px;
}
.cmt-action-wb i, .cmt-action-cmt {
    background-position: 0 -279px;
}
/*右上交弹出菜单*/
.sub-index-nav{
	position: absolute;
	z-index: 100;
	top: 45px;
	right: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #6c6c6c;
	box-shadow: 0 1px 0 #6c6c6c;
	display:none;
	background-color: #5d5d5d;
}
.right-arrow::before {
	left: auto;
	right: 25px;
}
.sub-index-nav::before {
	content: ' ';
	position: absolute;
	top: -6px;
	right: 15px;
	border: rgba(255,255,255,.1) solid 1px;
	border-right: 0;
	border-bottom: 0;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sub-index-nav::before {
	background-color: #5d5d5d;
}

.sub-index-nav a {
	display: block;
	border-bottom: #454545 solid 1px;
	padding: 6px 20px;
	min-width: 95px;
	text-align: center;
	white-space: nowrap;
	-webkit-box-shadow: 0 1px 0 #6c6c6c;
	box-shadow: 0 1px 0 #6c6c6c;
}
.sub-index-nav a:last-child {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.sub-index-nav a span {
	display: block;
	height: 25px;
	line-height: 25px;
}
.sub-index-nav .refresh {
    background-position: center -20px;
}
.self .refresh, .self p a, .sub-index-nav .current, .sub-index-nav .icon {
/*	background-image: url(../images/icon-nav-list_20130523.png);*/
    background-image: url(../images/top_more.png);
	background-repeat: no-repeat;
	background-size: 50pt auto;
}
.sub-index-nav .icon {
	position: relative;
	top: 1px;
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 5px;
	margin-left: 10px;
}

.sub-index-nav .refresh {
    background-position: -8px -5px;
}
.sub-index-nav .home {
    background-position: -8px -41px;
}
.sub-index-nav .favorite {
    background-position: -11px -304px;
}
.sub-index-nav .msg {
    background-position: -10px -120px;
}
.sub-index-nav .info {
    background-position: -10px -156px;
}
.sub-index-nav .blacklist {
    background-position: -11px -267px;
}
.sub-index-nav .top {
    background-position: -9px -193px;
}
.sub-index-nav .exit {
    background-position: -10px -231px;
}
.sub-index-nav .write {
    background-position: -10px -79px;
}
.sub-index-nav a span {
	display: block;
	height: 25px;
	line-height: 25px;
}

/*我的首页*/
.topic-index-nav{
	background:#0666c5;
	position:fixed;
	/*overflow: hidden;*/
	padding: 10px;
	height: 90px;
	color: #fff;
	margin-bottom:15px;
}
.topic-index-nav .avatar {
	position: relative;
	float: left;
	margin: 0 10px 0 0;
	width: 50px;
	height: 50px;
	border: #f2f2f2 solid 1px;
}
.topic-index-nav .name {
	margin: 0 50px 0 60px;
	line-height: 1.3em;
}
.topic-index-nav p {
	overflow: hidden;
	clear: both;
	padding: 2px 0 0;
	font-size: .8125rem;
}
.topic-index-nav p a {
	background-color: #0a345c;
	font-size: 12px;
	color: #fffffe;
}
.topic-index-nav .refresh, .topic-index-nav p a{
	background-image: url(../images/icon-nav-list_20130523.png);
	background-repeat: no-repeat;
	background-size: 25px auto;
}
.topic-index-nav .write, .topic-index-nav .msg {
	position: relative;
	float: right;
	margin-left: 10px;
	padding: 4px 10px 4px 28px;
	border: #000 solid 1px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,.2);
	box-shadow: inset 0 0 2px rgba(255,255,255,.2);
}
.topic-index-nav .msg {
    background-position: 8px -202px;
}
.topic-index-nav .write {
    background-position: 8px -177px;
}

.topic-index-nav .refresh {
	background-position: center -142px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 24px;
	height: 25px;
	text-indent: -300px;
	background-image: url(../images/new-page-icon_20130717.png);
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: 0 -238px;
}


/*个人主页*/
.card-1 {
	background:#fff;
	overflow:hidden;
	padding:0 15px;
}
.card-1 .user_info {
	overflow: hidden;
}
.card-1 .b_author {
	margin-right: 15px;
	position: absolute;
}
.card-1 .b_info {
	margin-left: 95px;
	float:left;
	height: 80px;
}
.card-1 .b_info span {
	display: block;
	position:relative;
	color:#fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.card-1 .b_info span.u_name{
	margin: 10px 0 20px;
}
.card-1 .b_info span.u_name img{ 
	margin:0 2px;
	vertical-align: middle;
	width: 15px;
	height: 15px;
}
.card-1 .u_edit {
	float: right;
}
.card-1 .info-m{
    float: left;
	display: block;
	width: 100%;
	font-size: 12px;
	padding: 15px 0;
	color: #999;

}
.card-2 {
	display: table;
	border-top: #eee solid 1px;
	border-color: #eee;
	margin: 0 0 10px;
	width: 100%;
	height: 60px;
	line-height: 1.4em;
	font-size: .875rem;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	background-color: #fff;
}
.card-2 span{
	display:block;
	color: #4173af;
}
.card-2 a {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 20%;
	height: 60px;
	color: #5d5d5e;
	cursor:auto;
}
