{template "topic_header"}
<link href="static/style/channel.css" rel="stylesheet" type="text/css" />
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][header]}-->
<div class="a-h"><!--{eval SetADV('channel_home','header');}--></div>
<!--{/if}-->

<script language="javascript">
$(document).ready(function(){get_month_dig();get_week_dig();});
function get_week_dig(){channel_right_show_ajax('week_dig','0','0','8');}
function get_month_dig(){channel_right_show_ajax('month_dig','0','0','8');}
</script>

{template "topic_left_nav.inc"}

<div class="main">
<div class="mainWrap">
<div class="contentWrap">
<!--{if $channeltoptopic}-->
<div class="toprecommend">
<!--{else}-->
<div class="toprecommend" style="margin-top:-15px;">
<!--{/if}-->
<!--{if $channelrectopic}-->
<ul>
<!--{loop $channelrectopic $val}-->
<li>
<span>[<a href="index.php?mod=channel&id={$val[item_id]}">{$val[ch_name]}</a>]</span><a href="index.php?mod=topic&code={$val[tid]}">{$val[r_title]}</a></li>
<!--{/loop}-->
</ul>
<!--{/if}-->
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][middle_center1]}-->
<!--{eval SetADV('channel_home','middle_center1');}-->
<!--{/if}-->
<div class="channelrecommend">
<!--{if $channellist}-->
<!--{loop $channellist $val}-->
<div class="channelrecommendList">
<h3><a href="index.php?mod=channel&id={$val['ch_id']}">{$val['ch_name']}</a>
<span class="follow_c_{$val['ch_id']}" style="float:left; padding-top:2px;">{$val['channel_buddy']}</span>
<div class="mright">
{$this->Config[changeword][n_weibo]}：{$val['topic_num']} 条 <em>|</em> 关注：<font class="follow_num_{$val['ch_id']}">{$val['buddy_numbers']}</font> 人
</div>
</h3>
<!--{if $val['child']}-->
    <ul>
	<!--{loop $val['child'] $v}-->
	<li><div class="img"><a href="index.php?mod=channel&id={$v['ch_id']}"><img src="$v['picture']"/></a></div><div class="info"><p class="title"><a href="index.php?mod=channel&id={$v['ch_id']}">{$v['ch_name']}</a></p><p class="em">{$this->Config[changeword][n_weibo]}：{$v['topic_num']} 条</p><p class="em">关注：<font class="follow_num_{$v['ch_id']}">{$v['buddy_numbers']}</font> 人</p><span class="follow_c_{$v['ch_id']}">{$v['channel_buddy']}</span></div></li>
	<!--{/loop}-->
    </ul>
<!--{/if}-->
</div>
<!--{/loop}-->
<!--{/if}-->
</div>

</div>
</div>
</div>

<div class="sideBar">
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][middle_right_top]}-->
<!--{eval SetADV('channel_home','middle_right_top');}-->
<!--{/if}-->

<div class="column">
<h3>最受关注榜</h3>
<ul class="sideul sideuserList ">
<!--{if $userfanstop}-->
<!--{loop $userfanstop $val}-->
<li> <a href="index.php?mod={$val[username]}" target="_blank"><img onerror="javascript:faceError(this);" src="{$val[face]}" class="manface" onmouseover="get_user_choose({$val[uid]},'_user',{$val[uid]})" onmouseout="clear_user_choose()"></a> <b><a href="index.php?mod={$val[username]}" target="_blank">{$val[nickname]}</a></b> <div id="user_{$val[uid]}_user"></div> <div id="alert_follower_menu_{$val[uid]}"></div> <div id="global_select_{$val[uid]}" class="alertBox"></div> <div id="get_remark_{$val[uid]}"></div> <div id="button_{$val[uid]}" onclick="get_group_choose({$val[uid]});"></div> <div id="Pmsend_to_user_area"></div></li>
<!--{/loop}-->
<!--{/if}-->
</ul>
</div>
<div class="column">
<h3>一周热{$this->Config[changeword][dig]}</h3>
<ul class="channelul" id="week_dig">
</ul>
</div>
<div class="column">
<h3>一月热{$this->Config[changeword][dig]}</h3>
<ul class="channelul" id="month_dig">
</ul>
</div>
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][middle_right]}-->
<!--{eval SetADV('channel_home','middle_right');}-->
<!--{/if}-->
</div>
</div>

<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][footer]}-->
<!--{eval SetADV('channel_home','footer');}-->
<!--{/if}-->
{template "topic_footer"}