{template "topic_header"}
{template "topic_left_nav.inc"}

<link href="static/style/channel.css" rel="stylesheet" type="text/css" />

<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel][header]}-->
<div class="a-h"><!--{eval SetADV('channel','header');}--></div>
<!--{/if}-->
<style>.main{ padding-top:100px;}.exp-wrap .main{ padding-top:0;}</style>
<div class="main">
<!--频道导航-->
<div class="channelTop n-hd">
<div class="channelnav">
<div class="navLeft">{$channel_nav}</div>
<div class="list_title"> 
  <a class="listmod "href="index.php?mod=channel&id={$this->Channel}&list=txt"></a>
  <a class="picmod" href="index.php?mod=channel&id={$this->Channel}&list=pic"></a>
</div>
</div>
<div class="channelsubnav">
<!--{if $featurelist}-->
<ul class="boxNav2">
  <li class="{$cncss['all']}"><a href="index.php?mod=channel&id={$this->Channel}">全部</a></li>
  <!--{loop $featurelist $key $val}-->
  <li>|</li><li class="{$cncss[$key]}"><a href="index.php?mod=channel&id={$this->Channel}&view={$key}">{$val}</a></li>
  <!--{/loop}-->
</ul>
<!--{else}-->
<ul class="boxNav2">
  <!--{eval if('top' == $filter_view) $top = 'boxNavselect';elseif('mark' == $filter_view) $mark = 'boxNavselect';elseif('dig' == $filter_view) $dig = 'boxNavselect';		elseif('ldig' == $filter_view) $ldig = 'boxNavselect';else $post = 'boxNavselect';}-->
  <li class="{$post}"><a href="index.php?mod=channel&id={$this->Channel}&list=txt&view=post">最新发布</a></li>
  <li>|</li>
  <li class="{$dig}"><a href="index.php?mod=channel&id={$this->Channel}&list=txt&view=dig">最新{$this->Config[changeword][dig]}</a></li>
  <li>|</li>
  <li class="{$mark}"><a href="index.php?mod=channel&id={$this->Channel}&list=txt&view=mark">最新回应</a></li>
  <li>|</li>
  <li class="{$ldig}"><a href="index.php?mod=channel&id={$this->Channel}&list=txt&view=ldig">热门{$this->Config[changeword][dig]}</a></li>
  <li>|</li>
  <li class="{$top}"><a href="index.php?mod=channel&id={$this->Channel}&list=txt&view=top">推荐置顶</a></li>
  </ul> 
<!--{/if}-->
</div>
</div>
<!--频道导航-->


<div class="mainWrap">
<div class="contentWrap channelHomecon">
  <div id="listTopicMsgArea"></div>
	  <div id="listTopicArea">
        <div class="Listmain">
          <!--{if $topics}-->
          <!--{eval $counts = 1;}-->
          <!--{loop $topics $val}-->
		  <!--{eval $counts++;}-->
          <div class="feedCell" id="topic_list_{$val[tid]}"><!--{subtemplate topic_item_ajax}--></div>
          <!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel][middle_center1]&&$counts =="5"}-->
		  <!--{eval SetADV('channel','middle_center1');}-->
		  <!--{/if}-->
          <!--{/loop}-->            
          <!--{if $page_arr[html]}-->
          <div class="pageStyle">{$page_arr[html]}</div>
          <!--{/if}-->
          
		  <!--{else}-->
		  <br>
          <div style="text-align:center; color:#999">没有相关$this->Config['changeword']['p_weibo']</div>
          <!--{/if}-->
        </div>
      </div> 
        </div>
      </div> 
      <style type="text/css">.sideBar{ padding-top:20px;}.exp-wrap .sideBar{ padding-top:0;}</style>
      <div class="sideBar">
	  <div class="column channel_info">
		<h3>{$thischannels[name]}</h3>
		<!--{if $channel_managers}-->
		<div class="ci_li">频道管理员：<!--{loop $channel_managers $val}--><a href="index.php?mod={$val[uid]}">{$val[nickname]}</a><!--{/loop}--></div>
        <!--{/if}-->  
        <div class="ci_li"><span>关注：{$thischannels[follow_num]}人</span> <span class="ciline">|</span> <span>内容：{$thischannels[topic_num]}条</span></div>        
        <div class="ci_li">
        <strong>{$thischannels[follow_button]}</strong>
        </div>
		</ul>
	  </div> 
      
		<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel][middle_right_top]}-->
		<!--{eval SetADV('channel','middle_right_top');}-->
		<!--{/if}-->
        
 
	  <div class="column">
		<h3>频道简介</h3>
		<ul>
		  {$channel_description}
		</ul>
	  </div>
     
      
	  <!--{if $child_channel}-->
       <script type="text/javascript">
        $(document).ready(function () {
            var tags_a = $("#h_tags li");
            tags_a.each(function () {
                var x = 5;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                $(this).addClass("h_tags" + rand);
            });
        })
    </script>
	  <div class="column">
		<h3>下级频道</h3>
		<ul id="h_tags" class="channelul">
		  <!--{loop $child_channel $val}-->
		  <li><a href="index.php?mod=channel&id={$val[ch_id]}">{$val[ch_name]}</a></li>
		  <!--{/loop}-->
		</ul>
	  </div>
	  <!--{/if}-->
	  <div class="column">
		<h3>推荐置顶</h3>
		<ul id="recommend_top">
		</ul>
	  </div>
	  <div class="column">
		<h3>一周{$this->Config[changeword][dig]}TOP10</h3>
		<ul class="channelul" id="week_dig">
		</ul>
	  </div>
	  <div class="column">
		<h3>一月{$this->Config[changeword][dig]}TOP10</h3>
		<ul class="channelul" id="month_dig">
		</ul>
	  </div>
		<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel][middle_right]}-->
		<!--{eval SetADV('channel','middle_right');}-->
		<!--{/if}-->
</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$(".mychannel span").click(function(){$(".mychannel").toggleClass("mychannelon");$(".mychannelBox").toggle();$(".allchannelBox").hide();});
        $(".allchannel span").click(function(){$(".allchannel").toggleClass("allchannelon");$(".allchannelBox").toggle();$(".mychannelBox").hide();});
		get_recommend_top();get_month_dig();get_week_dig();
	});
	function get_recommend_top(){channel_right_show_ajax('recommend_top','{$this->Channel}');}
	function get_week_dig(){channel_right_show_ajax('week_dig','{$this->Channel}');}
	function get_month_dig(){channel_right_show_ajax('month_dig','{$this->Channel}');}
</script>
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel][footer]}-->
<!--{eval SetADV('channel','footer');}-->
<!--{/if}-->
{template "topic_footer"}