<!--资料库和话题推荐控制START-->
<!--资料库-->
<div class="column sideAtt-up">
<div class="menu_m_c menu_title sin-side-upatt"  >资料库</div>
</div>
<!--材料下载-->
<div class="column">

<!--材料下载-->

<script type="text/javascript">
	var mSwitch = new MenuSwitch("menuDiv");
	mSwitch.setDefault(0);
	mSwitch.setPrevious(true);
	mSwitch.init();
</script>
</div>
<style>
.sublist{
	display:none;
	padding-left:10px;
}
</style>

<script>

function show_attach_sub_list(obj){
	$(obj).parent().next(".sublist").toggle();
	if($(obj).parent().next(".sublist:visible").length){
		$(obj).prev('img').attr("src",'images/cp/close.gif');
	} else {
		$(obj).prev('img').attr("src",'images/cp/open.gif');
	}
}
</script>

<!--{eval $__all_cat_att = jlogic('attach_category')->get_all_cat_att();}-->

<div class="column">
	<ul>
		<!--{loop $__all_cat_att $_attach_list}-->
		<li class="attach_cat_list">
		<h3>
			<img src="static/image/cp/open.gif">
			<a href="javascript:" onclick="show_attach_sub_list(this);return false;">{$_attach_list['name']}({$_attach_list['total_count_num']})</a>
		</h3>
			<ul class="sublist">
			
			<!--{loop $_attach_list['attach_list'] $_attach_one}-->
			<a href="javascript:void(0);" onclick="downattach({$_attach_one['id']});" title="{$_attach_one['name']}">{$_attach_one['name']}</a>
			<!--{/loop}-->
				<!--{loop $_attach_list['sub_list'] $_attach_list_one}-->
				<li class="attach_cat_list">
				<h4>
					<img src="static/image/cp/open.gif">
					<a href="javascript:" onclick="show_attach_sub_list(this);return false;">{$_attach_list_one['name']}({$_attach_list_one['total_count_num']})</a>
				</h4>
					<ul class="sublist">
						<!--{loop $_attach_list_one['attach_list'] $_attach_sub_one}-->
						<a href="javascript:void(0);" onclick="downattach({$_attach_sub_one['id']});" title="{$_attach_sub_one['name']}">{$_attach_sub_one['name']}</a>
						<!--{/loop}-->
						
						<!--{loop $_attach_list_one['sub_list'] $_attach_list_one_one}-->
						<li class="attach_cat_list">
						<h5>
							<img src="static/image/cp/open.gif">
							<a href="javascript:" onclick="show_attach_sub_list(this);return false	;">{$_attach_list_one_one['name']}({$_attach_list_one_one['total_count_num']})</a>
						</h5>
							<ul class="sublist">
								<!--{loop $_attach_list_one_one['attach_list'] $_attach_sub_one_one}-->
								<a href="javascript:void(0);" onclick="downattach({$_attach_sub_one_one['id']});" title="{$_attach_sub_one_one['name']}">{$_attach_sub_one_one['name']}</a>
								<!--{/loop}-->
								
							</ul>
						</li>
						<!--{/loop}-->
					</ul>
				</li>
				<!--{/loop}-->
			</ul>
		</li>
		<!--{/loop}-->
	</ul>
</div>

</div>


<!--资料库结束END-->
		