<!--{if ($hot_tag_recommend = jlogic('data_block')->hot_tag_recommend()) && $hot_tag_recommend[list]}-->
    <!-- 热门话题推荐 -->
    <div id="hot_tag_div" class="column">
      <h3>{$hot_tag_recommend[name]}</h3>
      <div id="{MEMBER_ID}_hot_tag">
      	<ul class="sideul">
        	<!--{loop $hot_tag_recommend[list] $val}-->
			<li> 
			  <a href="index.php?mod=tag&code={$val[name]}" target="_blank">{$val['name']}({$val['topic_count']})</a>
			  {if $val['desc']}
			  	<div class="right_tj_box">
		        <div class='right_tj_box_arrow'><i class='out'>◆</i><i class='inside'>◆</i></div>
		        <span>{$val['desc']}</span>
		        </div>
			  {/if} 
			 </li>
			<!--{/loop}-->
      	</ul>
      </div>
    </div>
	<!-- 热门话题推荐 -->
    <!--{/if}-->