<!--{eval $naviList = ConfigHandler::get('footer_navigation');}-->

<!--{loop $naviList[list] $k_g $group}-->

<!--{eval $k_g = $k_g+1; }-->

    <div class="foot-line">

	<!--{if $group['avaliable']}-->

	<p>{$group[name]}</p>

	<!--{/if}-->

    <!--{loop $group[type_list] $k_o $one}-->

    <!--{if $one['avaliable']}-->

    <!--{if $one['code'] == 'beian'}-->

    <!--{eval $one['name'] = $GLOBALS[_J][config][icp];}-->

    <!--{/if}-->

    <a href="{$one[url]}" target="{$one[target]}">{$one[name]}</a>

    <!--{/if}-->

    <!--{/loop}-->

    </div>

    

    <!--{if $k_g == count($naviList[list])}-->
    <span><!--{conf copyright}--></span>
    <span><!--{conf tongji}--></span>

    <span class="foot-line" style="display:none;">

    <!--{eval $__server_execute_time = round(microtime(true) - $GLOBALS[_J][time_start], 5) . " Second ";}-->

    <!--{eval $__gzip_tips = ((defined('GZIP') && GZIP) ? "&nbsp;Gzip Enable." : "Gzip Disable.");}-->

    <span title="{$__server_execute_time},{$__gzip_tips}">网页执行信息</span> <!--{echo upsCtrl()->Comlic()}-->

    </span>

    <!--{/if}-->



<!--{/loop}-->





