<!--{if ($new_vip_user_list=jlogic('member')->get_new_vip_user(9))}-->
	 <div class="column">
	   <h3>最近认证用户</h3>
       <div class="sideul memberList">
	     <!--最新认证用户-->
			<!--{loop $new_vip_user_list $val}-->
			<li> 
			<a href="index.php?mod={$val[username]}" target="_blank">
			<img onerror="javascript:faceError(this);" src="{$val[face]}" class="manface" onmouseover="get_user_choose({$val[uid]},'_user',{$val[uid]})" onmouseout="clear_user_choose()"/>
			</a> 
			<b><a href="index.php?mod={$val[username]}" target="_blank">{$val[nickname]}</a></b> 
			{template "alert_menu"} 
			</li>
			<!--{/loop}-->
		<!--最新认证用户-->
	   </div>
	   <a class="mores" href="index.php?mod=people" target="_blank" title="更多"></a>
     </div>
     <!--{/if}-->