<div class="column">
	<h3><!--{if $options[title]}-->{$options[title]}<!--{else}-->最新公告<!--{/if}--></h3>
	<div class="sidedl">
	
		<!--{if $notice_list=jtable('notice')->new_data(($options[num]?$options[num]:3))}-->
		<!--{loop $notice_list $v}-->
		<!--{if ++$__nnlcxlss < 2}-->
		<div class="sidedt">
			<h3>
				<a href="index.php?mod=notice&id={$v[id]}" title="{$v[title]}">{eval echo(cut_str($v[title], 28));}</a>
				<div class="send-time">
					<span class="mleft"> &nbsp; </span>
					<span class="mright">发布于：{eval echo(my_date_format($v[dateline]));}</span>
				</div>
			</h3>
			<div class="notice-detail">{eval echo(cut_str(trim(strip_tags($v[content])), 90));}</div>
		</div>
		<!--{else}-->
		<div class="sidedd">
			<a href="index.php?mod=notice&id={$v[id]}" title="{$v[title]}">{eval echo(cut_str($v[title], 34));}</a>
		</div>
		<!--{/if}-->
		<!--{/loop}-->
		<!--{/if}-->
		
	</div>
</div>
<div class="column">
	<h3>手机访问{$GLOBALS[_J][config][site_name]}</h3>
	<div class="phoneShow">
        <div class="mobi">
        <i>客户端：</i>
        <a href="index.php?mod=other&code=iphone" target="_blank" class="ios" title="ios客户端"></a>
        <a href="index.php?mod=other&code=android" target="_blank" class="android" title="android客户端"></a>
        </div>
	</div>
	<div class="phoneShow">
        <i>其他方式：</i>
        <a href="index.php?mod=other&code=mobile" target="_blank">3G版</a>&nbsp;&nbsp;
        <a href="index.php?mod=other&code=wap" target="_blank">Wap版</a>&nbsp;&nbsp;
        <a href="index.php?mod=other&code=wechat" target="_blank">微信</a>&nbsp;&nbsp;
        <!--{if !$GLOBALS[_J][config][sms_enable] && !$GLOBALS[_J][config][sms_link_display]}-->&nbsp;<!--{else}-->
        <a href="index.php?mod=other&code=sms" rel="nofollow" target="_blank">短信</a>
        <!--{/if}-->
        <!--{if $GLOBALS[_J][config][wechat_enable] && $GLOBALS[_J][config]['wechat_qrcode']}-->
        <div>请关注官方微信（搜索帐号<span style="color:red;">{$GLOBALS[_J][config][my_wechat]}</span>或扫一扫）</div>
        <a href="index.php?mod=other&code=wechat" target="_blank" style="text-align: center;width: 100%;">
            <img src="{$GLOBALS[_J][config]['wechat_qrcode']}" width="150px" height="150px" alt="微信" title="扫一扫，加关注" >
        </a>
        <!--{/if}-->
	</div>
</div>