<style type="text/css">
  .main{ padding-top:0;}
	.sideBar { padding-top:20px;}
	.topicNew { 
	    width: auto;
        background:none;
		position: relative;
		margin: 0;
		padding: 0;
		float: right;
        border: none;
		
	}
	.topicNew .new_nav a{ box-shadow: 2px 2px 0px #eee;background:#666; padding: 5px 9px;margin-right: 5px;color: #fff;}
	.topicNew .new_nav .current,.topicNew .new_nav a:hover{ background: #c50;}
	.right_tj_box span { width:171px;}
	.right_tj_box { width:190px;}
	.new_nav{ float:left; padding-top:0;}
	.list_title{ float:right; margin:0; position:absolute; right: 10px; border:none;}
	.listyle{ width:150px;}
	.sideul li{ width:190px;}
	.s-newpic{ background:none; float: left; width: 1005px;}

	.topic_pic{ padding:20px 0 ;}
	.appframe{padding-top:0;}
	.exp-wrap .plaze_header_nav {
		width: 940px;
		margin: 0 auto;
		padding-bottom: 15px;
		padding: 0 0 20px 0;
		background:none;
	}
	.exp-wrap .sideBar{ padding-top:0;}
	.exp-wrap .appframeTitle{ padding:0;}
	
</style>

<div class="appframeTitle">
<span class="mleft">广场</span>
<div class="topicNew"> 
<div class="new_nav">  
<a href="index.php?mod=plaza" class="{$GLOBALS[_J][navcss][index]}">首页</a>
<a href="index.php?mod=plaza&code=new_topic" class="{$GLOBALS[_J][navcss][newtopic]}">最新发布</a>
<a href="index.php?mod=plaza&code=new_dig" class="{$GLOBALS[_J][navcss][newdig]}">最新赞</a>
<a href="index.php?mod=plaza&code=new_reply" class="{$GLOBALS[_J][navcss][newreply]}">最新评论</a> 
<a href="index.php?mod=plaza&code=new_forward" class="{$GLOBALS[_J][navcss][newforward]}">最新转发</a> 
<a href="index.php?mod=plaza&code=hot_dig" class="{$GLOBALS[_J][navcss][hotdig]}">热门赞</a>
<a href="index.php?mod=plaza&code=hot_reply" class="{$GLOBALS[_J][navcss][hotreply]}">热门评论</a> 
<a href="index.php?mod=plaza&code=hot_forward" class="{$GLOBALS[_J][navcss][hotforward]}">热门转发</a> 
<a href="index.php?mod=plaza&code=recommend" class="{$GLOBALS[_J][navcss][recommend]}">推荐</a>
<!--{if $GLOBALS[_J][config][same_city]}-->
<a href="index.php?mod=plaza&code=new_tc" class="{$GLOBALS[_J][navcss][newtc]}">同城微博</a>
<!--{/if}-->
</div>
</div>
</div>