<!-- 公告 begin -->
<div class="column">
	<h3><!--{if $options[title]}-->{$options[title]}<!--{else}-->{$GLOBALS[_J][config][changeword][weiqun]}公告<!--{/if}--></h3>
	<div class="sidedl">		
		<!--{if $qun_announcement_list=jtable('qun_announcement')->new_data((jget('qid','int')>0?jget('qid','int'):0),($options[num]?$options[num]:5))}-->
		<!--{loop $qun_announcement_list $v}-->
		<!--{eval $v[message]=strip_tags($v[message]);$v[title]=(cut_str($v[message], 30));}-->
		<div class="sidedd">
			<a href="index.php?mod=qun_announcement&id={$v[id]}&qid={$v[qid]}" title="{$v[message]}">
			<!--{if $v[id]==jget('id')}-->
				<b>{$v[title]}</b>
			<!--{else}-->
				{$v[title]}
			<!--{/if}-->
			</a>
		</div>
		<!--{/loop}-->
		<!--{/if}-->		
	</div>
</div>
<!-- 公告 end -->