<link href="static/style/vote.css" rel="stylesheet" type="text/css" />
<div class="index_v_title">
<span id="close_vote_detail_{$tid}" class="v_close"><a href="javascript:;">收起</a></span> | 
<span class="v_from"><a href="index.php?mod=vote&vid={$vote['vid']}">查看来源</a></span>
</div>
<div id="vote_publish_tips_{$tid}" class="index_v_tig"></div>
<!--投票主体 Begin-->
<div id="vote_main_{$tid}">

<div class="vtd"><a href="index.php?mod=vote&vid={$vote['vid']}">{$vote['subject']}</a></div>

<div class="vtd2">
发起人：<a href="index.php?mod={$member[username]}" title="@{$member[nickname]}">{$member[nickname]}</a>{$member[validate_html]} &nbsp;|&nbsp;
{$vote['voter_num']}人参与 &nbsp;|&nbsp; 
<!--{if $vote['multiple']}-->(最多可选{$vote['maxchoice']}项)<!--{else}-->(单选)<!--{/if}--> &nbsp;|&nbsp; 
<a href="index.php?mod=vote&vid={$vote['vid']}">详情&gt;&gt;</a>
<!--{if $vote[limit_html]}-->
<br />限 &nbsp; 制：{$vote[limit_html]}
<!--{/if}-->
</div>
	
<!--投票描述 Begin-->
<div class="vtd2">
{$vote['message']}
<!--{if $vote['img']}-->
<p><img src="{$vote['img']}" width="500"></p>
<!--{/if}-->
</div>

<!--{if !$vote['is_view'] && !$hasvoted}-->
<div style="margin:10px auto 0; text-align:center; background:#E5EEF2; padding:5px; color:#666;">投票后才能查看结果</div>
<!--{/if}-->
<script language="javascript">
function chc_vote(obj,tid){var vid = obj=='anonymous' ? 'toweibo_'+tid : 'anonymous_'+tid;document.getElementById(vid).checked = false;}
</script>
<div>
	<form name="vote_form_{$tid}" method="post" action="ajax.php?mod=vote&code=vote&vid=$vote['vid']" id="vote_form_{$tid}">
		<input type="hidden" value="{$tid}" name="tid" />
		<div class="index_tp">
		<!--投票选项 Begin-->
			{template "vote/vote_options"}
		<!--投票选项 End-->
		</div>
		<div>
			<!--{if $allowedvote && !$hasvoted}-->
            <div style="margin:5px 0 0 0; float:left;">
			<span><label for="follow_vote_{$tid}"><input type="checkbox" name="follow_vote" value="1" id="follow_vote_{$tid}" class="index_tp_input" checked="checked"/>&nbsp;关注更新</label></span>
			<span><label for="toweibo_{$tid}"><input type="checkbox" name="toweibo"  value="1" id="toweibo_{$tid}" checked="checked" class="index_tp_input" onclick="chc_vote('toweibo','{$tid}');"/>&nbsp;分享到$this->Config['changeword']["n_weibo"]</label></span>
			<span><label for="anonymous_{$tid}"><input type="checkbox" name="anonymous" value="1" id="anonymous_{$tid}" class="index_tp_input" onclick="chc_vote('anonymous','{$tid}');"/>&nbsp;匿名</label></span>
			<input class="u-btn" type="button" onclick="javascript:scroller('close_vote_detail_{$tid}',800);doVote('vote_form_{$tid}',{type:'topic',tid:'{$tid}'}); " value="投 票" >
			</div>
			<!--{else}-->
			<!--{if $allowedvote}-->
			<span style="width:100px;margin-right:50px;"><label for="follow_vote_{$tid}"><input type="checkbox" id="follow_vote_{$tid}" value="1" class="index_tp_input" {if $hasfollowed}checked="checked"{/if} onclick="mod_follow_vote(this.checked,'{$uid}','{$vid}');"/>&nbsp;关注更新</label></span>
			<!--{/if}-->
			<!--{if $hasvoted}-->
			<input type="submit" class="u-btn u-btn-c4" value="已投票"  disabled="disabled"/>
			<!--{/if}-->
			<!--{/if}-->
		</div>
	</form>
	</div>
</div>
<!--投票主体 End-->


				