<link href="static/style/vote.css" rel="stylesheet" type="text/css" />
<div class="index_v_title">
  <span id="close_reward_detail_{$tid}"><a href="javascript:;">收起</a></span> | 
  <span><a href="index.php?mod=reward&code=detail&id={$reward['id']}" title="点击查看来源">{$reward['title']}</a></span>
</div>
<div id="vote_publish_tips_{$tid}" class="index_v_tig"></div>
<!--投票主体 Begin-->
<div id="vote_main_{$tid}">
  <div class="vtd2">发起人：
    <a href="index.php?mod={$reward[username]}" title="@{$reward[nickname]}">{$reward['nickname']}</a>{$member['validate_html']} &nbsp;|&nbsp;{$reward['f_num']}人参与 &nbsp;
  </div>
  <div class="vtd2">
    <div class="re_flash_time"><span class="re_flash_time2">$reward['time_lesser']</span>
    </div>
  </div>
  <div class="t_re_body">
    <div class="t_re_left">
      <img src="$reward['image']" width="140px" height="140px">
      {if $reward['type'] == 1}
      <!--{eval if($this->Config['attach_enable']) $allow_attach = 1; else $allow_attach = 0 }-->
	  <!--{eval $allow_pic = $this->Config['image_enable'] ? $this->Config['image_enable'] : 0}-->
	  <!--{eval $allow_face = $this->Config['face_enable'] ? $this->Config['face_enable'] : 0}-->
      <p class="t_re_p"><a class="t_re_button" style="cursor:pointer;" onclick="get_forward_choose($reward['tid'],{$allow_attach},{$allow_pic},{$allow_face},{appitem:'reward',appitem_id:$reward[id],is_reward:$reward[id],i_content:'$content'});" href="javascript:void(0);">参与转发 </a></p>
      {/if}
    </div>
    <div class="t_re_right">
      <div>
      {if $reward['prize']}
      {loop $reward['prize'] $k $p}
		{if $p['prize_name']&&$p['prize']&&$p['prize_num']}
        <p>$p['prize_name']&nbsp;&nbsp;:&nbsp;&nbsp;$p['prize']($p['prize_num'])</p>
		{/if}
      {/loop}
      {/if}
             
        <p class="re_flash_title">规则：</p>
        <p>
	      {if $reward['rules']}
	        {loop $reward['rules']['user'] $key $val}
	                   需关注<a href="index.php?mod={$key}" target="_blank">{$val['nickname']}</a>,&nbsp;{$val['follow_html']}<br>
            {/loop}
            {if $reward['rules']['at_num']}
            <span>转发{$this->Config[changeword][n_weibo]}需@{$reward['rules']['at_num']}名好友</span>
            {/if}
          {else}成功转发即可参与抽奖
          {/if}
        </p>
      </div>
    </div>
  </div>
</div>
<!--投票主体 End-->