/*###########################
   @Name:静谧午后
#############################*/
/* CSS Document begin */

html {
	background: none;
}
body {
	background-color: #E0D8CB;
	background-image: url(images/themebg.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font: 12px/1.75;
}
a:link {
	color: #8F1639;
	text-decoration: none;
}
a:visited {
	color: #8F1639;
	text-decoration: none;
}
a:hover {
	color: #8F1639;
	text-decoration: none;
}
.header {
	background: #2A2A2A;
}
.g-hd2 {
	background: #333;
}
.listBox .topicNav {
	background: #666;
}
.g-content .g-doc {
	background: #fff url(images/repeat_bg_y.png);
	clear: both;
	float: left;
}

.Menu,.leftNav_main h3 {
	background: #EAE2CE;
}
.leftNav .leftNav_main li #zk1{
    color:#8F1639;
}
.leftNav .leftNav_main #zk1 i{
	border-color:transparent transparent transparent #8F1639;
}
.side_nav_more_box,.blackBox,.leftNav .leftNav_main li.m_selected, .leftNav .leftNav_main > li:hover{
    border-color:#ddd;	
}
.item_list li{
	border-color:#fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.searchTool{
	background: #fff;
	border: 1px solid #fff;
}
.contentWrap .topicNav{
    background: #666;
}