<!doctype html>
<html>
<head>
<!--{eval $__my=$GLOBALS[_J][member];}-->
<base href="{$this->Config[site_url]}/" />
{eval $conf_charset=$this->Config['charset'];}<meta http-equiv="Content-Type" content="text/html; charset=$conf_charset" />
<meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=edge" />
<title>{$this->Config[site_name]}({$this->Config[site_domain]}){conf page_title}</title>
<meta name="Keywords" content="{$this->Config['index_meta_keywords']},{$this->MetaKeywords},{conf site_name}{conf meta_keywords}" />
<meta name="Description" content="{$this->Config['index_meta_description']},{$this->MetaDescription},{conf site_notice}{conf meta_description}" />
<link rel="shortcut icon" href="favicon.ico" />
<link href="static/style/global.css" rel="stylesheet" type="text/css" />
<link href="static/style/main.css" rel="stylesheet" type="text/css" />
<link href="static/style/qingblog.css" rel="stylesheet" type="text/css" />

<link href="static/style/hack.css" rel="stylesheet" type="text/css" />

<!--{subtemplate "common_header_js"}-->
<script type="text/javascript" src="static/js/min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
</head>
{$additional_str}
<body>
<script type="text/javascript">
$(document).ready(function(){
//  $("#username").focus(function(){$("#username_label").hide(); });
//  $("#pwd").focus(function(){$("#pwd_label").hide();});
    $(".ztag").click(function(){$(".c").toggleClass("c_ok");});
});			
</script>
  <div class="q_main">
  
  <div class="q_login-b" style="opacity:1">
        <img src="static/image/qing_bg1.jpg" style="width:100%;height:100%;margin-left:0;opacity:1;visibility:visible">
     </div>


    <div class="q_index">
	  <div class="q_logo">
	    <a href="index.php" title="$this->Config['site_name']"></a>
	  </div>
	  <div class="q_login">
        <!--{if $this->Config['seccode_enable']>1 && $this->Config['seccode_login'] && $this->yxm_title}-->
		<form method="{$login_extract_forms[method]}" action="{$login_extract_forms[action]}" id="guest_login" onKeyDown="if(event.keyCode==13) YXM_float();"autocomplete="off"   >
		<!--{else}-->
		<!--{eval $login_seccode = $this->Config['seccode_enable']==1 && $this->Config['seccode_login'] ? 1 : 0;}-->
		<form method="{$login_extract_forms[method]}" action="{$login_extract_forms[action]}" id="guest_login" onKeyDown="if(event.keyCode==13) guestLoginSubmit({$login_seccode});" autocomplete="off"  >
		<!--{/if}-->
          <div>
		    <ul>
			  <li class="li_name">
			    <div style="position:relative">


				  <input id="username_input" type="text" name="username" value="$this->Config['changeword']['username']" onfocus="javascript:if(this.value=='$this->Config['changeword']['username']')this.value='';" onblur="checkUsername(this.value);if(this.value==''){this.value='$this->Config['changeword']['username']';}">
				</div>
				<div id="username_tip"></div>
			  </li>
			  <li class="li_name">
			    <div style="position:relative">
				 <!-- <label id="pwd_label">密码</label>-->
				  <input id="password_input" type="password"  name="password" placeholder="密码" onfocus="javascript:if(this.value=='$this->Config['changeword']['username']')this.value='';">
				  <!--{if $this->Config['seccode_login']}--><span id="yxm_pub_button" onclick="YXM_popBox(this,'login','{$this->yxm_title}');">&nbsp;</span><!--{/if}-->
				</div>
			  </li>
			  <li class="li_name libtn">
				<!--{if $this->Config['seccode_enable']>1 && $this->Config['seccode_login'] && $this->yxm_title}-->
			    <input class="btn" type="button" value="" onclick="YXM_float();">
				 <!--{else}-->
				 <!--{eval $login_seccode = $this->Config['seccode_enable']==1 && $this->Config['seccode_login'] ? 1 : 0;}-->
				 <input type="hidden" id="seccode_input" name="seccode_input">
			    <input class="btn" type="button" value="" onclick="guestLoginSubmit({$login_seccode});">
				<!--{/if}-->
			  </li>
			</ul>

			<ul class="w_account">
			<!--{if !$GLOBALS[_J][config][register_link_display] && jsg_member_register_is_closed()}-->
				<!-- 不显示注册链接 -->
			<!--{else}-->
			  <li>
			    <a title="注册{conf site_name}" href="{conf site_url}/index.php?mod=member">注册{conf site_name}</a>
			  </li>
			  <!--{/if}-->
			  <li class="chkbox">
              <span class="c ztag c_ok"><input id="c0" type="checkbox" name="savelogin" value="1"></span>
			   <a tabindex="3" class="ztag" href="javascript:void(0)">自动登录</a>
			   <a href="{conf site_url}/index.php?mod=get_password" class="forgetPass">忘记密码</a>
			  </li>
			  <li>
			  </li>
			</ul>			
		  </div>
		  <p>

		  <div class="loginother"><span>其它方式登录：</span>
		  	{if $this->Config[sina_enable] && sina_weibo_init()} {eval echo sina_weibo_login('s');} {/if}
			{if $this->Config[qqwb_enable] && qqwb_init()} {eval echo qqwb_login('s');} {/if}	
			{if $this->Config[yy_enable] && yy_init()} {eval echo yy_login('s');} {/if}	
			{if $this->Config[renren_enable] && renren_init()} {eval echo renren_login('s');} {/if}	
			{if $this->Config[kaixin_enable] && kaixin_init()} {eval echo kaixin_login('s');} {/if}	
			{if $this->Config[fjau_enable] && fjau_init()} {eval echo fjau_login('s');} {/if}	
		  </div>
		  </p>
        </form>
	  </div>
	</div>
  </div>

  <!--{if $this->Config[ad_enable]}-->
<!--{eval SetADV('topic_','footer');}-->
<!--{/if}-->

</div>


<div style="text-align:center;margin:20px auto 0; position:absolute; width:100%;">
    <!--{if $this->Config['default_module']==$this->Module && $this->Code==$this->Config['default_code']}-->
    <!--{eval $link_config=jconf::get('link');}-->
    <!--{if $link_config}-->
    友情链接：
    <!--{loop $link_config $link}-->    
		<!--{if !empty($link[logo])}-->
			<a href="{$link[url]}" target="_blank"><img src="{$link[logo]}" width="88" height="31" border="0" alt="{$link[name]}"></a>
		<!--{else}-->
			<a href="{$link[url]}" target="_blank">{$link[name]}</a>
		<!--{/if}-->
		 &nbsp;
    <!--{/loop}-->
    <!--{/if}-->
	<br>
    <!--{/if}-->
	{conf copyright}&nbsp;<a href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank" title="网站备案">{conf icp}</a>
    <!--{conf tongji}-->
</div>


  <!-- JS消息提示层 show_message('发布成功') -->
<div id="show_message_area"></div> 
{eval echo $this->js_show_msg();}
{$GLOBALS[schedule_html]}
<!--{eval if($GLOBALS['jsg_schedule_mark'] || jsg_getcookie('jsg_schedule')) echo jsg_schedule();}-->
<!-- Ajax端内容返回 -->
<div id="ajax_output_area"></div>

<script type="text/javascript">
function checkUsername(username){
	if(!username || username == ''){
//		$('#username_tip').html('请输入帐号');
//		$('#username_tip').show();
//		$('#username_input').css({'border-color':'#F87F7F'});
//		$('#username_tip').addClass('username_tip_error');
//		$('#username_tip').css({'width':'135px','right':'5px','top':'7px','position':'absolute'});
		$('.btn_login').attr('disabled',true);
		return false;
	}
	
	$.post(
	    'ajax.php?mod=member&code=checkuser',
	    {username:username},
	    function(d){
	    	if(d.done == false){
	    		$('#username_tip').html(d.msg);
	    		$('#username_tip').show();
				$('#username_tip').addClass('username_tip_error');
				$('#username_tip').css({'width':'75px','right':'5px','top':'43px','position':'absolute','background-image':'none'});
	    		$('.btn_login').attr('disabled',true);
				
	    	} else {
	    		$('#username_tip').show();
				$('#username_input').css({'border-color':'#999'});
				$('#username_tip').removeClass('username_tip_error');
				$('#username_tip').css({'width':'35px','right':'9px','top':'38px','position':'absolute'});
	    		var html = "<img sr" + "c='" + d.msg+  "' onerror='javascript:faceError(this);'/>";
	    		$('#username_tip').html(html);
	    		$('.btn_login').attr('disabled',false);
	    	}
	    },
	    'json'
	)
}


function logincheckUsername(username){
	if(!username || username == ''){
//		$('#username_tip').html('请输入帐号');
//		$('#username_tip').show();
//		$('#username_input').css({'border-color':'#F87F7F'});
//		$('#username_tip').addClass('username_tip_error');
//		$('#username_tip').css({'width':'135px','right':'5px','top':'7px','position':'absolute'});
		$('.btn_login').attr('disabled',true);
		return false;
	}
	
	$.post(
	    'ajax.php?mod=member&code=checkuser',
	    {username:username},
	    function(d){
	    	if(d.done == false){
	    		$('#username_tip').html(d.msg);
	    		$('#username_tip').show();
				$('#username_tip').addClass('username_tip_error');
				$('#username_tip').css({'width':'auto'});
	    		$('.btn_login').attr('disabled',true);
				
	    	} else {
	    		$('#username_tip').show();
				$('#username_input').css({'border-color':'#d2d2d2'});
				$('#username_tip').removeClass('username_tip_error');
				$('#username_tip').css({'width':'35px','right':'5px','top':'7px','position':'absolute'});
	    		var html = "<img sr" + "c='" + d.msg+  "' onerror='javascript:faceError(this);'/>";
	    		$('#username_tip').html(html);
	    		$('.btn_login').attr('disabled',false);
	    	}
	    },
	    'json'
	)
}
</script>
{$this->yxm_html}
</body>
</html>
