<!doctype html>
<html>
<head>
<!--{eval $__my=$GLOBALS[_J][member];}-->
<base href="{$this->Config[site_url]}/" />
{eval $conf_charset=$this->Config['charset'];}<meta http-equiv="Content-Type" content="text/html; charset=$conf_charset" />
<meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=edge" />
<title>{$this->Config[site_name]}({$this->Config[site_domain]}){conf page_title}</title>
<meta name="Keywords" content="{$this->Config['index_meta_keywords']},{$this->MetaKeywords},{conf site_name}{conf meta_keywords}" />
<meta name="Description" content="{$this->Config['index_meta_description']},{$this->MetaDescription},{conf site_notice}{conf meta_description}" />

<link rel="shortcut icon" href="favicon.ico" />
<link href="static/style/main.css" rel="stylesheet" type="text/css" />
<link href="static/style/login.css" rel="stylesheet" type="text/css" />
<link href="static/style/global.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<link href="static/style/hack.css" rel="stylesheet" type="text/css" />
<![endif]-->
{subtemplate "common_header_css"}
{subtemplate "common_header_js"}
<script type="text/javascript" src="static/js/min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>

</head>
{$additional_str}
<body style="background:#f2f2f2;">

<div class="g-hd">
<div class="m-hd">
<h1 class="u-logo">
<a title="{conf site_name}" href="index.php"><img src="images/logo_guest.png" style="_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop)"/></a></h1>
</div>
</div>


<div class="g-bd"> 
  <div class="m-box10">
  
    <div class="m-banner">
    <!--幻灯广告-->
    {if $this->Config[slide_index_enable] && ($slide_config=jconf::get('slide_index')) && $slide_config[enable] && $slide_config[list]}
	<script src="static/js/kinslideshow.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){
			$("#KinSlideshow").KinSlideshow({
			moveStyle:"down",			//切换方向 可选值：【 left | right | up | down 】
			intervalTime:3,   			//设置间隔时间为5秒 【单位：秒】 [默认为5秒]
			moveSpeedTime:400 , 		//切换一张图片所需时间，【单位：毫秒】[默认为400毫秒]
			isHasTitleFont:false,		//是否显示标题文字 可选值：【 true | false 】
			isHasTitleBar:false,		//是否显示标题背景 可选值：【 true | false 】[默认为true]	
			//标题文字样式，(isHasTitleFont = true 前提下启用)  
			titleBar:{titleBar_height:30,titleBar_bgColor:"#08355c",titleBar_alpha:0.3},
			titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
			//按钮样式设置，(isHasBtn = true 前提下启用) 
			//btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#1072aa",btn_fontColor:"#000000",btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#cccccc",btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
			});
		});
	</script>
	<div id="KinSlideshow" style="visibility:hidden;width:680px;height:210px;overflow:hidden;position:relative; padding:0; margin:0;">
	{loop $slide_config[list] $_v}
	  {if $_v['enable'] == 1}
        <a href="{$_v[href]}" target="_blank" ><img src="{$_v[src]}" alt="" width="680" height="210" onerror="javascript:faceError(this);"/></a>
	  {/if}
    {/loop}
	</div>
{/if}
<!--幻灯广告-->

      <!--热门话题-->
      <div class="talking"> <strong>正在热议：</strong>
        <div id="Tacticle" class="acticle">
          <div id="indemo">
            <div id="Tacticle_s">
			<!--{if $r_tags}-->
            <!--{loop $r_tags $val}--><a href="index.php?mod=tag&code={$val[name]}" class="Ts">{$val[name]}</a><!--{/loop}-->
            <!--{/if}-->
            </div>
            <div id="demo2"></div>
          </div>
		<script type="text/javascript">
			/*
			 两秒后再执行
			 */
			 $(document).ready(function(){
				var speed=40;
				var tab=document.getElementById("Tacticle");
				var tab1=document.getElementById("Tacticle_s");
				var tab2=document.getElementById("demo2");
				tab2.innerHTML=tab1.innerHTML;
				function Marquee(){
					if(tab2.offsetWidth-tab.scrollLeft<=0)
						tab.scrollLeft-=tab1.offsetWidth
					else{
						tab.scrollLeft++;
					}
				}
				var MyMar=setInterval(Marquee,speed);
				tab.onmouseover=function() {clearInterval(MyMar)};
				tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};
			 });
		</script>
        </div>
      </div>
      <!--热门话题-->
    </div>
    <!--注册登录-->
    
    <div class="m-login10">
	<!--{eval $login_extract=jsg_member_login_extract();}-->
	<!--{if $login_extract && $login_extract[reg_button_html]}-->
		{$login_extract[reg_button_html]}
	<!--{/if}-->
        
	  <!--{if $login_extract && (($login_extract_forms=$login_extract[login_forms]) || ($login_extract_html=$login_extract[login_html]))}-->
		<!--{if $login_extract_forms}-->
			<form method="{$login_extract_forms[method]}" action="{$login_extract_forms[action]}" id="guest_login">
			  <!--{loop $login_extract_forms[hidden_inputs] $v}-->
			  <input type="hidden" name="{$v[name]}" value="{$v[value]}" />
			  <!--{/loop}-->
			  <div class="item">
				<span class="enterInput">
				<input type="text" name="{$login_extract_forms[username_input][name]}" value="{$username}" id="username_input" value="昵称/email/个性域名" onfocus="this.value=''" onblur="if(this.value==''){this.value='昵称/email/个性域名';}">
				</span> 
				</div>
			  <div class="item">
				<span class="enterInput">
				<input type="password" name="{$login_extract_forms[password_input][name]}" id="password_input" value="请输入登录密码" onFocus="this.value=''" onBlur="if(this.value==''){this.value='请输入登录密码';}">
				</span> 
				</div>
			  <div class="item pos_rel">
			   
				<span class="enterInput"></span>
				<div class="login-tiparea autologin-tiparea" id="autologin_tiparea">
				  <div class="login-tiparea-top"></div>
				</div>
			  </div>
			  <div class="clearfix">
				
				 <span class="enterInput"> <input type="submit" class="u-btn" value="{$login_extract_forms[submit_input][value]}" name="{$login_extract_forms[submit_input][name]}"/></span> 
				<span class="enterInput"> <input type="submit" class="u-btn" value="登 录" name="{$login_extract_forms[submit_input][name]}"/></span>  
			  </div>
			  <div class="clearfix2">
			  
			  </div>
			</form>
		  <!--{else}-->
			<!--{if $login_extract_html}-->{$login_extract_html}<!--{/if}-->
		  <!--{/if}-->
	  <!--{else}-->
        <!--{if $this->Config['seccode_enable']>1 && $this->Config['seccode_login'] && $this->yxm_title}-->
		<form method="POST" action="{conf site_url}/index.php?mod=login&code=dologin" id="guest_login" onKeyDown="if(event.keyCode==13) YXM_float();" autocomplete="off">
		<!--{else}-->
		<!--{eval $login_seccode = $this->Config['seccode_enable']==1 && $this->Config['seccode_login'] ? 1 : 0;}-->
		<form method="POST" action="{conf site_url}/index.php?mod=login&code=dologin" id="guest_login" onKeyDown="if(event.keyCode==13) guestLoginSubmit({$login_seccode});" autocomplete="off">
		<!--{/if}-->
          <div class="item">
            <span class="enterInput">
            <input type="text" name="username" id="username_input" onBlur="checkUsername(this.value);if(this.value==''){this.value='$this->Config['changeword']['username']';}" value="{$username}" onFocus="this.value=''" class="u-ipt u-ipt-2">
            </span> 
            <div id="username_tip"></div>
            </div>

          <div class="item">
            <span class="enterInput">
            <input type="password" name="password" id="password_input" value="请输入登录密码" onFocus="this.value=''" onBlur="if(this.value==''){this.value='请输入登录密码';}" class="u-ipt u-ipt-2">
            </span> 
            </div>
            
           <div class="line line-extra">
           <p class="txt1"><label for="savelogin">
            <input type="checkbox" id="savelogin" name="savelogin" value="1" class="inputcheckTag"  title="请不要在公共电脑上使用自动登录功能">
            记住帐号 </label></p>
           <p class="bdr"></p>
           <p class="txt1"><a onClick="window.location.href='{conf site_url}/index.php?mod=get_password';return false;" href="javascript:void(0)"  title="点此可通过2种方式重设密码">忘记密码</a> </p>
		   <!--{if !$GLOBALS[_J][config][register_link_display] && jsg_member_register_is_closed()}-->
				<!-- 不显示注册链接 -->
				&nbsp;
			<!--{else}-->
           <p class="bdr"></p>
           <p class="txt1"><a title="注册{conf site_name}" onClick="window.location.href='{conf site_url}/index.php?mod=member';return false;" >立即注册</a></p>
           <!--{/if}-->
            <div class="login-tiparea autologin-tiparea" id="autologin_tiparea">
              <div class="login-tiparea-top"></div>
            </div>
           </div> 
            

          <div class="item">            

			<!--{if $this->Config['seccode_enable']>1 && $this->Config['seccode_login'] && $this->yxm_title}-->
			<input type="button" class="u-btn" value="登 录" onClick="YXM_float();"/>
			<!--{else}-->
			<input type="hidden" id="seccode_input" name="seccode_input">
			<input type="button" class="u-btn u-btn-block" value="登 录" onClick="guestLoginSubmit({$login_seccode});"/>
			<!--{/if}-->

		  </div>
          
		  <div class="clearfix2">		  
		  	{if $this->Config[sina_enable] && sina_weibo_init()} {eval echo sina_weibo_login('s');} {/if}
			{if $this->Config[qqwb_enable] && qqwb_init()} {eval echo qqwb_login('s');} {/if}	
			{if $this->Config[yy_enable] && yy_init()} {eval echo yy_login('s');} {/if}	
			{if $this->Config[renren_enable] && renren_init()} {eval echo renren_login('s');} {/if}	
			{if $this->Config[kaixin_enable] && kaixin_init()} {eval echo kaixin_login('s');} {/if}	
			{if $this->Config[fjau_enable] && fjau_init()} {eval echo fjau_login('s');} {/if}	
		  </div>
        </form>
	  <!--{/if}-->
      </div>

    <!--注册登录-->
  </div>
  
 <div class="m-box11">
    <div class="midleft">
	<h1 class="htitle2">最受关注用户</h1>
      <ul class="userlist">
	  <!--{loop $r_users $val}-->
      <!--{eval ++$_floor;}-->
      <li>
      <a target="_blank" href="index.php?mod={$val[username]}" class="nude_face"><img  title="{$val[nickname]}" src="{$val[face]}"  onerror="javascript:faceError(this);"></a>
      <a target="_blank" href="index.php?mod={$val[username]}">{$val[nickname]}</a>
      </li>
      <!--{/loop}-->
      </ul>
	  <h1 class="htitle4">近期活跃用户</h1>
      <ul class="userlist">
	  <!--{loop $day2_r_users $val}-->
      <li><a target="_blank" href="index.php?mod={$val[username]}"  class="nude_face"><img  title="{$val[nickname]}" src="{$val[face_original]}"  onerror="javascript:faceError(this);"></a>
      <a target="_blank" href="index.php?mod={$val[username]}">{$val[nickname]}</a>
      </li>
	  <!--{/loop}-->
      </ul>

	</div>
    <div class="midcenter">
    <h1 class="htitle">大家都在说<!--{if $this->Config['seccode_enable']>1 && $this->Config['seccode_login'] && $this->yxm_title}--><span id="yxm_pub_button" onClick="YXM_popBox(this,'login','{$this->yxm_title}');">&nbsp;</span><!--{/if}--></h1>
    {template "login/index_recommend"}
    </div>
    <div class="midright">
	  <!--{jwidget "notice.right"}-->

<script type="text/javascript">
function tabChange(obj,id)
{
var arrayli = obj.parentNode.getElementsByTagName("li"); //获取li数组
var arrayul = document.getElementById(id).getElementsByTagName("ul"); //获取ul数组
for(i=0;i<arrayul.length;i++)
{
if(obj==arrayli[i])
{
arrayli[i].className = "cli";
arrayul[i].className = "";
}
else
{
arrayli[i].className = "";
arrayul[i].className = "hidden";
}
}
}
</script>  



<!--{if $this->Config[ad_enable]}-->
<!--{eval SetADV('topic_','middle_right');}-->
<!--{/if}-->
</div>
</div>
<!--{if $this->Config[ad_enable]}-->
<!--{eval SetADV('topic_','footer');}-->
<!--{/if}-->

<div class="mlink">
<span class="lf">
    <!--{jwidget "link"}-->
</span>
<span class="rt">
    <!--{eval $about_link = jconf::get('about_link');}-->
    <!--{loop $about_link $about_id $_about}-->
    <!--{eval global $jishigou_rewrite; if($jishigou_rewrite) $_about[link]=$jishigou_rewrite->
    formatURL($_about[link],null);}--> <a href="{$_about[link]}">{$_about[name]}</a>&nbsp;
    <!--{/loop}-->
    {conf copyright}&nbsp;<a href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank" title="网站备案">{conf icp}</a>
    <!--{conf tongji}-->
	<!--{eval $__server_execute_time = round(microtime(true) - $GLOBALS[_J][time_start], 5) . " Second ";}-->
	<!--{eval $__gzip_tips = ((defined('GZIP') && GZIP) ? "&nbsp;Gzip Enable." : "Gzip Disable.");}-->
	<span class="f10" title="{$__server_execute_time},{$__gzip_tips}">执行信息</span>
</span>
</div>



<script type="text/javascript">
$(document).ready(function(){
	//图片延迟加载
	$("ul.imgList img, div.avatar img.lazyload").lazyload({
		skip_invisible : false,
		threshold : 200,
		effect : "fadeIn"
	});


});
</script>


</div>
</div>
<!-- JS消息提示层 show_message('发布成功') -->
<div id="show_message_area"></div>
{eval echo $this->js_show_msg();}
{$GLOBALS[schedule_html]}
<!--{eval if($GLOBALS['jsg_schedule_mark'] || jsg_getcookie('jsg_schedule')) echo jsg_schedule();}-->
<!-- Ajax端内容返回 -->
<div id="ajax_output_area"></div>
{$this->yxm_html}
</body>
</html>
