{template "guest_header"}
<link href="static/style/main.css" rel="stylesheet" type="text/css" />
<link href="static/style/send.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jsgst.js"></script>
<script type="text/javascript" src="static/js/publishbox.js"></script>
<div class="g-bd" style="overflow:AUTO">  
  <div class="m-tit">
  发布微博
  </div>
 <div class="m-box" style="overflow:AUTO; padding-bottom:180px;">
 <div class="m-help">向大家做一个自我介绍，给大家一个与我互动的机会！</div>
  <div class="m-reg">
      <input type="hidden" name="check_PublishBox_uid" id="check_PublishBox_uid"  value="{MEMBER_ID}"/>
      {$menuHTML}
      <div class="m-help2">
	  提示：请放心发布，如果觉得不合适后续可随时编辑、删除。
      </div>
      <div class="setp_send">
      {template "topic_publish"}
      </div>
	  <div style="clear:both;height:0;"></div>
      <div class="m-btn"><a class="u-btn u-btn-lg" href="javascript::" id="publishSubmit{$h_key}">发布并进入我的首页</a></div>
  </div>

  <script type="text/javascript">
  <!--{if $this->Config['seccode_publish'] && $this->yxm_title}-->
		$("#publishSubmit{$h_key}").bind('click',function() {
			YXM_pubtopic('i_already{$h_key}','{$h_key}','topic_type{$h_key}','',$('#mapp_item_id{$h_key}').val(),{$channel_must});return false;
		});
		<!--{else}-->
		$("#publishSubmit{$h_key}").bind('click',function() {
			publishSubmit('','','i_already{$h_key}','totid{$h_key}','{$type}','topic_type{$h_key}','','',$('#mapp_item{$h_key}').val(),
			$('#mapp_item_id{$h_key}').val(),$('#xiami_id').val(),$('#touid{$h_key}').val(),{$channel_must},$('#cverify').val());
			return false;
		});
		<!--{/if}-->
  </script>
 </div>
</div>
{template "topic_footer"}
