{template "guest_header"}

<div class="g-bd">  
  <div class="m-tit">
  关注频道
  </div>

 <div class="m-box">
  <div class="m-reg"> 
  <div class="m-help">选择感兴趣的频道进行关注，可第一时间了解频道最新动态</div>

	  {$menuHTML}
        <div class="follow_channel"> 	    
        {loop $channelList $k $v} 
         <dl>
            <dt>
			  <div><img src="{if !$v['picture'] }./images/channelimg.gif{else}$v['picture']{/if}"/><br><a href="javascript:void(0)">{$v['ch_name']}</a>
              <span class="follow_channel_fav follow_c_{$v['ch_id']}">{$v['follow_html']}</span></div>
			</dt>
            <dd>
             {loop $v['second'] $key $val}
               <div><img src="{if !$val['picture'] }./images/channelimg.gif{else}$val['picture']{/if}"/><br><a href="javascript:void(0)">{$val['ch_name']}</a>
               <span class="follow_channel_fav follow_c_{$val['ch_id']}">{$val['follow_html']}</span></div>
             {/loop}
            </dd>               
         </dl>
        {/loop}
        </div>       	      
      </div>
 
    <div class="m-btn"><a href="{$redirect_to}" class="u-btn u-btn-lg">进入下一步</a>  </div>
  </div>
</div>
{template "topic_footer"}


