/*###########################

   @Name:希望 

#############################*/
/* CSS Document begin */


html {
	background: none;
}
body {
	background-color: #E0EBDB;
	background-image: url(images/themebg.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font: 12px/1.75;
}
a:link {
	color: #0a8cd2;
	text-decoration: none;
}
a:visited {
	color: #0a8cd2;
	text-decoration: none;
}
a:hover {
	color: #0a8cd2;
	text-decoration: none;
}
.header {
	background: #3b3e3d;
}
.g-hd2, .exp-wrap .g-hd2 {
/*	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E53B3E3D', endColorstr='#E53B3E3D');
*/	background:rgba(59,62,61,0.9);
}
.exp-wrap .m-hd2 ul.hleft li.on,.exp-wrap .m-hd2 ul.hleft li:hover,.exp-wrap .m-hd2 ul.hleft li a.t_hdnav_cur,.exp-wrap .m-hd2 ul.hleft li.on a.t_hdnav_cur,.exp-wrap .m-hd2 ul.hright li.onn,.exp-wrap .m-hd2 ul.hright li.on{
    border-color:#c30;
}
.listBox .topicNav {
	background: #666;
}
.g-content .g-doc {
	background: #fff url(images/repeat_bg_y.png);
	clear: both;
	float: left;
}
.Menu,.leftNav_main h3 {
	background: #E4F4E2;
}
.Menu{
    width:129px;
}
.leftNav .leftNav_main li #zk1{
    color:#0a8cd2;
}
.leftNav .leftNav_main #zk1 i{
	border-color:transparent transparent transparent #0a8cd2;
}
.side_nav_more_box,.blackBox,.leftNav .leftNav_main li.m_selected, .leftNav .leftNav_main > li:hover{
    border-color:#ddd;	
}
.item_list li{
	border-color:#fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.searchTool{
	background: #fff;
	border: 1px solid #fff;
}

.exp-wrap .memberBox,.exp-wrap .column{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2FFFFFF', endColorstr='#B2FFFFFF');
	background:rgba(255,255,255,0.7);
}

.contentWrap .topicNav {
background: #666;}