{$return_tid}<jishigou>
<script type="text/javascript">$(document).ready(function(){showdiguser();showrcduser();});</script>
<div class="ajax_recommendTitle">
<em class="mleft bcj-topic-top">最新推荐</em>
<span class="mright"><a href="javascript:void(0);" onclick="ajax_recd_colse();" title="关闭" class="close_2"></a></span>
</div>
<!--{if $topic_list}-->
<!--{loop $topic_list $val}-->
<div class="feedCell" id="topic_list_{$val[tid]}">
<!--{subtemplate topic_item_ajax}-->
</div>
<!--{/loop}-->
<!--{/if}-->

