<link href="static/style/img.css" rel="stylesheet" type="text/css" />
<!--{if $member[uid]==MEMBER_ID}-->
<script type="text/javascript" src="static/js/img.js"></script>
<script type="text/javascript">
$(function(){$(".usermod").click(function(){albumimagedone($(this).attr("currtype"),$(this).attr("currdo"),$(this).attr("currid"));});});
</script>
<div class="u-tip">您在微博里发布的图片，默认都保存在“默认相册”里
	<input type="button" value="上传图片" class="u-btn" style="margin-left:30px;" onclick="uploadphoto('photo','handkey',this);" data-id="{$albumid}">
	<!--{if $list_type == 'album'}-->
	<span id="addalbumhtml" style="margin-left:30px;">
	<input type="button" value="添加相册" class="u-btn" onclick="Createalbum(0);">
	</span>
	<!--{/if}-->
</div>
<!--{/if}-->
<div class="Menulink_classic" style="margin:15px 0px"><ul>{$nav_url}</ul></div>
<!--{if $imginfo}-->
<h3 class="t-h3">{$navtitle}</h3>
<p style="margin:10px 0px"><a href="{$imginfo['photo']}"><img src="{$imginfo['photo']}" onerror="javascript:faceError(this);" width="{$imgwidth}" height="{$imgheight}"></a></p>
<p style="margin:10px 0px">图片大小：{$imgsize}</p>
<p style="margin:10px 0px">图片像素：{$imginfo[width]}px(宽) × {$imginfo[height]}px(高)</p>
<p style="margin:10px 0px">图片描述：{$imginfo[description]}</p>
<p style="margin:10px 0px">图片来源：{$imgfrom}</p>
<p style="margin:10px 0px">上传时间：{$imgtime}</p>
<style>.topic_new_add{margin:10px 0px;}.topic_new_add .sendBox,.feedCell{box-shadow: none;}</style>
<div class="topic_new_add">
<!--{template "topic_publish"}--> 
</div>
<script language="Javascript">
	function listTopic( s,lh ) {	
		var s = 'undefined' == typeof(s) ? 0 : s;var lh = 'undefined' == typeof(lh) ? 1 : lh;
		if(lh){window.location.hash="#listTopicArea";}
		var myAjax = $.post("ajax.php?mod=app&code=list_topic",{
			<!--{loop $params $k $v}-->
			{$k}:"{$v}",
			<!--{/loop}-->
			start:s
		},function (d){$("#listTopicArea").html(d);}); 
	}
</script>
<div class="Listmain" style="margin-top:15px;">
	<div id="listTopicMsgArea"></div>
	<div id="listTopicArea">
	{template "topic_list_ajax"}
	</div>
</div>
<!--{else}-->
<!--{if $myalbums}-->
<ul class="album" id="albumlists">
<!--{loop $myalbums $val}-->
      <li id="{$list_type}_{$val['id']}">
       <p><a href="{$val['url']}"><img class="album_img" src="{$val['pic']}" onerror="javascript:faceError(this);" rel="{$val['rel']}"></a></p>
        <div class="album_name"><a href="{$val['url']}" title="{$val['title']}" id="{$list_type}_{$val['id']}_name">{$val['albumname']}</a> </div>
        <!--{if $val[id]>0}--> 
        <!--{if $list_type == 'album'}--> 
        <div class="album_total">图片：{$val['picnum']}张 </div>
		<div class="album_total">{$val['purview']}</div>
        <!--{/if}-->
		<!--{if $member[uid]==MEMBER_ID}-->
        <div class="album_aut">
        <a class="usermod" href="javascript:;" currid="{$val['id']}" currtype="{$list_type}" currdo="mod">编辑</a><a class="usermod" href="javascript:;" currid="{$val['id']}" currtype="{$list_type}" currdo="del">删除</a> 
        </div>
		<!--{/if}-->
        <!--{/if}--> 
      </li>
<!--{/loop}-->
</ul>
<!--{if $pagehtml[html]}-->
<p><div style="float:left;width:580px;padding-top: 5px;margin-top:-17px;border-top:1px dotted #eee">
<li>{$pagehtml[html]}</li>
</div></p>
<!--{/if}-->
<!--{else}-->
<div class="u-tip">没有找到相关相册或图片</div>
<!--{/if}-->
<!--{/if}-->