{template "topic_header"}
{template "topic_left_nav.inc"}
<link href="static/style/cp.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/cp.js"></script>
<div class="appframe">
  <div class="appframeTitle"> <span class="mleft">{$d_c_name}目录结构表</span> </div>
  <div class="appframeWrap">
    <div class="left">
      <h3>{$d_c_name}结构</h3>
      {$cpleft} 
	</div>
    <div class="right">
      <!--{if $this->
      Config[department_enable]}-->
      <div class="top">
        <h3><font id="cp_title">{$cp_title}</font>直属{$d_d_name}结构</h3>
        <div id="cp_department"> {$cprighttop} </div>
      </div>
      <!--{/if}-->
      <div class="down">
        <h3><font id="cp_u_title">{$cp_title}</font><font id="dp_u_title"></font>直属人员列表</h3>
        <div id="cp_user"> {$cprightdown} </div>
      </div>
    </div>
  </div>
</div>
{template "topic_footer"}