{template "topic_header"}
{template "topic_left_nav.inc"}
<script type="text/javascript" src="static/js/validate.js"></script>

<div class="appframe">  
  <div class="appframeTitle">
    <span class="mleft">我关注的人</span>
    

    <!--{if !$pageOnOff}-->
    <!--分组管理-->
    <!--{if $member[uid] == MEMBER_ID}-->
    <style type="text/css">
    .groupNav{ width:361px; margin-left: 30px;top: 6px;}
	.add_group{ padding:0 5px; background:#f9f9f9;float: left;line-height: 30px;margin: 0;}
	.groupNavul li{ background-color:#f9f9f9;}
	.groupNavul li.current{ background-color:#ddd;}
    </style>
    <div class="groupNav">
		
		<ul class="groupNavul">
		    <!--{eval if($this->Get[gid] == '') $follow= "current";}-->
			<li class="{$follow}"><span><a href="index.php?mod=follow&uid={$member[uid]}" title="">全部</a></span></li>
			
			<!--{if $group[name]}-->
			<li class="current nfTagB_cur">
			<span>
			<b id="up_grouplist_view_{$group[id]}">{$group[name]}</b>
			<a href="index.php?mod=follow" class="arrow">
			<cite class="arr_m"></cite> 
			<div class="sltmenu" onclick="get_group_choose({$member[uid]});">管理分组</div>
			</a>
			</span>
			</li>
			<!--{/if}-->
            
			<!--{loop $group_list_header $val}-->
			<!--{if $val[id] != $group[id]}-->
			<!--{eval $li_class = jget('gid') == $val[id] ? "current" : '';}-->
			<li class="{$li_class}">
			<span id="del_group_follow_top_{$val[id]}">
			<a title="{$val[name]}" href="index.php?mod=follow&gid={$val[id]}">{$val[name]}</a>
			</span>			
			</li>
			<!--{/if}-->
			<!--{/loop}-->
            
			<script type="text/javascript">
			 $(document).ready(function(){
			 $(".arrow").mouseover(function(){$(".sltmenu").show();});
			 $(".arrow").mouseout(function(){$(".sltmenu").hide();});
			 $(".moreBox").mouseover(function(){$(".morelist").show();});
			 $(".moreBox").mouseout(function(){$(".morelist").hide();});
			});
			</script>
			  
			<li class="moreBox" style="_margin:-200px 0 0 -225px;"> <a href="javascript:;" class="moreti"><span class="txt">更多</span><span class="more"></span></a> 
			<div class="morelist" >
			<ul class="sltmenu_m" style="*margin-top:-20px;">
			<li id="add_group_fllow" class="grouplist">
			<!--{template "topic_group_ajax"}-->
			</li>
			<li class="B_linedot"></li>
			<li class="slA"><a href="javascript:void(0)" onclick="showFollowGroupAddDialog();">添加分组</a></li>
			<li class="slM"><a href="index.php?mod=follow&uid={$member[uid]}">管理分组</a></li>
			</ul>
			</div>	
			</li>
		</ul>	
        <a href="javascript:void(0)" onclick="showFollowGroupAddDialog();" class="add_group" >创建分组</a>
		
	</div>
	<!--{/if}-->
	<!--{/if}-->

	<!--搜索关注 start -->
	<!--{if MEMBER_ID == $member[uid]}-->
	<div class="mright">
	  <form method="get" action="#" name="headSearchForm" id="headSearchForm" onsubmit="return ProfileSearch();">
	   <input id="ProfileSearchType" name="searchType" type="hidden" value="followSearch">
	   <input id="userName" name="userName" type="hidden" value="{MEMBER_NAME}">
	   <!--{eval $serachValue = $keyword ? $keyword : "请输入关键字";}-->
	   <input class="sc_r_t_a" id="keywarod" name="headSearchValue" type="text" value="{$serachValue}" onfocus="this.value=''" onblur="this.value='请输入关键字'" style="margin-top:5px;*margin-top:8px;_margin-top:6px;"/>
	   <a href="#" onclick="javascript:return ProfileSearch();" class="u-btn btnTexta" style="*padding:5px 10px">搜 索</a>
	   </form>
	</div>
	<!--{/if}-->
  	<!-- 搜索关注 end -->
  </div>
  
  <div class="appframeWrap" style="+margin-top:20px;">
   <!--{if !$pageOnOff}-->
   <!--分组管理-->
   <!--{if $member[uid] == MEMBER_ID}-->
	<div class="topicNav">

	<div class="nfBox">
    <div class="left">排序方式：
    <!--{eval if(empty($this->Get[order])) $_follow_time = "current";}-->
	<!--{eval if($this->Get[order] == 'lastpost') 	$lastpost = "current";}-->
	<!--{eval if($this->Get[order] == 'fans_count') $fans_count = "current";}-->
	<a href="index.php?mod=follow" class="{$_follow_time}">关注时间</a> 
	<a href="index.php?mod=follow&type=lastpost" class="{$lastpost}">最近活跃</a> 
	<a href="index.php?mod=follow&type=fans_count" class="{$fans_count}">粉丝数</a>
	</div>
	<div class="clear"></div>
	</div>

	<!--{if $this->Get[gid]}-->
	<div class="nfBox">
	<div class="nfBoxList">
	<!--{eval if($this->Get[gid]) $get_gid= "&gid=".$this->Get[gid];}-->
    <a href="javascript:void(0)"><img src="static/image/user.gif" class="chgz_ico">该分组共{$group[count]}人</a>
	<a href="javascript:void(0)" onclick="showFollowGroupModifyDialog();"><img src="static/image/dot_edit.gif" class="chgz_ico">修改分组名称</a>
	<a href="javascript:deleteFollowGroup({$group[id]});" ><img src="static/image/imgdel.gif" class="chgz_ico">删除该分组</a>
	<a href="index.php?mod=topic&code=myhome&gid={$group[id]}"><img src="static/image/dot_bro.gif" class="chgz_ico">浏览该分组{$this->Config[changeword][n_weibo]}</a>
	</div>
	<div class="clear"></div>
	</div>
	<!--{/if}-->
	</div>
	<!--{if $this->Get[gid]}-->
	<!--修改分组-->
	<div id="modify_group" style="display:none">
	<div class="fans_group_inner">
	<form action="ajax.php?mod=topic&code=do_group" method="POST" name="up_group_name_form" id="up_group_name_form" target="groupframe" onsubmit="return false;"  >
	<div>
    <span>分组名称：</span>
    <input name="modify_group_{$group[id]}" type="text" id="modify_group_{$group[id]}" class="Ainp" value="{$group[name]}" style="width:250px;" onkeydown="ctrlEnter(event, 'modify_follow_btn');"/>
	</div> 
	<div class="tool_bar">
	<button type="button" id="modify_follow_btn" class="u-btn" onclick="GroupSubmit('modify_group_{$group[id]}',{$group[id]},'modify');closeDialog('hk_follow_group_modify_dialog');return false;">保存</button>
	<button type="button" class="u-btn u-btn-c4" onclick="closeDialog('hk_follow_group_modify_dialog');">取消</button>
	</div>
	</form>
	</div>
	</div>
	<!--修改分组-->
	<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->

<!--{if $rets[list]}-->
<ul class="followList" style="overflow:hidden">
	<!--{loop $rets[list] $val}-->
	<li class="pane" id="follow_user_{$val[uid]}">
	<div class="fBox_l">
	<img onerror="javascript:faceError(this);" src="{$val[face]}" onmouseover="get_at_user_choose('{$val[nickname]}',this)"/> 
	</div>
	<div id="user_{$val[uid]}_user" class="layS"></div>
	<div class="fBox_R">
    <p>
	<span class="name" style="float:left; display:inline;"><a href="index.php?mod={$val[username]}" onmouseover="get_at_user_choose('{$val[nickname]}',this)">{$val[nickname]}</a></span>     
	
	<!--{if $val[validate_html]}-->
	{$val[validate_html]}
	<!--{else}-->
	<!--{if $this->Config[topic_level_radio]}-->
	<span class="wb_l_level">
	<a class="ico_level wbL{$val[level]}" title="点击查看等级"  href="index.php?mod=settings&code=exp" target="_blank">{$val[level]}</a>
	</span>
	<!--{/if}-->
	<!--{/if}-->	
	
	<!--{if $val[gender] == 1}-->
	<img src="static/image/user.gif"  title="先生"/>
	<!--{elseif $val[gender] == 2}-->
	<img src="static/image/user_female.gif"  title="女士"/>
	<!--{/if}-->   
	
	<!--{if MEMBER_ID==$member[uid]}-->
	<span>
	<a href="javascript:void(0)" onclick="get_remark({$val[uid]});return false;">
	<span id="remarklist_{$val[uid]}">{if $val[remark]}({$val[remark]}){/if}</span>
	</a>
	</span>
	<!--{/if}-->
	</p>
	<p><span>{$val[from_area]}</span></p>
	<p><span>粉丝{$val[fans_count]}人 | {$val[topic_count]}条{$this->Config[changeword][n_weibo]} | 被{$this->Config['changeword']["dig"]}{$val[digcount]}次</span></p>
	<span id="group_list2_{$val[uid]}" style="display:block;">
	  <!--{loop $val[buddy_group_list] $bgv}-->
		  <span style="padding:0px;">
		  <a href="index.php?mod=follow&gid={$bgv[id]}">[ {$bgv[name]} ]</a>
		  </span>
	  <!--{/loop}-->
	</span>
	</div>
	
	<div class="fBox_R2" style="width:270px;">
	
	<!--{if $val[follow_html]}-->
	<p class="pclas">{$val[follow_html]}</p>
	<!--{/if}-->
	
	<!--{if MEMBER_ID == $member[uid]}-->
	<p class="pclas2">
	<a href="javascript:void(0)" onclick="PmSend({$val[uid]},'{$val[nickname]}');return false;" >发私信</a> |
	<a href="javascript:void(0)" onclick="get_group_choose({$val[uid]});return false;">设置分组</a> |
	<a href="javascript:void(0)" onclick="get_remark({$val[uid]});return false;">添加备注</a> |
	<a href="javascript:void(0)" onclick="follower_choose({$val[uid]},'{$val[nickname]}','lahei','topic_follow');return false;">拉入黑名单</a>
	</p>
	<!--{/if}-->
	</div>
	
	<!--分组、私信、拉黑ajax显示层-->
	<div id="alert_follower_menu_{$val[uid]}"></div>
	<div id="Pmsend_to_user_area"></div>
	<div id="global_select_{$val[uid]}" class="alertBox"></div>
	<div id="button_{$val[uid]}" onclick="get_group_choose({$val[uid]});"></div>
	<div id="get_remark_{$val[uid]}" ></div>
	<!--分组、私信、拉黑ajax显示层-->
	</li>
	<!--{/loop}-->
	<!--{if $member[follow_count]<7}-->
	<li style="background:none">
	 给关注的人分组，可在我的首页按分组查看他们的{$this->Config[changeword][n_weibo]}；<br />如要关注更多人，请访问<a href="index.php?mod=top&code=member">达人榜</a>
	  <!--{if MEMBER_ID}-->
		<span>或查看<a href="index.php?mod=profile&code=maybe_friend" target="_blank">可能感兴趣的人</a></span>
	  <!--{/if}-->
	</li>
	<!--{/if}-->
	<!--{if $rets[page][html]}-->
	<li style=" background:none">{$rets[page][html]}</li>
	<!--{/if}-->
</ul>
<!--{else}-->
	<!--{if $group[name]}-->	
	<div style="padding:20px;">"<strong>{$group[name]}</strong>" 的分组下暂时没有用户，<a href="index.php?mod=topic&code=group&gid={$gid}">点击设置用户</a></div>
	<!--{else}-->
	<div style="padding:20px 0;">该用户暂时没有关注其他人。</div>
	<!--{/if}-->
<!--{/if}-->

</div>

</div>
{template "topic_footer"}
