{template "guest_header"}
<div class="g-bd">  
  <div class="m-tit">
  {$act_name}
  </div>
  
  <div class="m-box">
	 <!--{if MEMBER_ID}-->
	 <div class="u-tip">
	 	<h2>{MEMBER_NICKNAME}, 您当前是在线登录状态</h2>
	 </div>
	 <!--{/if}-->

	<div class="set_tag"></div>
	<form id="get_psd" action="index.php?mod=get_password&code=sms_reset" method="POST" onsubmit="return Validator.Validate(this,3);">
	    <INPUT TYPE="hidden" name="sms" value="{$sms}">
	    <INPUT TYPE="hidden" name="key" value="{$key}">
		<table border="0" cellspacing="7" cellpadding="0" width="100%">
			<tr>
				<td width="30%" align="right">请输入新的密码：</td>
				<td align="left"><INPUT TYPE="password" id="password" name="password" value="" maxlength=50 dataType="LimitB" min="5" msg="密码过短，请设成5位以上。"></td>
			</tr>
			<tr>
				<td width="30%" align="right">请重新输入一次：</td>
				<td align="left"><INPUT TYPE="password" id="confirm" name="confirm" value="" maxlength=50 dataType="Repeat" to="password" msg="两次输入的密码不一致"></td>
			</tr>
			<tr bgcolor="#FFFFFF" class='info_bottom'>
				<td colspan="2" align="center"><input class="u-btn" type="submit" name="reset_pwd_submit" value="提 交"></td>
			</tr>
		</table>
	</form>
  </div>
</div>

{template "topic_footer"}