{template "guest_header"}
<div class="g-bd">  
  <div class="m-tit">
  	通过绑定的手机找回密码
  </div>
 <div class="m-box">
 <!--{if MEMBER_ID}-->
 <div class="u-tip">
 <h2>{MEMBER_NICKNAME}, 您当前是在线登录状态</h2>
 </div>
 <!--{/if}-->

	<!--{if $this->Config[sms_enable]}-->
	<h3>方法三：通过绑定的手机找回密码</h3>
	<em>你必须事先有绑定过手机号码</em>
	<form id="get_psd_by_sms" method="POST" action="index.php?mod=get_password&code=sms_send" onsubmit="return Validator.Validate(this,3);">
		<table border="0" cellspacing="7" cellpadding="0" width="100%">
			<tr>
				<td width="10%" align="right">手机号码：</td>
				<td align="left"><input dataType="LimitB" min="3" max="12" msg="请输入11位的手机号码" name="sms" type="text" style="float:left;width:400px;" maxlength="15"/></td>
			</tr>
			<!--{if $this->Config['seccode_enable']==1 && $this->Config['seccode_password']}-->
			<tr><td width="10%" align="right">验证码：</td>
			<td align="left"><input name="seccode" id="seccode_input2" type="text" style="width:80px;"/>
			<p class="u-verify">
			<script language="javascript">seccode({"id":"seccode_input2"});</script>
			<a href="javascript:updateSeccode('seccode_input2');">换一换</a>
			</p>
			<span id="dseccode_tips2"></span>
			</td></tr>
			<!--{/if}-->
			<tr bgcolor="#FFFFFF" class='info_bottom'>
			<td colspan="2" align="center">
			<!--{if $this->Config['seccode_enable']>1 && $this->Config['seccode_password'] && $this->yxm_title}-->
			<input type="hidden" name="add_YXM_input_result" id="add_YXM_input_result">
			<input type="hidden" name="add_YXM_level" id="add_YXM_level">
			<input type="hidden" name="add_YinXiangMa_challenge" id="add_YinXiangMa_challenge">
			<input type="button" class="u-btn" value="提交" onclick="YXM_submit(this,'get_psd_by_sms','getpsd','{$this->yxm_title}');"/>
			<!--{else}-->
			<input type="submit" class="u-btn" value="提 交" />
			<!--{/if}-->
			</td></tr>
		</table>
	</form>	
	<!--{else}-->
		<div>您的网站还未开启手机短信功能，暂不能使用该功能，请联系管理员开通后再使用！</div>
	<!--{/if}-->
</div>
</div>

<!--{if $this->Config['seccode_enable']==1 && $this->Config['seccode_password']}-->
<script language="javascript">
	$(document).ready(function() {
		$("#seccode_input2").blur(function(){
			checkSeccode($("#seccode_input2").val(), {"tips_id":"dseccode_tips2"});
		});
	});
</script>
<!--{/if}-->
{template "topic_footer"}