<!doctype html>
<html>
<head>
<!--{eval $__my=$GLOBALS[_J][member];}-->
<base href="{$this->Config[site_url]}/" />
{eval $conf_charset=$this->Config['charset'];}<meta http-equiv="Content-Type" content="text/html; charset=$conf_charset" />
<meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=edge" />
<title>{$this->Title} - {$this->Config[site_name]}({$this->Config[site_domain]})</title>
<meta name="Keywords" content="{$this->MetaKeywords},{conf site_name}" />
<meta name="Description" content="{$this->MetaDescription},{conf site_notice}" />
<link rel="shortcut icon" href="favicon.ico" >
<link href="static/style/global.css" rel="stylesheet" type="text/css" />
<link href="static/style/main.css" rel="stylesheet" type="text/css" />
<link href="static/style/reg.css" rel="stylesheet" type="text/css" />
{subtemplate "common_header_js"}
<script type="text/javascript" src="static/js/min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/reg.js"></script>
<script type="text/javascript" src="static/js/validate.js"></script>

<div class="g-hd">
<div class="m-hd">
<h1 class="u-logo">
<a title="{conf site_name}" href="index.php"><img src="images/logo_guest.png" style="_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop)"/></a></h1>
</div>
</div>