{template "topic_header"}
<link href="static/style/mall.css" rel="stylesheet" type="text/css" />
{template "topic_left_nav.inc"}
<div class="main">  
<div class="mainWrap">
	<div class="jifen_title">
		<h3>积分管理</h3>
		<ul>
			<!--{if $op_lists}-->
			<!--{loop $op_lists $_k $_v}-->
			<li {if $op==$_k}class="current"{/if}><a href="index.php?mod=settings&code={$act}&op={$_k}" {if $op==$_k} class="selected" {/if}>{$_v}</a></li>
			<!--{/loop}-->
			<!--{/if}-->
		</ul>
	</div>
	<script type="text/javascript">
			$(document).ready(function(){
			 $(".stripe_jilu tr").mouseover(function(){
			 $(this).addClass("over");}).mouseout(function(){
			 $(this).removeClass("over");})
			 $(".stripe_jilu tr:even").addClass("alt");
			 });
		</script>
	<!--{if 'base'==$op}-->
	<div class="sub_title">我的积分</div>
	<div class="my_jifen">
		<p><span>{$this->Config[changeword][p_weibo]}数：</span>{$member[topic_count]}</p>
		<!--{loop $credits_config[ext] $_k $_v}-->
		<!--{if $_v[enable]}-->
		<p><span>{$_v[name]}：</span>{$_v[ico]} {$member[$_k]} {$member[unit]}</p>
		<!--{/if}-->
		<!--{/loop}-->
		<p><span>总积分：</span>{$member[credits]}({$credits_config_formula})</p>
		<div><a href="index.php?mod=settings&code=exp">点击查看我的积分等级</a></div>
	</div>
	<!--{elseif 'log'==$op}-->
	<div class="sub_title">积分记录</div>
	<table width="100%" border="0" class="stripe_jilu">
			<thead>
		   <tr>
				 <th>动作名称</th>
				 <th>总次数</th>
				 <th>周期次数</th>
				<!--{loop $credits_config[ext] $__k $__v}-->
				 <th>{$__v[name]}</th>
				<!--{/loop}-->
				 <th>最后奖励时间</th>
			 </tr>
		  </thead>
			<!--{loop $log_list $_k $_v}-->
			  <tr>
				<td>{$_v[rulename]}<b>{$_v[related]}</b></td>
				<td>{$_v[total]}</td>
				<td>{$_v[cyclenum]}</td>
				<!--{loop $credits_config[ext] $__k $__v}-->
					<td>{$_v[$__k]}</td>
				<!--{/loop}-->
				<td>{$_v[dateline]}</td>
			  </tr>
			  <!--{/loop}-->
		 <thead>
		   <tr>
				 <th>总计</th>
				 <th>&nbsp;</th>
				 <th>&nbsp;</th>
				 <!--{loop $credits_config[ext] $__k $__v}-->
				 <th>{$_counts[$__k]}</th>
				 <!--{/loop}-->
				 <th>&nbsp;</th>
		   </tr>
		  </thead>
			</table>
	<!--{elseif 'detail'==$op}-->
	<div class="sub_title">积分详情</div>
	<table width="100%" border="0" class="stripe_jilu">
			<thead>
		   		<tr>
				 <th>动作名称</th>
				<!--{loop $credits_config[ext] $__k $__v}-->
				 <th>{$__v[name]}</th>
				<!--{/loop}-->
				 <th>操作时间</th>
				 <th>备注</th>
			 	</tr>
		  	</thead>
			<!--{loop $log_list $_k $_v}-->
			  <tr>
				<td>{if $_v[rid]==0}管理员操作{elseif $_v[rid]==100}积分商城{else}{$_v[rulename]}{/if}</td>
				<!--{loop $credits_config[ext] $__k $__v}-->
					<td>{$_v[$__k]}</td>
				<!--{/loop}-->
				<td>{$_v[dateline]}</td>
				<td><span title="{$_v[detail_remark]}">{$_v[remark]}</span></td>
			  </tr>
			  <!--{/loop}-->
			</table>
			<p style="margin-top:10px;">{$list['page']['html']}</p>
	<!--{elseif 'rule'==$op}-->
	<div class="sub_title">积分规则</div>
	<span style="font-size:12px; float:left; padding:0 0 4px 5px">进行以下动作，会得到积分奖励。注意：在一个周期内，你得到的奖励次数是有限制。</span>
			<table width="100%" border="0" class="stripe_jilu">
			<thead>
		   <tr>
				 <th>动作名称</th>
				 <th>周期范围</th>
				 <th>周期内最多奖励次数</th>
				 <!--{loop $credits_config[ext] $__k $__v}-->
				 <th>{$__v[name]}</th>
				 <!--{/loop}-->
			 </tr>
		  </thead>
			<!--{loop $credits_rule $_k $_v}-->
			  <tr>
				<td>{$_v[rulename]}<b>{$_v[related]}</b></td>
				<td>{$_v[cycletype]}</td>
				<td>{$_v[rewardnum]}</td>
				<!--{if 'attach_down'==$_v[action] || 'down_my_attach'==$_v[action] || 'convert'==$_v[action] || 'unconvert'==$_v[action]}-->
				<!--{loop $credits_config[ext] $__k $__v}-->
				<td><!--{if $_v[$__k]>0}--><!--{if 'attach_down'==$_v[action] || 'down_my_attach'==$_v[action]}-->附件设置分<!--{else}-->商品兑换价<!--{/if}--><!--{/if}--></td>
				<!--{/loop}-->
				<!--{else}-->
				<!--{loop $credits_config[ext] $__k $__v}-->
				<td><!--{if $_v[$__k]>0}-->+<!--{/if}-->{$_v[$__k]}</td>
				<!--{/loop}-->
				<!--{/if}-->
			  </tr>
			  <!--{/loop}-->
			</table>
	<!--{/if}-->
</div>
<div class="sideBar">
{template "mall_inc"}
</div>
</div>
</div>
{template "topic_footer"}