<div class="dialog_inner">
	<table class="mall-ajax-dialog">
	<!--{if $companyselect}-->
	<tr><td width="70">所属单位：</td><td><input type="hidden" name="companyid" id="companyid" value="{$companyid}">{$companyselect}</td></tr>
	<!--{else}-->
	<tr><td>送货地址：</td><td><input name="address" type="text" style="width:280px;">*</td></tr>
	<!--{/if}-->
	<tr><td>联系手机：</td><td><input name="mobile" type="text" style="margin-top:10px;">*</td></tr>
	<tr><td>联系QQ：</td><td><input name="qq" type="text" style="margin-top:10px;"></td></tr>
	<tr><td>&nbsp;</td><td align="center"><input style="margin-top:10px;" type="button" value="确定" onclick="convertible('{$gid}',this)" class="u-btn"></td></tr>
	</table>
</div>
<script type="text/javascript">
	function convertible(gid,obj){
		var address = $(":input[name=address]").val();
		var mobile 	= $(":input[name=mobile]").val();
		var cid 	= $("#companyid").val();
		var gid 	= {$gid};
		var qq 		= $(":input[name=qq]").val();
		$.post("ajax.php?mod=mall&code=convertible",{'gid':gid,'cid':cid,'mobile':mobile,'address':address,'qq':qq},function(json){
			if(json.done){
				$('.dialog_inner').html(json.msg);
				setTimeout('window.location.reload()',1000);				
			}else{
                 show_message_2(json.msg,3,'兑换失败','msg_error');
			}
		},'json');
	}
</script>