{template "topic_header"}
<link href="static/style/mall.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="static/js/cp.js"></script>
<script type="text/javascript">
	function show_address(obj){	
		var gid = $(obj).attr("data-id");
		showDialog("show_address","ajax","确认兑换",{"url":"ajax.php?mod=mall&code=listcompany&gid="+gid});
	}	
</script>
{template "topic_left_nav.inc"}
<div class="main">  

<div class="mainWrap">
	<div class="jifen_title">
		<h3>商品展示</h3>
		<ul>
			<li><a href="index.php?mod=mall&type=exp">可兑换商品</a></li>
			<li><a href="index.php?mod=mall">所有商品</a></li>
			<li class="current">商品详情</li>
		</ul>
	</div>
    <!--以下为商品详情页面-->
	<div class="product_detial">
		<div class="pro_zhanshi">
		    <h3>{$info['name']}</h3>
			<div class="p_left">
			    <img width="310" height="310" src="{$info['image']}">
			</div>
			<div class="p_right">
			    <ul>
				    <li>所需{$config['credits_name']}: <span>{$info['price']}</span></li>
                    <li>总积分要求：{$info['credit']}分</li>
					<li>剩余库存：{$info['total']}</li>
					<li>已兑换：{$info['seal_count']}</li>
				</ul>
				<p>截止至：{$info['expire']}</p>
				<!--{if $info['exp']}-->
				<div class="duihuan_btn end_btn">{$info['exp']}</div>
				<!--{else}-->
				<div class="duihuan_btn" data-id="{$info['id']}" onclick="show_address(this);return false;" style="cursor:pointer;">立即兑换</div>
				<!--{/if}-->
			</div>
			<div style="clear:both;height:0;"></div>
		</div>
		<div class="pro_introduction">
			<h3>产品详细介绍</h3>
			<ul>
				<li>{$info['desc']}</li>
			</ul>
		</div>
	</div>
	<!--以下为商品评论-->
	<style>.topic_new_add{margin:10px 0px;}.topic_new_add .sendBox,.feedCell{box-shadow: none;}</style>
	<div class="topic_new_add">
	<!--{template "topic_publish"}--> 
	</div>
	<script language="Javascript">
	function listTopic( s,lh ) {	
		var s = 'undefined' == typeof(s) ? 0 : s;var lh = 'undefined' == typeof(lh) ? 1 : lh;
		if(lh){window.location.hash="#listTopicArea";}
		var myAjax = $.post("ajax.php?mod=app&code=list_topic",{
			<!--{loop $params $k $v}-->
			{$k}:"{$v}",
			<!--{/loop}-->
			start:s
		},function (d){$("#listTopicArea").html(d);}); 
	}
	</script>
	<div class="Listmain" style="margin-top:15px;">
	<div id="listTopicMsgArea"></div>
	<div id="listTopicArea">
	{template "topic_list_ajax"}
	</div>
	</div>
	<!--以上为商品评论-->
</div>
<div class="sideBar">
{template "mall_inc"}
</div>
</div>
</div>
{template "topic_footer"}