{template "topic_header"}
<link href="static/style/mall.css" rel="stylesheet" type="text/css" />
{template "topic_left_nav.inc"}
<div class="main">  
<div class="mainWrap">
	<!--商品列表-->
	<script type="text/javascript" src="static/js/imgAuto.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	$(".goods_info p").imgAuto()
	});
	</script>
	<div class="jifen_title">
		<h3>商品分类</h3>
		<ul>
			<li{$css['exp']}><a href="index.php?mod=mall&type=exp">可兑换商品</a></li>
			<li{$css['all']}><a href="index.php?mod=mall">所有商品</a></li>
		</ul>
	</div>
    <div class="goods_list">
	<!--{if $list['list']}-->
	    {loop $list['list'] $one}
	    <div class="goods_info">
			<a href="index.php?mod=mall&code=goodsinfo&id={$one['id']}"><img width="170" height="170" src="{$one['image']}" title="{$one['name']}"></a>	
				<div class="goods_name" title="{$one['name']}"><a href="index.php?mod=mall&code=goodsinfo&id={$one['id']}">{$one['name']}</a></div>
				<div><span>所需{$config['credits_name']}：{$one['price']}</span><a href="index.php?mod=mall&code=goodsinfo&id={$one['id']}"><img src="./static/image/xiangqing_btn.png"></a></div>
				<P >剩余库存：{$one['total']}&nbsp;&nbsp;已兑换：{$one['seal_count']}</P>
				<P>截止至：{$one['expire']}</P>
	
		</div>
		{/loop}
		<!--{else}-->
		<p style="margin-top:30px;text-align:center;">{$noitem}</p>
		<!--{/if}-->
	</div>
	<!--{if $list['page']['html']}-->
	<div style="clear:both;height:0;"></div>
	<p>{$list['page']['html']}<p>
	<!--{/if}-->
</div>
<div class="sideBar">
{template "mall_inc"}
</div>
</div>
</div>
{template "topic_footer"}