{template "topic_header"}

{$url_redirect}

<style type="text/css">
.g-content{ overflow:hidden;}
.g-content .g-doc{ background:none;}
.appframe{ background: #fdfdfd;padding: 0;text-align:center; min-height:500px; overflow:hidden; width:980px;}
.exp-wrap .appframe{ width:940px;}
.appframeWrap{background: #fdfdfd;}
.appframeTitle{}
.appframeWrap{background: #fdfdfd;}
.appframeWrap h2, .appframeWrap h3{ font-size:14px;color: #666; border-bottom:none;}
</style>

<div class="appframe"> 
  <div class="appframeTitle" style="padding-left:20px;">
    <span class="mleft">{conf site_name}提示信息</span>
  </div>
  
	<!--{if $GLOBALS[_J][config][ad][ad_list][messager][middle]}-->
		<!--{eval SetADV('messager','middle');}-->
	<!--{/if}-->
	<ul class="appframeWrap">
	<!--{eval $message = (array) $message;}-->
	    <!--{loop $message $v}-->
		<li><h3>{$v}</h3></li>
		<!--{/loop}-->
		
	    <li><h3>
		<!--{if $return_msg==""}-->
			<!--{if $time!==null}-->
				<a href="{$redirectto}">
				<!--{if $time!==0}-->
				<span id='redirect_status'><span id='msg_time'>{$time}</span>秒后{$to_title}</span>，
	                     <script language="JavaScript" type="text/javascript">
				function showTimeStatus()
				{
					var timeObj=document.getElementById('msg_time');
					if(timeObj.innerHTML==1)
					{
						document.getElementById('redirect_status').innerHTML="正在{$to_title}";
						return false;
					}
					timeObj.innerHTML-=1;
	
					setTimeout(showTimeStatus,1000);
				}
				showTimeStatus();
				</script>
				<!--{/if}-->
			如果您的浏览器没有自动跳转，请点这里继续</a>
			<!--{else}-->
			<a href="{$redirectto}">{$to_title}</a>
			<!--{/if}-->
		<!--{else}-->
		{$return_msg}
		<!--{/if}-->
		</h3></li>
	</ul>
	
</div>




{template "topic_footer"}