<!--举报窗口 Begin-->
<div class="dialog_inner">

	<div class="content">
	  <form action="ajax.php?mod=report&code=topic" method="POST" enctype="multipart/form-data">
		<table>
		  <tr>
			<td colspan="2">
			<input id="report_tid" name="report_tid" style="display:none;" value="{$tid}"/>
			<textarea name="report_content" id="report_content" class="textBox" style="width:340px;height:50px;" onkeydown="ctrlEnter(event, 'report_btn');"></textarea></td>
		  </tr>
		  <tr>
			<td><select name="report_reason" id="report_reason" style="width:200px;margin: 10px 0 0 0;">
				<!--{eval $report_config = jconf::get('report');}-->
				<option selected="" value="0">--请选择不良信息的类型--</option>
				<!--{loop $report_config[reason_list] $key $val}-->
				<option value="{$key}">{$val}</option>
				<!--{/loop}-->
			  </select></td>
		  </tr>
		</table>
		<table style="width:100%">
		  <tr>
			<td>&nbsp;</td>
		  </tr>
		</table>
		<input type="hidden" id="report_url" name="report_url" value="" />
		<div class="mIput" style="text-align:center;">
		<input type="button" class="u-btn" value="确 定" id="report_btn" onclick="ReportSub('report_tid','report_content','report_reason');return false;"/>
		<input type="button" class="u-btn u-btn-c4" value="取 消" onclick="closeDialog('$this->Get[handle_key]');"/>
		</div>
	  </form>
	</div>
</div>
<!--举报窗口 End-->