<style type="text/css">
.albumedit table input{width:250px;}
.albumedit table textarea{width:250px;height:120px;}
</style>
<iframe id="frameeditalbum" name="frameeditalbum" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank" style="display:none;"></iframe>
<form id="editalbumform">
<div class="albumedit m-dialog">
<table>
<!--{if $type=='album'}-->
<tr><td>相册名称：</td><td><input type="text" name="namea" id="namea" value="{$album['albumname']}"><input type="hidden" name="oldnamea" id="oldnamea" value="{$album['albumname']}"></td></tr>
<tr><td>相册简介：</td><td><textarea name="description" maxlength='140'>{$album['depict']}</textarea><input type="hidden" name="olddescription" value="{$album['depict']}"></td></tr>
<tr><td>浏览权限：</td><td>{$purview}<input type="hidden" name="oldpurview" value="{$album['purview']}"></td></tr>
<!--{else}-->
<tr><td>所属相册：</td>
<td><input type="hidden" name="oldnamea" id="oldnamea" value="{$album['albumid']}"><select name="namea" id="namea">
<option value="0">默认相册</option>
<!--{loop $albums $val}-->
<option value="{$val[albumid]}" {if $album['albumid']==$val['albumid']}selected{/if}>{$val[albumname]}</option>
<!--{/loop}-->
</select>
</td></tr>
<tr><td>图片简介：</td><td><textarea name="description" maxlength='140' id="description">{$album['description']}</textarea><input type="hidden" name="olddescription" value="{$album['description']}" id="olddescription"></td></tr>
<!--{/if}-->
<tr><td colspan="2" align="center"><button type='button' class='u-btn' onclick="editalbum('{$this->Get[handle_key]}','{$type}','{$id}');">确认</button>&nbsp;<button type='button' class='u-btn u-btn-cancel' onclick="closeDialog('{$this->Get[handle_key]}');">取消</button></td></tr>
</table>
</div>
</form>