{template "topic_header"}
{template "topic_left_nav.inc"}
<div class="main" id="mainWrapper" >
 <div class="mainWrap ">
      <!--{if $id < 1}-->
      <div class="u-title">
      <span class="mleft">网站公告（{$notice_data[count]}）</span>
      </div>
      
	  <!--{loop $notice_data[list] $val}-->
	  <!--{eval $No++}-->
	  <div style="padding:10px;"><a href="index.php?mod=notice&id={$val[id]}">{$No}. {$val[title]}</a></div>
	  <!--{/loop}-->
	  <p style="text-align:right">{$notice_data[page][html]}</p>
      <!--{else}-->	 
      <div class="u-title">
      <span class="mleft">{$notice_info[title]}</span>
      </div> 
	  {$notice_info[content]}
	  <p style="text-align:right">发布于：{eval echo my_date_format($notice_info[dateline]);}</p>
      <!--{/if}-->	  
 </div>
 
 <div class="sideBar">
	 <!--{if $id > 0}-->
	  <div class="column">
	  <h3>{conf site_name}网站公告 </h3>
	  <ul class="sideul">
		<!--{loop $notice_data[list] $val}-->
		  <li><a title="{$val[title]}" href="index.php?mod=notice&id={$val[id]}">{eval echo(cutstr($val[title], 30));}</a></li>
		<!--{/loop}-->
		</ul>
	  </div>
	 <!--{/if}-->
  </div>
  
</div>


{template "topic_footer"}