{template "topic_header"}

{template "topic_left_nav.inc"}

<div class="main">

<!-- 广场中间内容块 -->
{template "plaza/plaza.main.inc"}

<div class="sideBar">
	   
	<!--{eval SetADV('group_new','middle_right_top');}-->
	
	<!-- 热门微群 -->
	{jwidget hot_qun.right}
    
    <!-- 后台推荐话题 -->
	<!--{if $this->Config[hot_tag_recommend_enable]}-->
    	{jwidget hot_tag_recommend.right}
    <!--{/if}-->
	
	
	<!-- 最新VIP认证用户 -->
	<!--{if $this->Config[only_show_vip_topic]}-->
		{jwidget new_vip_user.right}
    <!--{/if}-->
     
     
     <div>
     <!--{$this->Config['ad']['ad_list']['group_new']['middle_right_center']}-->
     </div>

  
	<!-- 人气话题TOP -->
	{jwidget tag_by_top_topic_count.right}


	<!-- 人气关注用户TOP -->
	{jwidget member_by_top_fans.right}
	 
  
  	<!-- 意见反馈 -->
	{jwidget feedback.right}
      
      
    <!--{if $this->Config[ad_enable]}-->
		<!--{eval SetADV('group_new','middle_right');}-->
    <!--{/if}-->
    
  </div>
  
</div>

<!--{if $this->Config[ad_enable]}-->
	<!--{eval SetADV('group_new','footer');}-->
<!--{/if}-->

{template "topic_footer"}