<script language="javascript">
$(document).ready(function(){
	$("#{$atuser_search}").focus(function(){if('{$defvalue}'==$(this).val()){$(this).val('');};$(this).addClass("bhcolor");});
	$("#{$atuser_search}").blur(function(){if(''==$(this).val()){$(this).val('{$defvalue}');};$(this).removeClass("bhcolor");});
	$("li").bind("mouseover",function(){$(this).addClass("active");});
	$("li").bind("mouseout",function(){$(this).removeClass("active");});
	$(".flow-nav li").click(function(){$(".flow-nav .curr").removeClass("curr");$(this).addClass("curr");});
});
</script>
<p><input type="text" value="{$defvalue}" id="{$atuser_search}" onkeyup="ajaxw_nickname(this.value,'{$inkey}','{$type}','{$listid}');" autocomplete="off"></p>
<div class="atleft">
<ul class="flow-nav">
<li onclick="ajaxw_nickname('','{$inkey}','{$type}','{$listid}');">最近我@的人</li>
<!--{loop $rec_group $rec}-->
<li onclick="ajaxg_atuser('rec',{$rec['id']},'{$inkey}','{$type}','{$listid}');">{$rec['media_name']}</li>
<!--{/loop}-->
<!--{loop $bud_group $bud}-->
<li onclick="ajaxg_atuser('bud',{$bud['id']},'{$inkey}','{$type}','{$listid}');">{$bud['name']}</li>
<!--{/loop}-->
<li onclick="ajaxg_atuser('budn',0,'{$inkey}','{$type}','{$listid}');">未分组好友</li>
</ul>
</div>
<div class="atright">
<ul id="{$atuserlist}">
<!--{loop $atuser $row}-->
<li onclick="atcin_user('{$inkey}','{$row[nickname]}','{$type}');"><img onerror="javascript:faceError(this);" src="{$row['face']}"><span>{$row['nickname']}</span></li>
<!--{/loop}-->
</ul>
</div>