<script type="text/javascript">
$(document).ready(function(){
	var objStr = "#ttxt_floor_{$val[tid]}";
	$(objStr).mouseover(function(){$(objStr + " em").show();});
	$(objStr).mouseout(function(){$(objStr + " em").hide();});
});
</script>
<div class="relayFloorface">
<a href="index.php?mod={$val[username]}"
	onmouseover="get_user_choose({$val[uid]},'_reply_user',{$val[tid]});"
	onmouseout="clear_user_choose();"> <img class="comment_p_img"
	src="{$val[face]}" onerror="javascript:faceError(this);" /> </a>
</div>
<!--评论中 悬浮头像 显示用户名片-->
<div id="user_{$val[tid]}_reply_user"></div>
<!--评论中 悬浮头像 显示用户名片-->

<!--微博内容中 @用户 悬浮提示-->
<div id="at_{$val[tid]}_user" class="at_style"></div>
<!--微博内容中 @用户 悬浮提示-->

<div id="ttxt_floor_{$val[tid]}" class="ttxt">
	<div class="ttxtinfo">
		<a href="index.php?mod={$val[username]}"
			onmouseover="get_at_user_choose('{$val[nickname]}',this)">{$val[nickname]}</a>{$val[validate_html]}：<br />
		<!--{eval $topic_view = 1;}-->
		<span id="topic_content_{$val[tid]}_short">{$val[content]} <!--{if $val[imageid] && $val[image_list]}-->
			<div
				onclick="view_longtext('{$val[longtextid]}', '{$val[tid]}', '{$val[tid]}'); return false;">
				<ul class="imgList">
					<!--{loop $val[image_list] $iv}-->
					<li><img src="static/image/grey.gif"
						data-original="{$iv['image_small']}" class="showcursor">
					</li>
					<!--{/loop}-->
				</ul>
			</div> <!--{/if}--> </span> <span id="topic_content_{$val[tid]}_full"></span>
		&nbsp;<font class="fontGray">({$val[dateline]})</font>
		<!--{if $val[longtextid] > 0}-->
		<a class="longText" href="javascript:;"
			onclick="view_longtext('{$val[longtextid]}', '{$val[tid]}', this);return false;">查看全文</a>
		<!--{/if}-->
		{template "topic_share_cite"} {template "topic_share_quote"}
	</div>


	<p class="ttxtmore">
		<font style="float: left; color: #999;">{$val[from_string]}</font> <em
			style="display: none"> <a href="javascript:void(0)"
			onclick="ReportBox('{$val[tid]}')" title="举报不良信息">举报</a> | <!--{if jallow($val[uid])}-->
			<a href="javascript:void(0)"
			onclick="deleteTopic({$val[tid]},'topic_comment_item_floor_{$val[tid]}');return false;">删除</a>
			| <!--{if  time() - $val[addtime] < 3600 || 'admin'==MEMBER_ROLE_TYPE}-->
			<a href="javascript:void(0);"
			onclick="modifyTopic({$val[tid]},'modify_topic_{$val[tid]}','reply_list_ajax');return false;"
			style="cursor: pointer;">编辑</a> | <!--{/if}--> <!--{/if}--> </em> <a
			class="topicdig_{$val[tid]} digusers" href="javascript:void(0)"
			onclick="topicdig({$val[tid]},{$val[uid]},{$val[digcounts]},'{$this->Config[changeword][dig]}');return false;"
			value="{$val[tid]}" rel="{$val[digcounts]}" id="topicdig_{$val[tid]}"
			title="{$this->Config[changeword][dig]}">&nbsp;<!--{if $val[digcounts]}-->({$val[digcounts]})<!--{/if}-->
		</a> | <a href="javascript:void(0)"
			onclick="document.getElementById('replytid_{$topic_info[tid]}').value='{$val[tid]}';document.getElementById('is_huifu_{$topic_info[tid]}').value='is_huifu';document.getElementById('to_reply_user_{$topic_info[tid]}').innerHTML='回复:{$val[nickname]}';onFoucsReplyInput({$topic_info[tid]}); return false;">回复</a>
            
	<div id="modify_topic_{$val[tid]}"></div>
	</p>
</div>