{subtemplate common_header}

<div class="g-hd2">
	<div class="g-doc">
		<div class="m-hd2">
			<ul class="hleft">			
				<li class="logo">
				<a href="index.php?mod=topic" title="{$this->Config[site_name]}"><img src="images/logo.png" style="_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop)"/>
				</a>
				</li>
				
				<!-- 顶部导航 开始 -->
				<!--{loop $GLOBALS[_J][config][navigation] $top_nav_key $top_nav}-->
					<li class="t_hdnav t_hdnav_{$top_nav_key}">
						<!-- 一级顶部导航 -->					
						
						<a {if jget('top_nav')==$top_nav_key} class="t_hdnav_cur" {/if}  title="{$top_nav[name]}" target="{$top_nav[target]}" href="{eval echo nav_url($top_nav[url], $top_nav_key);}">{$top_nav[name]}</a>
						
						<!-- 二级顶部导航 悬浮显示 -->
						<!--{if is_array($top_nav[list]) && count($top_nav[list])}-->
						<script type="text/javascript">
						$(document).ready(function(){
						$(".t_hdnav_{$top_nav_key}").mouseover(function(){$(".t_hdnav_box_{$top_nav_key}").show();$(".t_hdnav_{$top_nav_key}").addClass("on");});
						$(".t_hdnav_{$top_nav_key}").mouseout(function(){$(".t_hdnav_box_{$top_nav_key}").hide();$(".t_hdnav_{$top_nav_key}").removeClass("on");});
						});
						</script>
						<ul class="t_hdnav_box t_hdnav_box_{$top_nav_key}" style="display: none;">
							<div class="main_menu_box">
								<!--{loop $top_nav[list] $side_nav_key $side_nav}-->
								<!--{if $side_nav[display_in_top]}-->
								<dl>
									 <dt><!--{if $side_nav[url]}-->
									 		<a title="{$side_nav[name]}" target="{$side_nav[target]}" href="{eval echo nav_url($side_nav[url], $top_nav_key);}">{$side_nav[name]}</a>
									 	<!--{else}-->
									 		<a>{$side_nav[name]}</a>
									 	<!--{/if}--></dt>
									 <!--{if $side_nav[list]}-->
									 <dd>
									 	 <!--{loop $side_nav[list] $nav_key $nav}--> 
									 	 <!--{if $nav[display_in_top]}-->
                                             <!--弹出框部分建议不加图标-->
											 <a title="{$nav[name]}" target="{$nav[target]}" href="{eval echo nav_url($nav[url], $top_nav_key, $nav_key);}">{$nav[name]}</a>										 
										 <!--{/if}-->
								 		 <!--{/loop}-->
									 </dd> 
									 <!--{/if}-->
								 </dl>
								 <!--{/if}-->
								 <!--{/loop}-->
							</div>						
						</ul>
						<!--{/if}-->
					</li>					
				<!--{/loop}-->
				<!-- 顶部导航 结束 -->				
				
				<!--{hook/global_header_nav2}-->
		        <li class="sweibo">
				<div class="searchTool">
				    <form method="get" action="#" name="headSearchForm" id="headSearchForm" onsubmit="return headDoSearch();">

					  <!--{if $this->Module == "vote"}-->
					  <input id="headSearchType" name="searchType" type="hidden" value="voteSearch">
					  <!--{elseif $this->Module == "qun"}-->
					  <input id="headSearchType" name="searchType" type="hidden" value="qunSearch">
					  <!--{else}-->
					  <input id="headSearchType" name="searchType" type="hidden" value="topicSearch">
					  <!--{/if}-->
					
				    <div class="selSearch">
					
						  <!--{if $this->Module == "vote"}-->
						  <div class="nowSearch" id="headSlected" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');">投票</div>
						  <!--{elseif $this->Module == "qun"}-->
						  <div class="nowSearch" id="headSlected" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');">微群</div>
						  <!--{else}-->
						  <div class="nowSearch" id="headSlected" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');">{$this->Config['changeword']['n_weibo']}</div>
						  <!--{/if}-->
				  
						  <div class="btnSel"><a href="#" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');"></a></div>
						  <div class="clear"></div>
						  <ul class="selOption" id="headSel" style="display:none;">
							<li><a href="#" onclick="return search_show('head','userSearch',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">用户</a></li>
							<li><a href="#" onclick="return search_show('head','tagSearch',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">话题</a></li>
							<li><a href="#" onclick="return search_show('head','topicSearch',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">{$this->Config['changeword']['n_weibo']}</a></li>
							<!--{if $this->Config['vote_open']}-->
							<li><a href="#" onclick="return search_show('head','voteSearch',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">投票</a></li>
							<!--{/if}-->
							<!--{if $this->Config['qun_setting']['qun_open']}-->
							<li><a href="#" onclick="return search_show('head','qunSearch',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">{$this->Config['changeword']['weiqun']}</a></li>
							<!--{/if}-->
						  </ul>
				    </div>
				  <input class="txtSearch" id="headq" name="headSearchValue" type="text" value="请输入关键字" onfocus="if(this.value=='请输入关键字'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键字';}"/>
				  <div class="btnSearch"> <a href="#" onclick="javascript:return headDoSearch();"><span class="lbl"></span></a></div>
			      </form>
			</div>
			</li>
			<!--{hook/global_header_nav3}-->
		</ul>

		<!--# END hleft #-->
		
		<!--{if $this->Get[mod] == 'channel'}-->
		<!--{eval $post_item = 'channel';$post_item_id = (int)$_GET['id'];}-->
		<!--{/if}-->
        
		<ul class="hright">
		<!--{if MEMBER_ID > 0}-->
		  <script type="text/javascript">
			$(document).ready(function(){
				$(".t_setting").mouseover(function(){$(".t_member_box").show();$(".t_setting").addClass("on");});
				$(".t_setting").mouseout(function(){$(".t_member_box").hide();$(".t_setting").removeClass("on");});
				$(".t_news").mouseover(function(){$(".t_news_box").show();$(".t_news").addClass("onn");});
				$(".t_news").mouseout(function(){$(".t_news_box").hide();$(".t_news").removeClass("onn");});
			});
		  </script>
		  <!--{eval if($member['uid'] == MEMBER_ID) $_mymember = $member}-->
		  <!--{eval if($member['uid'] != MEMBER_ID) $_mymember = jsg_member_info(MEMBER_ID)}-->

		  <li class="t_member" onclick="location='index.php?mod={MEMBER_NAME}'" title="我是{MEMBER_NICKNAME}，点此访问个人主页" style="cursor:pointer;">
		      <!--<b class="member_name">{MEMBER_NICKNAME}</b>-->
              <img class="member" src="{$_mymember[face_original]}" onerror="javascript:faceError(this);"/>
           </li>
           
          <li class="t_write t_sub" style="cursor:pointer;" onclick="showMainPublishBox('{$post_item}','{$post_item}','{$post_item_id}');" title="发微博">
              <input type="hidden" name="check_PublishBox_uid" id="check_PublishBox_uid"  value="{MEMBER_ID}"/>
              <input type="hidden" id="verify" name="verify" value="$this->Config[verify]">
		  </li>
           
		  <li class="t_news t_sub">
          <i></i>
		  <!--{if $__my[comment_new]>0 || $__my[at_new]>0 || $__my[fans_new]>0 || $__my[favoritemy_new]>0 || $__my[dig_new]>0 || $__my[newpm]>0}--><em></em><!--{/if}-->
			<ul class="t_news_box">
			  <li><a href="index.php?mod=comment&code=inbox">评论我的<!--{if $__my[comment_new]>0}--><span>+$__my[comment_new]</span><!--{/if}--></a></li>
			  <li><a href="index.php?mod=at">@我的<!--{if $__my[at_new]>0}--><span>+$__my[at_new]</span><!--{/if}--></a></li>
			  <li><a href="index.php?mod=fans&uid={$__my[uid]}">关注我的<!--{if $__my[fans_new]>0}--><span>+$__my[fans_new]</span><!--{/if}--></a></li>
			  <li><a href="index.php?mod=topic_favorite&code=me">收藏我的<!--{if $__my[favoritemy_new]>0}--><span>+$__my[favoritemy_new]</span><!--{/if}--></a></li>
			  <li><a href="index.php?mod={$__my[username]}&type=mydig">{$this->Config[changeword][dig]}我的<!--{if $__my[dig_new]>0}--><span>+$__my[dig_new]</span><!--{/if}--></a></li>
			  <li class="lineNav"></li>
			  <li><a href="index.php?mod=pm&code=list">私信<!--{if $__my[newpm]>0}--><span>+$__my[newpm]</span><!--{/if}--></a></li>
			  <!--{hook/global_header_message}-->
			</ul>
		  </li>

		  <li class="t_setting t_sub">
          <i></i>
          <ul class="t_member_box">
				  <li>
					  <a href="index.php?mod=settings">[资料设置]</a>
					  <a href="index.php?mod=settings&code=face">修改头像</a>
					  <a href="index.php?mod=settings&code=secret">修改密码</a>
					  <a href="index.php?mod=skin">更换皮肤</a>
					  <a href="index.php?mod=profile&code=invite">邀请关注</a>
					  <a href="index.php?mod=other&code=medal&view=my">我的勋章</a>
					  <a href="index.php?mod=other&code=vip_intro">申请V认证</a>
					  <!--{if $this->Config['sendmailday'] > 0}-->
					  <A HREF="index.php?mod=settings&code=sendmail">邮件提醒</A>
					  <!--{/if}-->	  
                      <!--此版本关闭两栏模板左侧导航-->
		          </li>
                  <!--{hook/global_header_mynav1}-->
				  <li>
				  <a href="index.php?mod={MEMBER_NAME}">[个人主页]</a>
				  <a href="index.php?mod={MEMBER_NAME}&type=mydigout">我{$this->Config[changeword][dig]}的</a>
				  <a href="index.php?mod=vote&view=me">我的投票</a>
				  <a href="index.php?mod=event&code=myevent">我的活动</a>
				  <a href="index.php?mod=attach&code=myattach">我的附件</a>
				  <a href="index.php?mod=topic_tag">关注的话题<!--{if $__my[topic_new]>0}--><span>+{$__my['topic_new']}</span><!--{/if}--></a>
				  <!--{if $this->Config[dzbbs_enable] || ($this->Config[phpwind_enable] && $this->Config[pwbbs_enable])}-->
				  <a href="index.php?mod=topic&code=bbs">我的论坛</a>
				  <!--{/if}-->
				  <!--{if ($this->Config['dedecms_enable'] == 1)}-->
				  <a href="index.php?mod=topic&code=cms">我的资讯</a>
				  <!--{/if}-->
				  <a href="index.php?mod={$member[username]}&type=my_verify">等待审核</a>
				  </li>
				  <!--{hook/global_header_mynav2}-->
				  <li>
				  <a href="index.php?mod=topic&code=recd">[官方推荐]</a>
				  <a href="index.php?mod=topic&code=topicnew">最新被{$this->Config[changeword][dig]}</a>
				  <a href="index.php?mod=topic&code=topicnew&orderby=post">最新发布</a>
				  <!--{if ($this->Config['vest_enable'])}-->
					  <!--{if (!$this->Config['vest_role'] || (jsg_find($this->Config['vest_role'], $member['role_id'])))}-->
					  <a href="index.php?mod=settings&code=vest" target=_blank>添加新马甲</a>
					  <!--{/if}-->
					  <!--{eval $vest = jlogic('member_vest')->get_member_vest(MEMBER_ID);}-->
					  <!--{if $vest}-->
						  <a href="javascript:void(0);" title="可使用下面帐号登录">已有马甲：</a>
						  <!--{loop $vest $k $v}-->
						  <!--{if $k != MEMBER_ID}-->
						  <a href="javascript:void(0);" onclick="changeUser({$v['uid']})" title="点击使用此帐号登录">$v['nickname']</a>
						  <!--{/if}-->
						  <!--{/loop}-->
					  <!--{/if}-->
				  <!--{/if}-->
				  </li>
                  <!--{hook/global_header_mynav3}-->
				  <li style="border:none;">
				  <p class="spr_weibo"><a href="index.php?mod=topic" title="{$this->Config[site_name]}">我的首页</a></p>
				  <p class="spr_info"><a href="index.php?mod=topic&code=channel">我的频道</a></p>
				  <p class="spr_fav"><a href="index.php?mod=topic_favorite">我的收藏</a></p>
				  <!--{if $this->Config['qun_setting']['qun_open']}-->
				  <p class="spr_qun">
				  <a href="index.php?mod=topic&code=qun">
				  我的{$this->Config['changeword']['weiqun']}</a>
				  </p>
				  <!--{/if}-->
				  <!--{if 'admin'==MEMBER_ROLE_TYPE}-->
				  <p class="spr_manger"><a href="admin.php" target=_blank>后台管理</a></p>
				  <!--{/if}-->
				  <p class="spr_logout"><a href="{conf site_url}/index.php?mod=login&code=logout" rel="nofollow">退出登陆</a> </p>
				  </li>
	          </ul>
		  </li>
		  
		<!--{else}-->
		<li style="margin:0; width:55px;"><a href="javascript:viod(0)" rel="nofollow" title="登录即可分享新鲜事" onclick="ShowLoginDialog(); return false;"><em style="color:#FFF">快捷登录</em></a></li>
		<!--{/if}--> 
      </ul>
      
</div>

<!--{if MEMBER_ID>0}-->
	<!--{if ($__my[comment_new]>0 || $__my[fans_new]>0 || $__my[at_new]>0 || $__my[newpm]>0 || $__my[favoritemy_new]>0 || $__my['vote_new']>0 || $__my['qun_new']>0 || $__my['event_new']>0 || $__my['topic_new']>0 || $__my['event_post_new']>0 || $__my['fenlei_post_new']>0 || $__my['dig_new']>0 || $__my['channel_new']>0 || $__my['company_new']>0) && TOPNOTICE != 'none'}-->
	<!--{eval $__tagBoxStyle='display:block;visibility:visible;';}-->
	<!--{else}-->
	<!--{eval $__tagBoxStyle='display:none;visibility:hidden;';}-->
	<!--{/if}-->
	<!--#if NEDU#-->
	<!--{if defined('NEDU_MOYO')}-->
		<!--{if nlogic('notify')->ups_haved()}-->
			<!--{eval $__tagBoxStyle='display:block;visibility:visible;';}-->
		<!--{/if}-->
	<!--{/if}-->
	<!--#endif#-->
	<script type="text/javascript">
		function m_tips_close()
		{
			$.post("ajax.php?mod=view&code=top_notice",{display:0},function(){});
			var obj = document.getElementById("tagBox_{MEMBER_ID}");
			obj.style.visibility = "hidden";
		}
	</script>
	<div class="m_tips" id="tagBox_{MEMBER_ID}" style="{$__tagBoxStyle}">
		<div id="tagBoxContent_{MEMBER_ID}">
			<ul>
			  <!--{if $__my[newpm]>0}-->
			  <li>{$__my[newpm]}条新私信，<a href="index.php?mod=pm&code=list">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[comment_new]>0}-->
			  <li>{$__my[comment_new]}条新评论，<a href="index.php?mod=comment&code=inbox">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[fans_new]>0}-->
			  <li>{$__my[fans_new]}人关注了我，<a href="index.php?mod=fans&uid={$__my[uid]}">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[at_new]>0}-->
			  <li>{$__my[at_new]}人@提到我，<a href="index.php?mod=at">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[favoritemy_new]>0}-->
			  <li>{$__my[favoritemy_new]}人新收藏，<a href="index.php?mod=topic_favorite&code=me">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[dig_new]>0}-->
			  <li>有{$__my[dig_new]}人{$this->Config[changeword][dig]}了你，<a href="index.php?mod={$__my[username]}&type=mydig">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my['channel_new']>0}-->
			  <li>频道新增{$__my[channel_new]}条内容，<a href="index.php?mod=topic&code=channel&orderby=post">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my['company_new']>0}-->
			  <li>单位新增{$__my[company_new]}条内容，<a href="index.php?mod=company">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my['vote_new']>0}-->
			  <li>投票新增{$__my[vote_new]}人参与，<a href="index.php?mod=vote&view=me&filter=new_update&uid={$__my[uid]}">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my['qun_new']>0}-->
			  <li>$this->Config['changeword']["weiqun"] 新增{$__my[qun_new]}条内容，<a href="index.php?mod=topic&code=qun">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[event_new]>0}-->
			  <li>活动新增{$__my[event_new]}人报名，<a href="index.php?mod={$__my[username]}&type=event&filter=new_update">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[topic_new]>0}-->
			  <li>话题新增{$__my[topic_new]}条{$this->Config['changeword']['n_weibo']}，<a href="index.php?mod=topic_tag">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[event_post_new]>0}-->
			  <li>新增{$__my[event_post_new]}个关注的活动，<a href="index.php?mod=topic&code=other&view=event">查看</a></li>
			  <!--{/if}-->
			  <!--{if $__my[fenlei_post_new]>0}-->
			  <li>分类新增{$__my[fenlei_post_new]}个信息，<a href="index.php?mod=topic&code=other&view=fenlei">查看</a></li>
			  <!--{/if}-->
			  <!--#if NEDU#-->
			  <!--{if defined('NEDU_MOYO')}-->
				 <!--{echo nlogic('notify')->ups_tips_html();}-->
			  <!--{/if}-->
			  <!--#endif#-->
			</ul>
		</div>
		<div class="m_tips_close"><a href="javascript:m_tips_close();" title="关闭" javascript:void(0)><img src="static/image/imgdel.gif" /></a></div>
	</div>
	<!--{/if}-->
    <div class="changeTheme"><a href="index.php?mod=skin" title="更换皮肤" javascript:void(0)></a></div>
</div>

</div>

<!--{if $this->Config[company_enable]}-->
<!--{eval $d_c_name = $this->Config[default_company] ? $this->Config[default_company] : '单位'; $d_d_name = $this->Config[default_department] ? $this->Config[default_department] : '部门'; $d_j_name = $this->Config[default_job] ? $this->Config[default_job] : '岗位';}-->
<!--{/if}-->

<!--{if MEMBER_STYLE_THREE_TOL == 1 && MEMBER_ID > 0}-->

<!--{/if}-->

<div class="g-content">
<div class="g-doc">
