
<style type="text/css">
.relaycontent .Contant,.relaycontent .topicTxt {
	width: auto;
	float: none;
	position: relative;
	padding: 0;
}

.relaycontent .feedCell .avatar {
	width: 25px;
	box-shadow: none;
}

.relayFloorface .feedCell .avatar img {
	width: 25px;
	height: 25px;
}

.relayFloorface .feedCell .wb_l_face,.relayFloorface .feedCell .avatar {
	width: 25px;
	height: 25px;
	box-shadow: none;
	margin: 0;
}

.relaycontent .topicTxt {
	box-shadow: none;
	background: none;
}

.relaycontent .feedCell .avatar {
	width: 25px;
	height: 25px;
	box-shadow: none;
}

.relaycontent .from {
	width: 100%;
}

.feedCell .avatar {
	width: 25px;
	height: 25px;
	box-shadow: none;
}

.user_floor a {
	float: left;
	margin-right: 5px;
}

.con_floor {
	display: block;
	margin: 0;
	float: none;
}
.con_floor ul.attachList{ 
    width:auto;
}
.user_floor {
	float: none;
	width: 100%;
	float:left;
	clear:both;
}

.relayFloor .relaycontent .relayFloorface {
	position: static;
	float: left;
	left: initial;
}

#listTopicArea .feedCell .relayFloor .relaycontent .relayFloorface .wb_l_face {
	margin: 0;
	width:25px;
	height:25px;
}

.relayFloor .relaycontent .Contant {
	float: none;
	background: none;
	margin: 0;
}

</style>


<div class="Contant">
	<div id="topic_lists_{$val[tid]}" style="_overflow: hidden;">
		<div class="topicTxt">

			<div class="user_floor">{template "user_signature"}</div>
			<div class="con_floor">
				{if ($val["item"]=="vote")&&$val["item_id"]} {eval
				$myOption=jlogic('vote')->get_vote_item($val["item_id"],
				$val["uid"],
				1, $val[addtime]);!$myOption['option']||$string=implode('，',$myOption['option']);}
				{if $string}<span class="topic_select" title="投票给：{$string}"><span>投票给：{$string}</span>
				</span><br />{/if} {/if} <span id="topic_content_{$val[tid]}_short">
					{$val[content]} <!--{if $val[imageid] && $val[image_list]}-->
					<div
						onclick="view_longtext('{$val[longtextid]}', '{$val[tid]}', '{$val[tid]}');
				if(($.trim(($('#{$talkanswerid}reply_area_{$val[tid]}').html()))).length < 1) {
					$('#topic_list_reply_{$val[tid]}_aid').click();
				}; return false;">
						<ul class="imgList">
							<!--{loop $val[image_list] $iv}-->
							<li><img src="static/image/grey.gif"
								data-original="{$iv['image_small']}" class="showcursor d">
							</li>
							<!--{/loop}-->
						</ul>
					</div> <!--{/if}--> </span>
				<!--{if $val[imageid] && $val[image_list]}-->
				<div style="display: none;">
					<ul class="imgList">
						<!--{loop $val[image_list] $iv}-->
						<li><img src="static/image/grey.gif"
							data-original="{$iv['image_original']}">
						</li>
						<!--{/loop}-->
					</ul>
				</div>
				<!--{/if}-->
				<span id="topic_content_{$val[tid]}_full"></span>
				<!--{if $val[longtextid] > 0}-->
				<a class="longText" href="javascript:;" id="longText_{$val[tid]}"
					onclick="view_longtext('{$val[longtextid]}', '{$val[tid]}', '{$val[tid]}');return false;">查看全文</a>
				<!--{/if}-->
				{template "topic_share_cite"} {template "topic_share_quote"}
				<!--{if $this->Module=='qun'}-->              
				{template "qun/topic_list_manage"}
				<!--{else}-->
				{template "topic_list_manage"}
				<!--{/if}-->
			</div>
		</div>
	</div>
	<div id="{$talkanswerid}reply_area_{$val[tid]}"></div>
	<div id="modify_topic_{$val[tid]}"></div>
	<div id="forward_menu_{$val[tid]}"></div>
</div>
<div style="clear: both;"></div>

