<div class="mainWrap">
  <div class="contentWrap">
    <div class="listBoxNav">
	  <div class="boxNav3">
 	    <!--{eval if(MEMBER_ID == $member[uid]) $_my = '我'; elseif(1==$member[gender]) $_my = '他';else $_my = '她';}-->
	    <!--{eval if ('joined' == $filter) $joined = 'current2';elseif ('new_update' == $filter) $new_update = 'current2';else $create = 'current2'}-->
	    <li>
	      <span class="{$create}"><a href="index.php?mod={$member[uid]}&type=vote">{$_my}发起的投票</a></span>
	      <span class="{$joined}"><a href="index.php?mod={$member[uid]}&type=vote&filter=joined">{$_my}参与的投票</a></span>
	      <!--{if MEMBER_ID == $member[uid]}-->
	      <span class="{$new_update}"><a href="index.php?mod={$member[uid]}&type=vote&filter=new_update">最近更新的投票</a></span>
	      <!--{/if}-->
	    </li> 
	  </div>
	</div>
 
    <div id="listTopicArea">	
      <div class="Listmain">
		<!--{if $count}-->
			{template vote/vote_list}        
		<!--{else}-->
			<div style="margin-left:5px;">还没有投票。</div>
	  	<!--{/if}-->
      </div>
    </div>
  </div>
</div>