<div class="sideBar">

<!--#if NEDU#-->
<!--{if defined('NEDU_MOYO')}-->
	<!--{echo nui('jsg')->hook('topic.right.inc.load');}-->
<!--{/if}-->
<!--#endif#-->

<!--CMS资讯-->
<!--{if $params[code] == 'cms'}-->
  <div class="column">
  <h3>使用小帮助</h3>
	<ul class="sideul">
	  <li>A：此栏目将直接显示<a href="{$cms_url}" target="_blank">资讯</a>的内容</li>
	  <li>B：默认显示你关注的资讯分类的内容，请在“我的资讯”栏目下，选择关注你感兴趣的分类。</li>
	</ul>
  </div>
<!--{/if}-->
<!--CMS资讯-->

<!--BBS-->
<!--{if $params[code] == 'bbs'}-->
  <div class="column">
  <h3>使用小帮助</h3>
	<ul class="sideul">
	  <li>A:此栏目将直接显示<a href="{$bbs_url}" target="_blank">来自论坛</a>的内容</li>
	  <li>B:默认显示你收藏的论坛版块的帖子，请访问感兴趣的论坛版块，并点击收藏，然后就可以在“我的论坛”这个栏目看到相关的帖子了</li>
	</ul>
  </div>
<!--{/if}-->
<!--BBS-->

<!--CHANNEL-->
<!--{if $params[code] == 'channel'}-->
       <script type="text/javascript">
        $(document).ready(function () {
            var tags_a = $("#h_tags li");
            tags_a.each(function () {
                var x = 5;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                $(this).addClass("h_tags" + rand);
            });
        })
    </script>
      
  <div class="column">
  <h3>我关注的频道</h3>
	<ul id="h_tags" class="sideul favchannel">
	  <!--{if $my_buddy_channel}-->
	  <!--{loop $my_buddy_channel $channel}-->
	  <li><a href="index.php?mod=channel&id={$channel['ch_id']}">{$channel['ch_name']}</a></li>
	  <!--{/loop}-->
	  <!--{/if}-->
	</ul>
  </div>
  
  <div class="column">
  <h3>使用小帮助</h3>
	<ul class="sideul">
	  <li>这里显示你所关注的频道的{$this->Config[changeword][n_weibo]}</li>
	  <li>要关注相应频道，请来<a href="index.php?mod=channel">这里</a></li>
	</ul>
  </div>
<!--{/if}-->
<!--CHANNEL-->

<!--官方推荐-->
<!--{if $params[code] == 'recd'}-->
  <script language="javascript">
  $(document).ready(function(){
	get_recommend20();
  });
  function get_recommend20(){
	right_show_ajax('{$member[uid]}','recommend20','recommend20');
  }
  </script>
  <div class="column">
	<h3>最新推荐TOP20</h3>
	<div id="{$member[uid]}_recommend20" class="sideul"></div>
  </div>
  <div class="column">
  <h3>使用小帮助</h3>
  <ul class="sideul">
	  <li>A：此栏目显示官方推荐的内容</li>
	  <li>B：如果您发布的信息值得推荐，请@官方相关的人员寻求推荐</li>
	</ul>
  </div>
<!--{/if}-->
<!--官方推荐-->

<!--最新内容-->
<!--{if $params[code] == 'topicnew'}-->
<link href="static/style/channel.css" rel="stylesheet" type="text/css" />
  <script language="javascript">
  $(document).ready(function(){get_month_dig();get_week_dig();});
  function get_week_dig(){channel_right_show_ajax('week_dig','0','0','10');}
  function get_month_dig(){channel_right_show_ajax('month_dig','0','0','10');}
  </script>
  <div class="column">
  <h3>一周热{$this->Config[changeword][dig]}</h3>
  <ul class="channelul" id="week_dig">
  </ul>
  </div>
  <div class="column">
  <h3>一月热{$this->Config[changeword][dig]}</h3>
  <ul class="channelul" id="month_dig">
  </ul>
  </div>
<!--{/if}-->
<!--最新内容-->

{template 'topic_right_common.ini'}

</div>

