{template "topic_header"}
{template "topic_left_nav.inc"}
<div class="main"> 

  <div class="mainWrap"> 
    <!--评论页面头部描述 Begin-->
    <div id="app_description_wp"> 
      <!--{if !empty($qun_info)}--> 
      {template qun/widgets_simple_desc} 
      <!--{/if}--> 
    </div>
    <!--评论页面头部描述 End--> 
    <!--{eval if($this->Config['attach_enable']) $allow_attach = 1; else $allow_attach = 0 }--> 
    <!--{eval $allow_pic = $this->Config['image_enable'] ? $this->Config['image_enable'] : 0}--> 
    <!--{eval $allow_face = $this->Config['face_enable'] ? $this->Config['face_enable'] : 0}--> 

    <div id="topic_list_{$topic_info[tid]}" class="one_comment">
      <li>
        <div class="feedCell feedP">
		<!--{if $topic_info[topic_feature_status]}-->
		<p><span class="topic_feature_status">{$topic_info[topic_feature_status]}</span></p>
		<!--{/if}-->
          <style type="text/css">
			ul.imgList{ float:none;}
			.ask_relate_mark, .default_relate_mark{ padding:10px 0;}
			</style>
          {if ($topic_info["item"]=="vote")&&$topic_info["item_id"]}
          {eval $myOption=jlogic('vote')->get_vote_item($topic_info["item_id"], $topic_info["uid"], 1, $topic_info[addtime]);$string='';!$myOption['option']||$string=implode('，',$myOption['option']);}
          {if $string}<span class="topic_select"><span>投票给：{$string}</span></span><br />
          {/if}
          {/if} <span>{$topic_info[content]}</span> 
          <!--{hook/global_item_view_extra}--> 
          <!--{if $topic_info[attachid] && $topic_info[attach_list]}-->
          <table class="attachst" style="width:560px;margin:5px 0">
            <!--{loop $topic_info[attach_list] $iv}--> 
            <!--{eval $attachaid=$iv[id];}-->
            <tr>
              <td class="attachst_img"><img src="{$iv[attach_img]}"/></td>
              <td class="attachst_att"><p class="attachList_att_name"><b>{$iv[attach_name]}</b>&nbsp;（{$iv[attach_size]}）</p>
                <p class="attachList_att_doc"> 
                  <!--{if $iv[onlineview]}--><a href="{$iv[onlineview]}" target="_blank">在线预览</a> | <!--{/if}--> 
                  <a href="javascript:void(0);"	onclick="downattach({$iv[id]});">点此下载</a>（需<font id="attach_score_{$iv[id]}">{$iv[attach_score]}</font>积分，已下载<font id="attach_downnum_{$iv[id]}">{$iv[attach_down]}</font>次）<!--{hook/global_item_attach $attachaid}--></p></td>
            </tr>
            <!--{/loop}-->
          </table>
          <!--{/if}--> 
          
          <!--{if $topic_info[videoid]}-->
          <div class="feedUservideo v" > <a onclick="javascript:showFlash('{$topic_info[VideoHosts]}', '{$topic_info[VideoLink]}', this, '{$topic_info[VideoID]}');">
            <div id="play_{$topic_info[VideoID]}" class="vP"><img src="static/image/feedvideoplay.gif"  /></div>
            <img src="{$topic_info[VideoImg]}" style="border:none"/> </a> </div>
          <!--{/if}--> 
          
          <!--{if $topic_info['is_vote'] > 0}--> 
          <!--{eval $__v_tid =$topic_info['tid'].'_'.$topic_info['random']}--> 
          <!--投票 Begin-->
          <ul class="imgList" id="vote_detail_{$__v_tid}">
            <li><a href="javascript:;" onclick="getVoteDetailWidgets('{$__v_tid}', {$topic_info['is_vote']});"><img src='./images/vote_pic_01.gif'/></a> </li>
          </ul>
          <div id="vote_area_{$__v_tid}" style="display:none;">
            <div class="relayTxt">
              <div class="mid" id="vote_content_{$__v_tid}"></div>
            </div>
          </div>
          <!--投票 End--> 
          <!--{/if}--> 
          
          <!--有奖转发 Begin--> 
          <!--{if $topic_info['is_reward'] > 0}-->
          <ul class="imgList" id="reward_detail_{$topic_info['tid']}">
            <li> <a href="javascript:;" onclick="getRewardDetailWidgets('{$topic_info['tid']}','{$topic_info['item_id']}');"><img src="$topic_info['reward_image']"/></a> </li>
          </ul>
          <div id="reward_area_{$topic_info['tid']}" style="display: none;">
            <div class="relayTxt">
              <div class="mid" id="reward_content_{$topic_info['tid']}" style="padding:10px 0"></div>
            </div>
          </div>
          <!--{/if}--> 
          <!--有奖转发 End--> 
          
          <!--{if $topic_info[musicid]}--> 
          <!--{if $topic_info[xiami_id]}-->
          <div class="feedUserImg">
            <embed width="257" height="33" wmode="transparent" type="application/x-shockwave-flash" src="http://www.xiami.com/widget/0_{$topic_info[xiami_id]}/singlePlayer.swf"></embed>
          </div>
          <!--{else}-->
          <div class="feedUserImg">
            <div id="play_{$topic_info[MusicID]}"></div>
            <img src="static/image/music.gif" title="点击播放音乐" onclick="javascript:showFlash('music', '{$topic_info[MusicUrl]}', this, '{$topic_info['MusicID']}');" style="cursor:pointer; border:none;" /> </div>
          <!--{/if}--> 
          <!--{/if}--> 
        </div>
      </li>
	  <!--{if $topic_info[item]=='channel' && in_array($topic_info[channel_type],array('ask','idea')) && $t_relate_list}-->
	 {template "topic_view_relate"}
	 <!--{/if}-->
      <!--{if ($tpid=$topic_info[top_parent_id])>0}--> 
      <!--{eval $pt=$t_parent_list[$tpid];}-->
      <li>
        <div class="relayTxt">
          <div class="mid"> 
          <!--<span class="arr116"></span>-->
            <!--{if $pt}--> 
            <span> <a href="index.php?mod={$pt[username]}" onmouseover="get_user_choose({$pt[uid]},'_reply_user',{$pt[tid]});" onmouseout="clear_user_choose();">{$pt[nickname]}</a> {$pt[validate_html]} : 
            <!--悬浮头像、弹出对话框--><span id="user_{$pt[tid]}_reply_user"></span><!--悬浮头像、弹出对话框--> 
            </span> {if ($pt["item"]=="vote")&&$pt["item_id"]}
            {eval $myOption=jlogic('vote')->get_vote_item($pt["item_id"], $pt["uid"], 1, $pt[addtime]);$string='';!$myOption['option']||$string=implode('，',$myOption['option']);}
            {if $string}<br>
            <span class="topic_select"><span>投票给：{$string}</span></span><br />
            {/if}
            {/if} 
            <!--{eval $TPT_ = $TPT_ ? $TPT_ : 'TPT_';}--> 
            <span id="topic_content_{$TPT_}{$pt[tid]}_short">{$pt[content]}</span> 
            <!--{hook/global_item_view_parent_extra}--> 
            <span id="topic_content_{$TPT_}{$pt[tid]}_full"></span>
            <!-- 已经是全文，不需要再读取 -->             
            <!--{if 0 && $pt[longtextid] > 0}--> 
            <a class="longText" href="javascript:;" onclick="view_longtext('{$pt[longtextid]}', '{$pt[tid]}', this, '{$TPT_}', '{$topic_info[tid]}');return false;">查看全文</a> 
            <!--{/if}--> 
            
            <!--{if $pt[attachid] && $pt[attach_list]}-->
            <table class="attachst" style="width:560px; margin:5px 0">
              <!--{loop $pt[attach_list] $iv}--> 
              <!--{eval $attachaid=$iv[id];}-->
              <tr>
                <td class="attachst_img"><img src="{$iv[attach_img]}"/></td>
                <td class="attachst_att" style="float:left;"><p class="attachList_att_name"><b>{$iv[attach_name]}</b>&nbsp;（{$iv[attach_size]}）</p>
                  <p class="attachList_att_doc"> 
                    <!--{if $iv[onlineview]}--><a href="{$iv[onlineview]}" target="_blank">在线预览</a> | <!--{/if}--> 
                    <a href="javascript:void(0);"	onclick="downattach({$iv[id]});">点此下载</a>（需<font id="attach_score_{$iv[id]}">{$iv[attach_score]}</font>积分，已下载<font id="attach_downnum_{$iv[id]}">{$iv[attach_down]}</font>次）<!--{hook/global_item_attach $attachaid}--></p></td>
              </tr>
              <!--{/loop}-->
            </table>
            <!--{/if}--> 
            
            <!--			<!--{if $pt[imageid] && $pt[image_list]}--> 
            <!--{eval $pt[image_key]=$pt[tid].'_'.$pt[random];}-->
            <ul class="imgList" id="image_area_{$pt[image_key]}">
              <!--{loop $pt[image_list] $iv}-->
              <li><a href="{$iv[image_original]}" class="artZoomAll" rel="{$iv[image_small]}" rev="{$pt[image_key]}"><img style="width:{conf thumbwidth}px; height:{conf thumbheight}px;" src="{$iv[image_small]}" /></a></li>
              <!--{/loop}-->
            </ul>
            <!--{/if}-->--> 
            
            <!--{if $pt[videoid] and $this->Config[video_status]}-->
            <div class="feedUservideo" > <a onClick="javascript:showFlash('{$pt[VideoHosts]}', '{$pt[VideoLink]}', this, '{$pt[VideoID]}');" >
              <div id="play_{$pt[VideoID]}" class="vP"></div>
              <img src="{$pt[VideoImg]}" style="border:none" /> </a> </div>
            <!--{/if}--> 
            
            <!--{if $pt[musicid]}--> 
            <!--{if $pt[xiami_id]}-->
            <div class="feedUserImg">
              <embed width="257" height="33" wmode="transparent" type="application/x-shockwave-flash" src="http://www.xiami.com/widget/0_{$pt[xiami_id]}/singlePlayer.swf"></embed>
            </div>
            <!--{else}-->
            <div class="feedUserImg"> <img src="static/image/music.gif" title="点击播放音乐" onClick="javascript:showFlash('music', '{$pt[MusicUrl]}', this, '{$pt['MusicID']}');" style="cursor:pointer;border:none;" />
              <div id="play_{$pt[MusicID]}" class="vP"></div>
            </div>
            <!--{/if}--> 
            <!--{/if}--> 
            
            <!--投票 Begin--> 
            <!--{if $pt['is_vote'] > 0}-->
            <ul class="imgList" id="vote_detail_{$pt['tid']}">
              <li><a href="javascript:;" onclick="getVoteDetailWidgets('{$pt['tid']}', {$pt['is_vote']});"><img src='./images/vote_pic_01.gif'/></a> </li>
            </ul>
            <div id="vote_area_{$pt['tid']}" style="display:none;">
              <div class="vote_zf_box" id="vote_content_{$pt['tid']}"></div>
            </div>
            <!--{/if}--> 
            <!--投票 End-->
            
            <p style="float:left; width:100%; display:block;"> <a {if MEMBER_ID <1 }onclick="ShowLoginDialog();"{else}onclick="topicdig({$pt[tid]},{$pt[uid]},{$pt[digcounts]},'{$this->Config[changeword][dig]}');return false;"{/if} class="topicdig_{$pt[tid]} digusers" href="javascript:void(0)" value="{$pt[tid]}" rel="{$pt[digcounts]}">{$this->Config[changeword][dig]}原文<!--{if $pt[digcounts]}-->({$pt[digcounts]})<!--{/if}--></a> &nbsp;<a href="index.php?mod=topic&code={$tpid}" target="_blank">原文评论({$pt[replys]})</a>&nbsp; <a onclick="get_forward_choose($tpid,{$allow_attach},{$allow_pic},{$allow_face});return false;" href="index.php?mod=topic&code={$tpid}" target="_blank">转发原文({$pt[forwards]})</a></p>
            <!--{else}--> 
            <span>原始{$this->Config[changeword][n_weibo]}已删除</span> 
            <!--{/if}--> 
          </div>
        </div>
      </li>
      <!--{/if}-->
      <li class="from">
        <div class="mycome"> {$topic_info[dateline]}{$topic_info[from_html]}</div>
        <!--右边对微博的一些操作 Begin--> 
        <!--{if $allow_op && $topic_info[managetype] != 2}-->
        <div class="handle"> 
          <!--{if true===jaccess('topic', 'do_recd')}--> 
          <!--推荐开始 Begin--> 
          <a href="javascript:;" onclick="showTopicRecdDialog({'tid':'{$topic_info[tid]}','tag_id':'{$tag_id}'});return false;">推荐</a> | 
          <!--推荐开始 End--> 
          <!--{/if}--> 
          <span {if MEMBER_ID <1 } onclick="ShowLoginDialog();"{else} onclick="topicdig({$topic_info[tid]},{$topic_info[uid]},{$topic_info[digcounts]},'{$this->Config[changeword][dig]}');return false;"{/if}> <a class="topicdig_{$topic_info[tid]}" id="topicdig_{$topic_info[tid]}" href="javascript:void(0)">{$this->Config[changeword][dig]}<!--{if $topic_info[digcounts]}-->({$topic_info[digcounts]})<!--{/if}--></a> | </span> <span {if MEMBER_ID <1 } onclick="ShowLoginDialog();" {/if}> <a href="javascript:void(0)" onclick="ReportBox('{$topic_info[tid]}')" title="举报不良信息">举报</a> | </span> 
          <!--{eval if($this->Config['attach_enable']) $allow_attach = 1; else $allow_attach = 0 }--> 
          <span {if MEMBER_ID <1 } onclick="ShowLoginDialog();" {/if}> <a href="javascript:void(0)" onclick="get_forward_choose({$topic_info[tid]},{$allow_attach},{$allow_pic},{$allow_face});return false;" title="转发微博">转发</a> | </span> <span> 
          <!--{if jallow($topic_info[uid])}--> 
          <a href="javascript:void(0)" onclick="deleteTopic({$topic_info[tid]},'topic_list}_{$topic_info[tid]}','view');return false;">删除</a> |&nbsp; 
          <!--{if  time() - $topic_info[addtime] < 3600 || 'admin'==MEMBER_ROLE_TYPE}--> 
          <!--{if $topic_info[replys] <= 0 && $topic_info[forwards] <= 0 || 'admin'==MEMBER_ROLE_TYPE}--> 
          <a href="javascript:void(0);" onclick="modifyTopic({$topic_info[tid]},'modify_topic_{$topic_info[tid]}','reply_list');return false;" style="cursor:pointer;">编辑</a> |&nbsp; 
          <!--{/if}--> 
          <!--{/if}--> 
          <!--{/if}--> 
          </span> 
          
          <!--{if $is_favorite}--> 
          <span id="favorite_{$topic_info[tid]}" {if MEMBER_ID <1 } onclick="ShowLoginDialog();" {/if}> <a href="javascript:void(0)" onclick="favoriteTopic({$topic_info[tid]},'delete');return false;">取消收藏</a></span> 
          <!--{else}--> 
          <span id="favorite_{$topic_info[tid]}" {if MEMBER_ID <1 } onclick="ShowLoginDialog();" {/if}> <a href="javascript:void(0)" onclick="favoriteTopic({$topic_info[tid]},'add');return false;">收藏</a></span> 
          <!--{/if}--> 
          
          <!--{if in_array($root_type, get_topic_type('forward'))}--> 
          <!--{if $this->Config[sina_enable] && sina_weibo_init()}--> 
          {eval echo sina_weibo_share($topic_info[tid]);} 
          <!--{/if}--> 
          <!--{if $this->Config[qqwb_enable] && ($qqwb_config = qqwb_init()) && $qqwb_config[qqwb][is_rebutton_display]}--> 
          {eval $ioss="";$ios=array();if($topic_info[imageid] && $topic_info[image_list])foreach($topic_info[image_list] as $iv)$ios[]=$iv[image_original]; $ioss=implode("|",$ios);}
          | <a href="javascript:void(0)" onclick="postToWb();" title="转播到腾讯微博" style="height:16px;font-size:12px;line-height:16px;"><img src="http://v.t.qq.com/share/images/s/weiboicon16.png" align="absmiddle"/></a> 
          <script type="text/javascript">
					function postToWb(){
						var _t = encodeURI(document.title);
						var _url = encodeURIComponent(document.location);
						var _appkey = encodeURI('{$qqwb_config[qqwb][app_key]}');//你从腾讯获得的appkey
						var _pic = encodeURI('{$ioss}');//（例如：var _pic='图片url1|图片url2|图片url3....）
						var _site = '{conf site_url}';//你的网站地址
						var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
						window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
					}
				</script> 
          <!--{/if}--> 
          {conf topic_view_share_code} 
          <!--{/if}--> 
        </div>
        <!--{/if}--> 
        <!--右边对微博的一些操作 End--> 
      </li>
    </div>
    <div id="modify_topic_{$topic_info[tid]}"></div>
    <!--{if $topic_info[digcounts]}-->
    <div class="comheader" > <span class="mleft">{$this->Config[changeword][dig]}过该{$this->Config[changeword][n_weibo]}的人</span> <span class="mright">共 <b>{$topic_info[digcounts]}</b> 人</span> </div>
    <ul class="dig_user_list">
      <!--{loop $dig_users $u}-->
      <li> <img src="{$u[face]}" onerror="javascript:faceError(this);"> <br>
        <a href="index.php?mod={$u[username]}" onmouseout="clear_user_choose()" onmouseover="get_at_user_choose('{$u[nickname]}',this)">{$u[nickname]}</a> </li>
      <!--{/loop}-->
    </ul>
    <!--{/if}-->
    <div class="comheader"> <span class="mleft"><!--{if !jget('orderby')}--><a href="index.php?mod=topic&code={$this->ID}"><b>评论</b></a><!--{else}-->
    		<a href="index.php?mod=topic&code={$this->ID}">评论</a>
    	<!--{/if}--></span> 
      <!--{if $topic_info[replys] > 0}--> 
      <span style="margin-left:20px;"><!--{if 'dig'==jget('orderby')}--><a href="index.php?mod=topic&code={$this->ID}&orderby=dig"><b>按{$this->Config[changeword][dig]}次数</b></a><!--{else}-->
      		<a href="index.php?mod=topic&code={$this->ID}&orderby=dig">按{$this->Config[changeword][dig]}次数</a>
      	<!--{/if}--></span> 
      <span style="margin-left:20px;"><!--{if 'post'==jget('orderby')}--><a href="index.php?mod=topic&code={$this->ID}&orderby=post"><b>按评论时间</b></a><!--{else}-->
      		<a href="index.php?mod=topic&code={$this->ID}&orderby=post">按评论时间</a>
      	<!--{/if}--></span> 
      <!--{/if}--> 
      <span class="mright">共 <a href="index.php?mod=topic&code={$this->ID}"><b>{$topic_info[replys]}</b></a> 条</span> </div>
		<style type="text/css">
        #replyListArea .topicTxt{ font-size:12px;}
        #listTopicArea .feedCell .wb_l_face { width: 50px;height: 50px;}
        .relayFloor .relaycontent{ clear:both;}
    
        </style>
    <div id="replyListArea"> {template "topic_reply_list_ajax"} </div>
    <script type="text/javascript">
  <!--{if $isloading}-->var isLoading = true;<!--{else}-->var isLoading = false;<!--{/if}-->
  if(isLoading){$('#pageinfo').html('');$("#pagehtml").hide();}var ajaxkeys = new Array();var onloading = false;var ajaxnum = 0;
  <!--{loop $ajaxkey $key $val}-->
  ajaxkeys[{$key}] = '{$val}';
  <!--{/loop}-->
  $(window).bind('scroll resize',function(event){if(isLoading && !onloading){var bodyTop = document.documentElement.scrollTop + document.body.scrollTop;if(bodyTop+$(window).height() >= ($('#replyListArea').height()+400)){loadtopic(ajaxkeys[ajaxnum],'asc');}}});
  </script> 
    <script language="Javascript">
function replyList(pg, tid2, eid, meid) {
	var pg = ('undefined' == typeof(pg) ? 0 : pg);
	var tid2 = ('undefined' == typeof(tid2) ? 0 : tid2);
	var eid = ('undefined' == typeof(eid) ? 'replyListArea' : eid);
	var meid = ('undefined' == typeof(meid) ? '' : meid);
	if(meid) {
		$("#" + meid).html("<div><center><span class='loading'>内容正在加载中，请稍候……</span></center></div>");
	} else {
		window.location.hash="#" + eid;	
	}
	var myAjax = $.post(
		'ajax.php?mod=topic&code=list_reply',
		{
			tid:'{$topic_info[tid]}',
			tid2:tid2,
			orderby:'{$orderby}',
			p:pg
		},
		function (d) {
			$('#' + eid).html(d);
		}
	);
}
</script> 
    <!--{if $topic_info[managetype] != 2}--> 
    <a name="replyTopic" id="replyTopic"></a> <div class="one_comment" {if MEMBER_ID<1} onclick="ShowLoginDialog();" {/if} >
    <li>
      <textarea name="content" id="i_already_view" rows="3"></textarea>
      <input name="replytid" type="hidden" id="replytid" value="{$topic_info[tid]}"/>
    </li>
    <li class="from" style="position:relative;">
      <div class="mycome" style="overflow: visible;"> 
        <!--{if $this->Config['face_enable']}--> 
        <script type="text/javascript">
     $(document).ready(function(){
	 $(".reply_menu_bqb_c").click(function(){$("#reply_face").show();$('.rf_at_user').hide();$(".insertImgDiv").hide();$(".insertAttachDiv").hide();});
	 $("#reply_atuser_view").click(function(){$("#atuser_reply_view").show();$(".forward_f2").hide();$(".forward_f").hide();$(".insertAttachDiv").hide();$(".modify_face").hide();$(".insertImgDiv").hide();});$(".menu_hpb_c1").click(function(){$("#atuser_reply_view").hide();});
	 });
	 </script>
        <div class="ins">
          <div class="menuf_bq"> <b class="reply_menu_bqb_c"><a href="javascript:void(0);" onclick="topic_face('reply_face','i_already_view');return false;">表情</a></b>
            <div id="reply_face" class="reply_face forward_f2"></div>
          </div>
        </div>
        
        <!--{/if}--> 
        
        <!--{if $this->Config['image_enable']}-->
        <div class="comment_p_b2 comment_p_b22" id="reply_image_uploadify_{$topic_info[tid]}">
          <div onclick="imageUploadifyHTML('{$topic_info[tid]}', 'i_already_view', 'reply_image_uploadify_{$topic_info[tid]}', 1);" class="menuf_tq"><b class="menu_tqb_c">图片</b></div>
        </div>
        <!--{/if}--> 
        
        <!--{if $this->Config['attach_enable']}-->
        <div class="comment_p_b2 comment_p_b22" id="reply_attach_uploadify_{$topic_info[tid]}">
          <div onclick="attachUploadifyHTML('{$topic_info[tid]}', 'i_already_view', 'reply_attach_uploadify_{$topic_info[tid]}', 1);" class="menuf_fj menu_fj_reply_style"><b class="menu_fjb_c">附件</b></div>
        </div>
        <!--{/if}-->
        
        <div class="comment_p_b2 comment_p_b22 sendInsertfocus">
          <div class="menu_hp"><b class="menu_hpb_c" id="reply_atuser_view" onclick="showatuserw('i_already_view','reply','view');return false;">朋友</b>
            <div class="menu_hpb rf_at_user" id="atuser_reply_view"><span class="arrow-up"></span><span class="arrow-up-in"></span>
              <div class="menu_tb showusr">
                <div id="showatuser_reply_view" class="showatuser"></div>
                <sub class="menu_hpb_c1"></sub></div>
            </div>
          </div>
        </div>
      </div>
      <div style="float:right;">
        <div style="float:right;"> 
          <!--{if $this->yxm_title}-->
          <input type="hidden" id="yxm_rtopicpub" onclick="publishSubmit('rpublishSubmit','u-btn','i_already_view','replytid','rl','topictype');return false;">
          <input id="rpublishSubmit" type="button" value="评 论" class="u-btn" title="按Ctrl+Enter快捷发布" onclick="YXM_pubtopic('i_already_view','r','topictype','yxm_rtopicpub');return false;" />
          <!--{else}-->
          <input id="rpublishSubmit" onclick="publishSubmit('rpublishSubmit','u-btn','i_already_view','replytid','rl','topictype');return false;" type="button" value="评 论" class="u-btn" title="按Ctrl+Enter快捷发布" />
          <!--{/if}--> 
        </div>
        <div class="view_r2"> 
          <!--{if in_array($root_type, get_topic_type('forward'))}-->
          <div class="view_r1">
            <input name="topictype" type="checkbox" id="topictype" value="reply" onclick="select_checked();"/>
            <label for="topictype" style="cursor:pointer;">转发给粉丝</label>
          </div>
          <!--{else}-->
          <input name="topictype" type="hidden" id="topictype" value="reply"/>
          <!--{/if}--> 
        </div>
      </div>
    </li>
    <!--{if $this->yxm_title}-->
    <li id="yxm_pub_buttonr" onclick="YXM_popBox(this,'rreply','{$this->yxm_title}');" style="margin-left:150px;height:1px;">&nbsp;</li>
    <!--{/if}--> 
    <!--底部发布框 End--> 
  </div>
  <!--{/if}--> 
</div>
<script language="Javascript">
String.prototype.trim = function() 
{ 
return this.replace(/(^\s*)|(\s*$)/g, ""); 
}
//字数统计 END
$("#i_already_view").bind('keydown',function(event){
	event = event || window.event;
    if (event.keyCode == 13 && event.ctrlKey) {
        $("#rpublishSubmit").click();
    }
});
$(document).ready(function(){
	//初始化智能输入框
	initAiInput('i_already_view');
	$('#i_already_view').setCaret();
	$("#i_already_view").autoTextarea({maxHeight:220});
});
</script> 
{template "topic_myblog.ini"}
</div>
{template "topic_footer"} 