<script type="text/javascript"> var __TOPIC_VIEW__ = '{$topic_view}'; </script>
<!--{if ($tpid=$val[top_parent_id])>0 && !in_array($this->Code, array('forward', 'reply'))}-->
<!--{if !$topic_view}-->
<!--{eval $pt=$parent_list[$tpid];}-->
<div class="relayTxt">
<div class="mid">
<!--<span class="arr116"></span>-->
<p><!--{if $pt}--> <span> 
<!--{if $pt[anonymous]}-->
<a href="javascript:void(0)"> {$pt[nickname]} </a>
<!--{else}-->
<a
	href="index.php?mod={$pt[username]}"
	onmouseover="get_user_choose({$pt[uid]},'_reply_user',{$val[tid]});"
	onmouseout="clear_user_choose();"> {$pt[nickname]} </a>
{$pt[validate_html]}
<!--{/if}-->
: <!--悬浮头像、弹出对话框--> <span
	id="user_{$val[tid]}_reply_user"></span> <!--悬浮头像、弹出对话框--> </span> 
	{if ($pt["item"]=="vote")&&$pt["item_id"]}
            {eval $myOption=jlogic('vote')->get_vote_item($pt["item_id"], $pt["uid"], 1, $pt[addtime]);$string='';!$myOption['option']||$string=implode('，',$myOption['option']);}
                {if $string}<br><span class="topic_select"><span>投票给：{$string}</span></span><br />{/if}
            {/if}
	<!--{eval $TPT_ = $val['tid'].'_';}-->
<div id="topic_content_{$TPT_}{$pt[tid]}_short">
    {$pt[content]}
	<!--{hook/global_item_parent_extra $topictid}-->
    <!--{if $pt[imageid] && $pt[image_list]}-->
    <div onclick="view_longtext('{$pt[longtextid]}', '{$pt[tid]}', '{$pt[tid]}', '{$TPT_}', '{$pt[tid]}');return false;">
    <ul class="imgList">
        <!--{loop $pt[image_list] $iv}-->
        <li><img src="static/image/grey.gif" data-original="{$iv['image_small']}"></li>
        <!--{/loop}-->
    </ul>
    </div>
    <!--{/if}-->
</div>            
<!--{if $pt[imageid] && $pt[image_list]}-->
<div style="display:none;">
<ul class="imgList">
    <!--{loop $pt[image_list] $iv}-->
    <li><img src="static/image/grey.gif" data-original="{$iv['image_original']}"></li>
    <!--{/loop}-->
</ul>
</div>
<!--{/if}--> 
<span id="topic_content_{$TPT_}{$pt[tid]}_full"></span> 

<!--{if $pt[longtextid] > 0}-->
<a class="longText" id="longText_{$val[tid]}{$pt[tid]}" href="javascript:;" onclick="view_longtext('{$pt[longtextid]}', '{$pt[tid]}', '{$val[tid]}{$pt[tid]}', '{$TPT_}', '{$val[tid]}');return false;">查看全文</a>
<!--{/if}--> 

<!--{if $pt[attachid] && $pt[attach_list]}-->
<table class="attachst" style="width:490px;">
	<!--{loop $pt[attach_list] $iv}-->
	<!--{eval $attachaid=$iv[id];}-->
	<tr>
		<td class="attachst_img"><img src="{$iv[attach_img]}" /></td>
		<td class="attachst_att">
		<p class="attachList_att_name"><b>{$iv[attach_name]}</b>&nbsp;（{$iv[attach_size]}）</p>
		<p class="attachList_att_doc">
		<!--{if $iv[onlineview]}--><a href="{$iv[onlineview]}" target="_blank">在线预览</a> | <!--{/if}-->
		<a href="javascript:void(0);"
		onclick="downattach({$iv[id]});">点此下载</a>（需<font id="attach_score_{$iv[id]}">{$iv[attach_score]}</font>积分，已下载<font id="attach_downnum_{$iv[id]}" class="attach_downnum_{$iv[id]}">{$iv[attach_down]}</font>次）<!--{hook/global_item_attach $attachaid}--></p>

		</td>
	</tr>
	<!--{/loop}-->
</table>
<!--{/if}--> 

<!--投票 --> 
<!--{if $pt['is_vote'] > 0}--> <!--{eval $__vote_key = $pt['tid'].'_'.$pt['random']}-->
<ul class="imgList" id="vote_detail_{$__vote_key}">
<li><a href="javascript:;" onclick="getVoteDetailWidgets('{$__vote_key}', {$pt['is_vote']});"><img src='./images/vote_pic_01.gif' /></a></li>
</ul>
<div id="vote_area_{$__vote_key}" style="display: none;">
<div class="vote_zf_box" id="vote_content_{$__vote_key}"></div>
</div>
<!--{/if}--> 

<!--有奖转发 Begin-->
<!--{if $pt['is_reward'] > 0}-->
<ul class="imgList" id="reward_detail_{$pt['tid']}_{$val['tid']}">
  <li>
    <a href="javascript:;" onclick="getRewardDetailWidgets('{$pt['tid']}','{$pt['item_id']}',{$val['tid']});"><img src="$pt['reward_image']" style="width:120px;height:120px;"/></a>
  </li>
  <li>
    <a href="javascript:;" onclick="getRewardDetailWidgets('{$pt['tid']}','{$pt['item_id']}',{$val['tid']});"><img src="./images/reword1.png" style="padding:90px 0 0 40px;"/></a>
  </li>
</ul>
<div id="reward_area_{$pt['tid']}_{$val['tid']}" style="display: none;">
  <div class="relayTxt">
    <div class="mid" id="reward_content_{$pt['tid']}_{$val['tid']}" style="padding:10px 0"></div>
  </div>
</div>
<!--{/if}-->
<!--有奖转发 End-->

<!--{if $pt[videoid] and $this->Config[video_status]}-->
<div class="feedUservideo">
<a onClick="javascript:showFlash('{$pt[VideoHosts]}', '{$pt[VideoLink]}', this, '{$pt[VideoID]}','{$pt[VideoUrl]}');">
<div id="play_{$pt[VideoID]}" class="vP"><img src="static/image/feedvideoplay.gif" /></div>
<img src="{$pt[VideoImg]}" style="border: none" /> </a></div>
<!--{/if}--> <!--{if $pt[musicid]}--> <!--{if $pt[xiami_id]}-->
<div class="feedUserImg">
<embed width="257" height="33" wmode="transparent" type="application/x-shockwave-flash" src="http://www.xiami.com/widget/0_{$pt[xiami_id]}/singlePlayer.swf"></embed></div>
<!--{else}-->
<div class="feedUserImg">
<div id="play_{$pt[MusicID]}"></div>
<img src="static/image/music.gif" title="点击播放音乐" onClick="javascript:showFlash('music', '{$pt[MusicUrl]}', this, '{$pt['MusicID']}');" style="cursor: pointer; border: none;" /></div>
<!--{/if}--> <!--{/if}-->
</p>

<div class="favorTag">
<a {if MEMBER_ID <1 }onclick="ShowLoginDialog();"{else}onclick="topicdig({$pt[tid]},{$pt[uid]},{$pt[digcounts]},'{$this->Config[changeword][dig]}',1);return false;"{/if} class="topicdig_{$pt[tid]}" href="javascript:void(0)" value="{$pt[tid]}" rel="{$pt[digcounts]}">{$this->Config[changeword][dig]}原文<!--{if $pt[digcounts]}-->({$pt[digcounts]})<!--{/if}--></a>
&nbsp;<a href="index.php?mod=topic&code={$tpid}" target="_blank">原文评论({$pt[replys]})</a>&nbsp;
<a onclick="get_forward_choose($tpid,0,0,0);return false;"href="index.php?mod=topic&code={$tpid}" target="_blank">转发原文({$pt[forwards]})</a>&nbsp;
{$pt[from_html]}&nbsp;&nbsp;<span class="recd_r_img_{$pt[tid]}"><!--{if $pt[recommend] > 0}--><img src="images/recommend.gif"><!--{/if}--></span></div>

<!--{else}--> <!--{eval $val[reply_disable]=0;}-->
<p><span>原始{$this->Config[changeword][n_weibo]}已删除</span></p>
<!--{/if}--></div>
</div>
<!--{/if}-->
<!--{/if}-->