<style type="text/css">
.feedCell{ float:left; clear:both;}
</style>

<div class="wb_l_face">
<div class="avatar">
	<a href="index.php?mod={$favorite_members[$val[fuid]][username]}" class="nude_face">
		<img onerror="javascript:faceError(this);" src="{$favorite_members[$val[fuid]][face]}" />
	</a>
</div>
</div>
<div class="Contant">
	<div id="topic_lists_{$val[tid]}" style="_overflow:hidden;">
		<div class="topicTxt">
			<p>
				<a title="查看{$favorite_members[$val[fuid]][nickname]}的$this->Config['changeword']["n_weibo"]" href="index.php?mod={$favorite_members[$val[fuid]][username]}" onmouseover="get_at_user_choose('{$favorite_members[$val[fuid]][nickname]}',this)">		 										{$favorite_members[$val[fuid]][nickname]}
				</a>
				{$favorite_members[$val[fuid]][validate_html]}：
				<span style="color:#666; font-size:12px;">收藏于{$val[favorite_time]}</span>
			</p>
			<span>
			<a href="index.php?mod={$val[username]}">
			  {$val[nickname]}
			</a>{$val[validate_html]}:{$val[content]}
			</span>
			<!--{hook/global_item_extra2 $topictid}-->
			{template "topic_share_cite"}
			{template "topic_share_quote"}
		</div>

		<div class="from">
			<span class="handle"></span> 
			<span class="mycome"></span> 
		</div>
	</div>
	<div id="reply_area_{$val[tid]}"></div>
	<!--编辑微博-->
	<div id="modify_topic_{$val[tid]}"></div>
	<!--编辑微博-->
</div>
