{template "topic_header"}

<!--头部广告-->
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][vote][header]}-->
<!--{eval SetADV('vote','header');}-->
<!--{/if}-->  
<!--头部广告-->

<div class="main">    

  <!--中间栏-->
  {template 'topic_vote_middle'}
  <!--中间栏-->
  
  <!--页面右侧-->
   {template "topic_vote.ini"}
  <!--页面右侧-->
</div>

<!--底部广告-->
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][vote][footer]}-->
<!--{eval SetADV('vote','footer');}-->
<!--{/if}-->
<!--底部广告-->

<!--页面底部-->
{template "topic_footer"}
<!--页面底部-->