</div>
</div>

{hook/global_footer_top}

{if !defined('NEDU_MOYO')}
<div class="g-ft">
	<div class="m-ft">
		{jwidget public footer}	
	</div>
</div>
{/if}

{hook/global_footer}
<div id="f-top" class="f-top"><a href="/#" class="f-top-a" title="返回顶部"></a></div>

<!-- JS消息提示层 show_message('发布成功') -->
<div id="show_message_area"></div>
{eval echo $this->js_show_msg();}
<!--{if $sendMail}-->
<span style='display:none;'><img src='{conf site_url}/ajax.php?mod=misc&code=sendmailqueue' border='0' width='0' height='0' /></span>
<!--{/if}-->
<!--{if $checkUser}-->
<span style='display:none;'><img src='{conf site_url}/ajax.php?mod=misc&code=checkuser' border='0' width='0' height='0' /></span>
<!--{/if}-->
{$GLOBALS[schedule_html]}
<!--{eval if($GLOBALS['jsg_schedule_mark'] || jsg_getcookie('jsg_schedule')) echo jsg_schedule();}-->
<!-- Ajax端内容返回 -->
<div id="ajax_output_area"></div>
{eval $_web_info = jconf::get('web_info');}
{if $_web_info['float_align'] && $_web_info['float_align'] != 'none'}
{if $_web_info['float_style']=='mini'}
	{eval $fs_mini='';$fs_normal='display:none;';}
{else}
	{eval $fs_mini='display:none;';$fs_normal='';}
{/if}
<script type="text/javascript" src="static/js/scrollBox.js"></script>
<div id="jsg-global-float-div" style="display:none;">
	<div id="jsg-global-float-mini" style="{$fs_mini}">
		<img src="./images/global_float_infomation.gif" />
	</div>
	<div id="jsg-global-float-content" class="jsg-global-float-content" style="{$fs_normal}">
		{$_web_info['float']}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#jsg-global-float-div').scrollBox({
	    top: 200,
	    align: '{$_web_info["float_align"]}',
	    mix: 12
	});
	// {if $_web_info['float_style']=='mini'}
	$('#jsg-global-float-mini').bind('mouseenter', function(){
		$('#jsg-global-float-content').show();
		$('#jsg-global-float-mini').hide();
	});
	$('#jsg-global-float-content').bind('mouseleave', function(){
		$('#jsg-global-float-mini').show();
		$('#jsg-global-float-content').hide();
	});
	// {/if}
});
</script>
{/if}
<script type="text/javascript">
$(document).ready(function(){
	//图片延迟加载
	$("ul.imgList img, div.avatar img.lazyload").lazyload({
		skip_invisible : false,
		threshold : 200,
		effect : "fadeIn"
	});
	
	//微博悬浮显示已赞用户
    showdiguser();
	//显示推荐人
	showrcduser();
	
    //返回顶部
    $('.f-top-a').click(function(e){
    e.stopPropagation();
    $('html, body').animate({scrollTop: 0},300);
    backTop();
    return false;
    });
});

window.onscroll=backTop;
function backTop(){
var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
  if(scrollTop==0){
   document.getElementById('f-top').style.display="none";
   }else{
   document.getElementById('f-top').style.display="block";
    }
  }
backTop();


<!--{if $this->Config[ajax_topic_time] > 0 && MEMBER_ID > 0 && !$this->Config['acceleration_mode'] && ('myhome'==$this->Code || 'ico_ongoing'==$live[status_css] || ('topicnew'==jget('code') && 'post'==jget('orderby')))}-->
	<!--{eval $ajax_time = $this->Config[ajax_topic_time] * 1000;}-->
	function circle_topic() {
		ajax_reminded({MEMBER_ID},0,'{$GLOBALS[_J][code]}');
		ajax_recommend({MEMBER_ID});
	
		setTimeout('circle_topic();', {$ajax_time});
	}
	setTimeout('circle_topic();', {$ajax_time});
<!--{/if}-->
</script>
{$this->yxm_html}


</div>
</body>
</html>
{$GLOBALS[iframe]}
