{template "topic_header"}

<!--头部广告-->
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][event][header]}-->
<div class="a-h"><!--{eval SetADV('event','header');}--></div>
<!--{/if}-->  
<!--头部广告-->

{template "topic_left_nav.inc"}
<div class="main">  

  <!--中间栏-->
    {template 'topic_event_middle'}
  <!--中间栏-->
  
  <!--页面右侧-->
    {template "topic_event.ini"}
  <!--页面右侧-->
</div>

<!--底部广告-->
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][event][footer]}-->
  <!--{eval SetADV('event','footer');}-->
<!--{/if}-->
<!--底部广告-->

<!--页面底部-->
{template "topic_footer"}
<!--页面底部-->