

 <link href="static/style/event.css" rel="stylesheet" type="text/css" />
 
 <div class="mainWrap ">
    <div class="contentWrap">
	  <div class="Menulink">
 	    <!--{eval if(MEMBER_ID == $member[uid]) $_my = '我'; elseif(1==$member[gender]) $_my = '他';else $_my = '她';}-->
	    <!--{eval if ('joined' == $filter) $joined = 'selected';elseif ('new_update' == $filter) $new_update = 'selected';else $create = 'selected'}-->
	      <a class="{$create}" href="index.php?mod={$member[uid]}&type=event">{$_my}发起的活动</a>
	      <a class="{$joined}" href="index.php?mod={$member[uid]}&type=event&filter=joined">{$_my}参与的活动</a>
	      <!--{if MEMBER_ID == $member[uid]}-->
	      <a class="{$new_update}" href="index.php?mod={$member[uid]}&type=event&filter=new_update">最近更新的活动</a>
	      <!--{/if}-->
	  </div>
	</div>
    
    <div id="listTopicArea">	
      <div class="Listmain">
	    {template event/event_common_list}        
      </div>
    </div>
    
  </div>
