<div class="dialog_inner" id="add_remark_{$buddy_info[touid]}">
		<div class="mWarp">
		  给朋友加个备注名，方便认出他是谁
		  <table >
			  <tr>
				<td><input name="remark_name_{$buddy_info[touid]}" type="text" id="remark_name_{$buddy_info[touid]}" class="Ainp" value="{$buddy_info[remark]}" style="width:250px;"/>
				</td>
			  </tr>
		   </table>
		   <div class="tool_bar">
				<input id="remarkSubmit" type="button" class="u-btn" value="保 存" onclick="publishSubmit_remark('remark_name_{$buddy_info[touid]}',{$buddy_info[touid]});return false;"  title="按Ctrl+Enter直接提交"/>
    			<input type="button" class="u-btn u-btn-c4" value="取 消" onclick="closeDialog('{$this->Get['handle_key']}');"/>
			</div>
	  </div>
 </div>
 
<script type="text/javascript">
$("#remark_name_{$buddy_info[touid]}").bind('keydown',function(event){
	event = event || window.event;
    if (event.keyCode == 13 && event.ctrlKey) {
        $("#remarkSubmit").click();
    }
});
/*
$(function() {
        $(document).find('[id!="add_remark_{$buddy_info[touid]}"]').click(function() {
			$('#add_remark_{$buddy_info[touid]}').hide('slow');
			$("#get_remark_{$buddy_info[touid]}").html('');
        });
});*/

</script>