<!--我的首页 右侧导航-->
<div class="sideBar">

<!--用户相关信息等-->
{template "topic_right_ajax.inc"}
<script type="text/javascript">
	function AutoScroll(obj){
		$(obj).find("ul:first").animate({
			marginTop:"-39px"
		},500,function(){
			$(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
		});
	}
	$(document).ready(function(){
		setInterval('AutoScroll("#important_scroll")',3000);
	});
	</script>

	<!--新闻公告start-->
	<script language="javascript">$(document).ready(function(){get_channel_announce_news(8);});</script>
	<div class="column" id="channel_news_list"></div>
	<!--新闻公告end-->

<!--话题推荐控制START--> 
<!--{if $this->Module=='topic' && $this->Code=='myhome'}--> 

<style type="text/css">
.sublist{
	display:none;
	padding-left:10px;
}
</style>
<script>

function show_attach_sub_list(obj,type){
	$(obj).parent().next(".sublist").toggle();
	if($(obj).parent().next(".sublist:visible").length){
		if(type == 'img'){
			$(obj).attr("src",'images/cp/close.gif');
		}else{
			$(obj).prev('img').attr("src",'images/cp/close.gif');
		}
	} else {
		if(type == 'img'){
			$(obj).attr("src",'images/cp/open.gif');
		}else{
			$(obj).prev('img').attr("src",'images/cp/open.gif');
		}
	}
}
</script> 

<!--{eval $__all_cat_att = jlogic('attach_category')->get_all_cat_att();}-->

<!--右侧顶部广告--> 
<!--{eval SetADV('group_myhome','middle_right_top');}--> 
<!--热门话题/推荐话题--> 

<script type="text/javascript">
$(document).ready(function(){
    $(".side-tab").mouseover(function(){
    var tagTab=$(this).attr('id');
    if(tagTab=='hot-tag'){
	     $("#recom-tag").removeClass('tag-select');$("#hot-tag").addClass('tag-select');$(".hot-tagbox").show();$(".recom-tagbox").hide();}
	else{$("#hot-tag").removeClass('tag-select');$("#recom-tag").addClass('tag-select');$(".recom-tagbox").show();$(".hot-tagbox").hide();
}});});
</script> 

<!-- {eval $hot_tag_recommend = jconf::get('hot_tag_recommend');}--> 
<div class="column" style="overflow:hidden;">
  <div class="side-tabtit"> <span id="hot-tag" class="side-tab hot-tag tag-select">热门话题</span > 
    {if $hot_tag_recommend['enable']} 
    <span id="recom-tag" class="side-tab">{$hot_tag_recommend['name']}</span > 
    {/if} 
  </div>
  <div class="tagpanel">
    <div class="hot-tagbox"> 
      {if method_exists($this,'_recommendTag')} 
      {eval $r_tags = $this->_recommendTag(2,10,$this->CacheConfig['topic_index']['hot_tag']);} 
      {loop $r_tags $__one_key $__one} 
      <span class="ut{$__one_key}"><a href="index.php?mod=tag&code={$__one['name']}" target="_blank">{$__one['name']}</a></span> 
      {/loop} 
      {/if} 
    </div>
    
    {if $hot_tag_recommend['enable']}
    <div class="recom-tagbox"> 
      {loop $hot_tag_recommend['list'] $hot_tag_recommend_one}
      <li> <a href="index.php?mod=tag&code={$hot_tag_recommend_one['name']}">#{$hot_tag_recommend_one['name']}#</a> 
        {if $hot_tag_recommend_one['desc']}
        <p class="total"> <span class="arrow-up"></span> <span class="arrow-up-in"></span> {$hot_tag_recommend_one['desc']}</p>
        {/if} 
      </li>
      {/loop} 
    </div>
    {/if} 
    
  </div>
</div>
{/if} 
<!--话题推荐控制END -->


      <!--{if false!=($week_topic_member=jlogic('member')->get_member_by_topic(12))}-->
        <div class="column" style="padding-bottom:10px;">
        <h3><span>活跃用户推荐</span><!--如果人数多于9个显示【更多】--><!-- <a href="javascript:void(0);">更多&gt;&gt;</a> --></h3>

          <ul class="sideul sideuserList ">
              <div id="{MEMBER_ID}_recommend_user">
              <!--{loop $week_topic_member $val}-->
              <li> 
              <a href="index.php?mod={$val[username]}" target="_blank"><img onerror="javascript:faceError(this);" src="{$val[face]}" class="manface" onmouseover="get_user_choose({$val[uid]},'_user',{$val[uid]})" onmouseout="clear_user_choose()"/></a> 
              <b><a href="index.php?mod={$val[username]}" target="_blank">{$val[nickname]}</a></b> 
              {template "alert_menu"} 
              </li>
              <!--{/loop}-->
              </div>
          </ul>
		 
        </div>
      <!--{/if}-->


		<!--推送动态start-->
		<!--{if $GLOBALS['_J']['config']['feed_must']}-->
        <script type="text/javascript">
		$(document).ready(function(){get_feed_news(5);});
		if(!($.browser.msie && $.browser.version<7)){$("#side_follow").fixbox({distanceToBottom:200,threshold:8});}
		function get_feed_news(num){var num = 'undefined' == typeof(num) ? 5 : num;var myAjax=$.post("ajax.php?mod=dig&code=feednews",{num:num},function(d){$('#feed_news_list').html(evalscript(d));});return false;}
		function circle_feed(){get_feed_news(5);setTimeout('circle_feed();',60000);}
		setTimeout('circle_feed();',60000);
		function autoScroll(obj){$(obj).find("#feed_news_list").animate({marginTop:"-50px"},500,function(){$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);})}
		$(function(){setInterval('autoScroll(".feed_news_list_cols")',3000)})
       </script>
       <div id="side_follow">
		<div class="column" style="border-top:none;">
		     <div class="cols">
				 <h3>重要动态</h3>
                 <ul class="feed_news_list_cols">
				 <ul id="feed_news_list">
				 </ul> </ul>
			 </div>
		</div>
		<!--{/if}-->
		<!--推送动态End-->
        
        <div class="column">
        <h3>手机访问{$this->Config[site_name]}</h3>
        <div class="phoneShow">
        <div class="mobi">
        <i>客户端：</i>
        <a href="index.php?mod=other&code=iphone" target="_blank" class="ios" title="ios客户端"></a>
        <a href="index.php?mod=other&code=android" target="_blank" class="android" title="android客户端"></a>
        </div>
        </div>
        <div class="phoneShow">
        <i>其他方式：</i>
        <a href="index.php?mod=other&code=mobile" target="_blank">3G版</a>&nbsp;&nbsp;
        <a href="index.php?mod=other&code=wap" target="_blank">Wap版</a>&nbsp;&nbsp;
        <a href="index.php?mod=other&code=wechat" target="_blank">微信</a>&nbsp;&nbsp;
        <!--{if !$this->Config[sms_enable] && !$this->Config[sms_link_display]}-->&nbsp;<!--{else}-->
        <a href="index.php?mod=other&code=sms" rel="nofollow" target="_blank">短信</a>
        <!--{/if}-->
        <!--{if $this->Config[wechat_enable] && $this->Config['wechat_qrcode']}-->
        <div>请关注官方微信（搜索帐号<span style="color:red;">{$this->Config[my_wechat]}</span>或扫一扫）</div>
        <a href="index.php?mod=other&code=wechat" target="_blank" style="text-align: center;width: 100%;">
            <img src="{$this->Config['wechat_qrcode']}" width="150px" height="150px" alt="微信" title="扫一扫，加关注" >
        </a>
        <!--{/if}-->
        </div>
        </div>
        </div>
</div>
<script>
function get_channel_announce_news(num){
	var num = 'undefined' == typeof(num) ? 5 : num;
	var myAjax=$.post("ajax.php?mod=dig&code=cnews",{num:num},function(d){$('#channel_news_list').html(evalscript(d));});
	return false;
}
</script>