<div class="Listmain">
<!--{if $topic_list}-->
<!--{loop $topic_list $val}-->
<!--{eval $topictid=$val[tid];}-->
<!--{if $val[item]=='channel' && in_array($val[channel_type],array('ask','idea'))}-->
<div class="feedCell relate-bg-mark" id="topic_list_{$val[tid]}">
<!--{else}-->
<div class="feedCell" id="topic_list_{$val[tid]}">
<!--{/if}-->
{subtemplate topic_item_ajax}
</div>
<!--{/loop}-->
<!--{/if}-->
</div>
<script type="text/javascript">showdiguser();showrcduser();</script>
{eval echo $this->js_show_msg();}