<!--{eval $topictid=$val[tid];$talkanswerid = $val[tid];}-->
{template "user_face_menu"}

<script type="text/javascript">
	$(document).ready(function(){
		$("#topic_list_{$val[tid]}").mouseover(function(){$("#topic_lists_{$val[tid]}_time").hide();$("#topic_lists_{$val[tid]}_view").show();});
		$("#topic_list_{$val[tid]}").mouseout(function(){$("#topic_lists_{$val[tid]}_time").show();$("#topic_lists_{$val[tid]}_view").hide();});
		<!--{if !$GLOBALS['IMG_LAZYLOAD_CODE_INIT'] && ($GLOBALS['IMG_LAZYLOAD_CODE_INIT']=1)}-->
		//图片延迟加载代码，加上IF判断，为求只出现一次。
		$("ul.imgList img, div.avatar img.lazyload").lazyload({skip_invisible : false, threshold : 200, effect : "fadeIn"});
		<!--{/if}-->
 

	});
</script>

<div class="Contant">
	<div id="topic_lists_{$val[tid]}" style="_overflow:hidden;">
	<div class="topicTxt">
			<!--{if 'topic_favorite'==jget('mod') && $val[favorite_time]}-->
			<p style="color:#666;font-size:12px;">收藏于：{$val[favorite_time]}</p>
			<!--{/if}-->			  
			<p class="utitle">
			<!--个人签名文件-->
			{template "user_signature"}
			<!--个人签名文件-->
			<!--{hook/global_item_top $topictid}-->
			<!--{if 'my_verify'==jget(type)}-->
			<span class="ut">{$val[dateline]}</span>
			<!--{else}-->
			<span id="topic_lists_{$val[tid]}_time" class="ut"><a href="index.php?mod=topic&code={$val[tid]}" target="_blank" title="查看">{$val[dateline]} </a></span>
            <span id="topic_lists_{$val[tid]}_view" class="ut" style="display:none;"><a href="index.php?mod=topic&code={$val[tid]}" target="_blank" title="发布时间：{$val[dateline]}">查看详情</a></span>
			<!--{/if}-->
            <span class="recdimg recd_img_{$val[tid]}" ><!--{if $val[recommend] > 0}--><a href="index.php?mod=topic&code=recd"><img class="showrcduser" value="{$val[tid]}" src="images/recommend.gif"></a><!--{/if}--></span>
			</p>
			<!--{if $val[topic_feature_status]}-->
			<p><span class="topic_feature_status">{$val[topic_feature_status]}</span></p>
			<!--{/if}-->
			<!--{if ($tpid=$val[top_parent_id])>0 && !in_array($this->Code, array('forward', 'reply'))}-->
			<!--{if (('comment'==jget('mod') && 'inbox'==$this->Code) || $topic_view) && 'reply'==$val[type] && $tpid!=($pid=$val[parent_id]) && $parent_list[$pid]}-->
			<p class="feedPsm"><a href="index.php?mod={$parent_list[$pid][username]}" onmouseover="get_at_user_choose('{$parent_list[$pid][nickname]}',this)">{$parent_list[$pid][nickname]}</a>：<span id="topic_content_{$val[tid]}_{$pid}_short">{$parent_list[$pid][content]}</span><span id="topic_content_{$val[tid]}_{$pid}_full"></span><!--{if $parent_list[$pid][longtextid] > 0}--><a class="longText" href="javascript:;" onclick="view_longtext('{$parent_list[$pid][longtextid]}', '{$val[tid]}_{$pid}', this);return false;">显示全部</a><!--{/if}--></p>
			<!--{/if}-->
			<!--{/if}-->
            
			<!--{if $val[parents_list] && ($tval=$val)}-->	
            <div style="float:left; width:100%;">
			<!--{loop $tval[parents_ids] $vtid}-->
				<div id="topic_list_{$vtid}" class="relayFloor">
			<!--{/loop}-->
			<!--{loop $tval[parents_list] $val}-->
					<div class="relaycontent">
					<!--{if $val[parents_list_lazyload]}-->
						<div id="topic_comment_item_floor_msg_{$tval[tid]}">展开查看更多内容
						【<a href="javascript:;" onclick="replyList('{$_GET[page]}', '{$tval[tid]}', 'topic_list_{$tval[tid]}', 'topic_comment_item_floor_msg_{$tval[tid]}');">点此展开</a>】</div>
					<!--{else}-->
						<span class="mright">{$val[floor]}</span>
						{subtemplate topic_item_ajax_floor}
					<!--{/if}-->
					</div>
				</div>
			<!--{/loop}-->
	        </div>
            <!--{eval $val=$tval;}-->
			<!--{/if}-->
			
            {if ($val["item"]=="vote")&&$val["item_id"]}
            {eval $myOption=jlogic('vote')->get_vote_item($val["item_id"], $val["uid"], 1, $val[addtime]);$string='';!$myOption['option']||$string=implode('，',$myOption['option']);}
                {if $string}<span class="topic_select" title="投票给：{$string}"><span>投票给：{$string}</span></span>{/if}
            {/if}
			<!--{hook/global_item_extra1 $topictid}-->
			<span id="topic_content_{$val[tid]}_short">                
              <div class="date_0401_{$val[tid]}"> {$val[content]}</div>
            <!--{if $val[imageid] && $val[image_list]}-->
            <div onclick="view_longtext('{$val[longtextid]}', '{$val[tid]}', '{$val[tid]}');
				if(($.trim(($('#{$talkanswerid}reply_area_{$val[tid]}').html()))).length < 1) {
					$('#topic_list_reply_{$val[tid]}_aid').click();
				}; return false;">
            <ul class="imgList">
                <!--{loop $val[image_list] $iv}-->
                <li><img src="static/image/grey.gif" data-original="{$iv['image_small']}" class="showcursor a"></li>
                <!--{/loop}-->
            </ul>
            </div>
            <!--{/if}-->
            </span>
			<!--{hook/global_item_extra2 $topictid}-->
            <!--{if $val[imageid] && $val[image_list]}-->
            <div style="display:none;">
            <ul class="imgList">
                <!--{loop $val[image_list] $iv}-->
                <li><img src="static/image/grey.gif" data-original="{$iv['image_original']}"></li>
                <!--{/loop}-->
            </ul>
            </div>
            <!--{/if}-->
			<span id="topic_content_{$val[tid]}_full"></span>
			<!--{if $val[longtextid] > 0}-->
				<a class="longText" href="javascript:;" id="longText_{$val[tid]}" onclick="view_longtext('{$val[longtextid]}', '{$val[tid]}', '{$val[tid]}');return false;">查看全文</a>
			<!--{/if}-->			
			{template "topic_share_cite"}
			<!--{eval $relate_list = $relate_list ? $relate_list : $rets[relate_list];}-->
			<!--{if $val[item]=='channel' && in_array($val[channel_type],array('ask','idea')) && $val[relateid] > 0 && $relate_list[$val[relateid]]}-->
			{template "topic_relate"}
			<!--{/if}-->
			<!--{if $this->item !="reward"}-->
			{template "topic_share_quote"}
			<!--{/if}-->
			<!--{if $this->Module=='qun'}-->              
			{template "qun/topic_list_manage"}
			<!--{else}-->
			{template "topic_list_manage"}
			<!--{/if}-->
		</div>
	</div>
	<div id="{$talkanswerid}reply_area_{$val[tid]}"></div>
	<div id="modify_topic_{$val[tid]}"></div>
	<div id="forward_menu_{$val[tid]}"></div>
</div>
<div style="clear:both;"></div>

