<!--个人主页 右侧导航-->
<div class="sideBar">

<!--用户相关信息等-->
{template "topic_right_ajax.inc"}

<!--右侧顶部广告-->
<!--{eval SetADV('group_myhome','middle_right');}-->
<!--右侧顶部广告-->
<div class="column"><div class="medalwrap">{template "widget/medal"}</div></div>
<!--{if 'pic' == $this->Get['type']}-->
  <script type="text/javascript">
	$(document).ready(function(){
		right_show_ajax('{$member[uid]}','photo','photo');
	});
  </script>
  <div class="column">
	<h3><a href="index.php?mod=topic&code=photo&uid={$member['uid']}">关注人的图片</a></h3>
	<div id="{$member[uid]}_photo"></div>
  </div>
<!--{elseif 'video' == $this->Get['type']}-->
  <script type="text/javascript">
	$(document).ready(function(){
		right_show_ajax('{$member[uid]}','video_content','video_content');
	});
  </script>
  <div class="column">
	<h3><!--{if $member['uid']==MEMBER_ID}-->我关注人的视频<!--{ELSE}-->{$member[gender_ta]}关注人的视频<!--{/if}-->
	</h3>
	  <ul class="sideul" id="{$member[uid]}_video_content"></ul>
   </div>
<!--{elseif 'music' == $this->Get['type']}-->
  <script type="text/javascript">
	$(document).ready(function(){
		right_show_ajax('{$member[uid]}','music_user','music_user');
	});
  </script>
  <div class="column">
	<h3>本月音乐达人	</h3>
	  <ul class="sideul">
		<div id="{$member[uid]}_music_user"></div>
	  </ul>
   </div>
<!--{elseif 'mydig' == $this->Get['type'] || 'mydigout' == $this->Get['type']}-->
  <div class="column">
	<h3>{$this->Config[changeword][dig]}的目的
	</h3>
	  <ul class="sideul">
	  <li>1、通过用户的参与，挖掘好的内容。</li>
	  <li>2、发现被{$this->Config['changeword']["dig"]}最多的人（值得关注的人）。</li>
	  <li>3、用于频道默认内容入口，替代论坛版块回帖置顶机制，避免论坛的劣币驱逐良币问题。</li>
	  </ul>
   </div>
<!--{else}-->		
		<!--认证资料-->
		<!--{if $member[validate]}-->
		<div class="column">
			<div class="vipBox">
                <p><img src="images/vip_c2.png" /></p>
				<p>{if $member[vip_cat_html]}[{$member[vip_cat_html]}]{/if}{$member[validate_remark]}</p>
				<!--{if MEMBER_ID!=$member[uid]}--><p style="text-align:right;"><a href="index.php?mod=other&code=vip_intro">点击申请认证</a></p><!--{/if}-->
			</div>
		</div>
		<!--{/if}--> 

		<!--关于我-->
		<div class="column">
			<h3><!--{if $member['uid']==MEMBER_ID}-->关于我<!--{else}-->关于{$member[nickname]}<!--{/if}--></h3>
			<ul class="sideul">
				<!--{if $member[aboutme]}-->
				<li>&nbsp;{$member[aboutme]}</li>
				<!--{elseif MEMBER_ID==$member[uid] && !$_GET[mod_original]}-->
				<li><a href="index.php?mod=settings">快来写一句话</a>，向大家介绍一下吧</li>
				<!--{else}-->
				这家伙很懒，什么都没留下。
				<!--{/if}-->
			</ul>
		</div>
		
	<!--属于TA的标签-->

			  <script type="text/javascript">
				$(document).ready(function(){
					//属于他的标签
					get_to_user_tag();
					//他关注的人
					get_user_follow();
					//关注的话题
					get_Right3();
					get_dig_user_follow();
					$(".SC_to_user_tag").click(function(){$(this).parent().toggleClass("fold_to_user_tag");$(".SC_to_user_tag_box").toggle();});
					$(".SC_woguanzhu").click(function(){$(this).parent().toggleClass("fold_woguanzhu");$(".SC_woguanzhu_box").toggle();});
				});
				function get_to_user_tag(){
					//属于他的标签
					right_show_ajax('{$member[uid]}','to_user_tag','to_user_tag');
				}
				function get_user_follow(){
					//他关注的人
					right_show_ajax('{$member[uid]}','user_follow','user_follow');
				}
				function get_Right3(){
					right_show_ajax('{$member[uid]}','myfavoritetags','right_myfavoritetags');
				}
				function get_dig_user_follow(){channel_right_show_ajax('dig_user_follow','{$topic_info[tid]}','{$topic_info[lastdiguid]}');}
				
		  </script>
          
       <script type="text/javascript">
        $(document).ready(function () {
            var tags_a = $("#h_tags li");
            tags_a.each(function () {
                var x = 5;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                $(this).addClass("h_tags" + rand);
            });
        })
    </script>
			  <div class="column">
				<h3><!--{if $member['uid']==MEMBER_ID}-->属于我的标签<!--{ELSE}-->属于{$member[gender_ta]}的标签<!--{/if}--></h3>
				  <ul class="sideul">
					<div id="{$member[uid]}_to_user_tag"></div>
				  </ul>
			   </div>
			   <!--{if $listotherdig}-->
			   <div class="column">
				<h3>{$this->Config[changeword][dig]}的人还{$this->Config[changeword][dig]}过</h3>
				<ul id="dig_user_follow" class="sideul">
				</ul>
			  </div>
			  <!--{/if}-->
			  <div class="column">
				<h3><!--{if $member['uid']==MEMBER_ID}-->我关注的人<!--{ELSE}-->{$member[gender_ta]}关注的人<!--{/if}-->({$member[follow_count]})</h3>
				<ul class="sideul sideuserList">
					<div id="{$member[uid]}_user_follow"></div>
				</ul>
			  </div>
			  <div class="column">
				<!--{if $this->Config['channel_enable']}-->
			    <h3><!--{if $member['uid']==MEMBER_ID}-->我关注的频道<!--{ELSE}-->{$member[gender_ta]}关注的频道<!--{/if}--> </h3>
			    <ul id="h_tags" class="sideul">
				  <!--{if $myBuddyChannel}-->
				  <!--{loop $myBuddyChannel $channel}-->
				  <li><a href="index.php?mod=channel&id={$channel['ch_id']}">{$channel['ch_name']}</a></li>
				  <!--{/loop}-->
				  <!--{/if}-->
			    </ul>
				<!--{/if}-->
			  </div>

	   <!--属于TA的标签-->
	   
	
  {template 'topic_right_common.ini'}
<!--{/if}-->
</div>
