{template "topic_header"}
<style type="text/css">
table{border:none;border-collapse:collapse;width:100%;}
td{border:1px solid #c0deed;line-height:18px;padding:10px;}
.plugintop{padding:15px;font-size:20px;font-weight:bold;color:#2b4a78;background:#e7f6f9;}
</style>
<!--{if MEMBER_ID ==0}-->
<style>.plugintop{margin-top:-10px;}</style>
<div class="setframe">
{template 'topic_new_left.ini'}
<!--{else}-->
<div class="main">
<!--{/if}-->  

<div class="mainWrap">
<!--{eval include(template($template));}-->
</div>

{template "topic_right.inc"}
</div>

<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][group_myhome][footer]}-->
<div class="header_ad">
  {$this->Config[ad][ad_list][group_myhome][footer]}
</div>
<!--{/if}-->
{template "topic_footer"}