<!--我的首页 右侧导航-->
<div class="sideBar">


<!--用户相关信息等-->
{template "topic_right_ajax.inc"}


<!--右侧顶部广告-->
<!--{eval SetADV('group_myhome','middle_right_top');}-->
<!--右侧顶部广告-->

<!--我的关注的话题 右侧导航-->
  
   <script language="javascript">
		$(document).ready(function(){
			/*
			* ajax 右侧显示数据
			* 这里的函数可以随便更改位置，加载的顺序也会不同。
			*/
			//本周最受关注话题（top10）
			get_hot_tag_top();
			//我关注的话题	
			<!--{if MEMBER_ID > 0}-->	
			get_my_follow_tag();
			//共同兴趣话题的用户
			get_common_interest_user();	
			<!--{/if}-->
		});

		//最受关注话题
		function get_hot_tag_top(){			
			right_show_ajax('{$member[uid]}','hot_tag_top','hot_tag_top');
		}		
		function get_my_follow_tag(){
			//我关注的话题
			right_show_ajax('{$member[uid]}','myfavoritetags','myfavoritetags');
		}
		function get_common_interest_user(){
			right_show_ajax('{$member[uid]}','common_interest','common_interest');
		}
	</script>
	


  
   <div class="column" id="hot_tag_top">
	<h3>本周热门话题
	</h3>
	<div class="sideul">
		<div id="{$member[uid]}_hot_tag_top"></div>
	</div>
  </div>
  
  
    <!--{if $this->Config[hot_tag_recommend_enable] && ($hot_tag_recommend = jconf::get('hot_tag_recommend')) && $hot_tag_recommend[list]}-->
	<script language="javascript">
		$(document).ready(function() {
			//热门话题
			right_show_ajax('{MEMBER_ID}','hot_tag','hot_tag');	
		});
	</script>
    <!-- 热门话题推荐 -->
    <div id="hot_tag_div" class="column">
      <h3>{$hot_tag_recommend[name]}</h3>
      <ul class="sideul">
        <div id="{MEMBER_ID}_hot_tag"></div>
      </ul>
    </div>
	<!-- 热门话题推荐 -->
    <!--{/if}-->

	<!--{if MEMBER_ID > 0}-->
  	    <!--有共同兴趣话题的人 begin-->

		<div class="column" id="common_interest_div">
		  <h3>共同兴趣话题用户</h3>
		  <ul class="memberList">
			<div id="{$member[uid]}_common_interest"></div>
		  </ul>
		</div>
       <!--有共同兴趣话题的人 end-->
  	    <!--我关注的话题-->

		<div class="column">
		  <h3>我关注的话题</h3>
		  <ul class="sideul">
			<div id="{$member[uid]}_myfavoritetags"></div>
		  </ul>
		</div>
       <!--我关注的话题-->
   <!--{/if}-->

<!--{template 'topic_right_common.ini'}-->

</div>
