<div id="tochannel" style="display:none;">
<script type="text/javascript">
$(document).ready(function(){
$("#p_channel,#t_pb").bind('mouseover', function(){$('#p_channel').show();$('#t_pb').addClass('hover');});
$("#p_channel,#t_pb").bind('mouseout', function(){$('#p_channel').hide();$('#t_pb').removeClass('hover');});
});
function c_hide(){$('#p_channel').hide();$('#t_pb').removeClass('hover');}
function c_cut(){$('#t_channel').html('');$('#mapp_item{$h_key}').val('{$this->item}');$('#mapp_item_id{$h_key}').val('{$this->item_id}');$('#cverify').val('{$this->Config[verify]}');}<!--{eval $channel_must = $this->Channel_enable && $this->Config['channel_enable'] && $this->Config['channel_must'] ? 1 : 0;}-->
function c_int(n,s,c){	$('#p_channel').hide();	$('#t_pb').removeClass('hover');	$('#t_channel').html(s+'<em onclick="c_cut();">×</em>');	$('#mapp_item{$h_key}').val('channel');	$('#mapp_item_id{$h_key}').val(n);	$('#cverify').val(c);}
function c_no(){show_message('您没有权限发'+__N_WEIBO__+'到该频道',2,'提示','msgBox','msg_alert');return false;}
</script>
<div class="box_4_channel" {if $_GET['type']=='nedu'}style="display:none;"{/if}>
<span class="select" id="t_pb">选择频道</span>
<span class="channel" id="t_channel" style=" display:inline;font-weight:500; float:none;">{$post_channel_name}</span>
<div class="channels" id="p_channel" style="*margin:0 0 0 -91px;">
<!--{if $this->Channels}-->
<!--{loop $this->Channels $val}-->
<dl>
<dt>
<!--{if $val[ok]}-->
<a onclick="c_int({$val['ch_id']},'{$val['ch_name']}',{$val['ck']});">{$val['ch_name']}</a>
<!--{else}-->
<a onclick="c_no();" class="hui" title="您所在的用户组没有权限发{$this->Config[changeword][n_weibo]}到该频道">{$val['ch_name']}</a>
<!--{/if}-->
</dt>
<dd>
<!--{if $val['child']}-->
<!--{loop $val['child'] $v}-->
<!--{if $v[ok]}-->
<a onclick="c_int({$v['ch_id']},'{$v['ch_name']}',{$v['ck']});">{$v['ch_name']}</a>
<!--{else}-->
<a onclick="c_no();" class="hui" title="您所在的用户组没有权限发{$this->Config[changeword][n_weibo]}到该频道">{$v['ch_name']}</a>
<!--{/if}-->
<!--{/loop}-->
<!--{else}-->
&nbsp;
<!--{/if}-->
</dd>
</dl>
<!--{/loop}-->
<!--{else}-->
<p>没有频道可供发布</p>
<!--{/if}-->
</div>
</div>
</div>