<div id="send">
<div class="sendBox">

    <div class="sendTitle">
        <div id="send_follow{$h_key}" class="mleft">
        <!--{eval $defaust_value = $this->Get[mod]=='qun' ? '群内发的内容，只有群内成员才能看到哟！' : ($defaust_value ? $defaust_value : '');}-->
        <!--{if $this->Get[mod] == 'member'}-->
        <!--{eval $content = '#新人报到# 我是'.$this->Config[site_name].'新加入的成员@'.MEMBER_NICKNAME.' ，欢迎大家来关注我！';}-->
        所有关注我的人将看到我分享的信息
        <!--{elseif $defaust_value}-->
        {$defaust_value}
        <!--{else}-->
        {$content_ostr}
        <!--{/if}-->
        </div>
        <!--{if $this->Channel_enable && $this->Config['channel_enable'] && !in_array($type,array('design','btn_wyfx','answer','ask','album')) && !in_array($this->Get[mod],array('live','qun','talk','company','department','album','vote','event','mall'))}-->
        <!--{subtemplate "topic_publish_channel"}-->
        <!--{/if}-->
        <!--{hook/global_publish_title}-->
        <ul class="txtNum">
        <!--{if $this->Config[topic_input_length]>0}-->
        <li>还可以输入</li><li style="width:auto"><span id="wordCheck{$h_key}" style='font-size:20px;'>{conf topic_input_length}</span></li><li style="width:14px;">字</li>
        <!--{/if}-->
        </ul>
    </div>

    <div class="sendInput" style="display:block">
        <!--{eval $content = $content ? $content : $this->Config[today_topic];$i_already_value = $content_dstr ? $content_dstr : $content;$this->totid = $this->totid ? $this->totid : 0;}-->
        <!--{eval $channel_check = isset($post_channel_check) ? $post_channel_check : ($this->Config[verify] ? 1 : 0);}-->
        <!--{eval $p_item = isset($post_item_name) ? $post_item_name : $this->item;}-->
        <!--{eval $p_item_id = isset($post_item_id) ? $post_item_id : $this->item_id;}-->
        <script type="text/javascript">
        var __I_ALREADY_VALUE__ = '{$i_already_value}';
        var __ALERT__='{$this->Config[verify_alert]}';
        var __CONTENTID__ = 'i_already{$h_key}';
        </script>
        <div class="u-send">
            <input type="text" id="t_i_already{$h_key}" name="title" maxlength="25"  value="这里输入的文字将成为标题（可以留空）" onfocus="if(this.value=='这里输入的文字将成为标题（可以留空）'){this.value='';}" onblur="if(this.value==''){this.value='这里输入的文字将成为标题（可以留空）';}">
            <textarea  name="content" id="i_already{$h_key}"  onkeyup="javascript:checkWord('{conf topic_input_length}','i_already{$h_key}','wordCheck{$h_key}')" onkeydown="ctrlEnter(event, 'publishSubmit{$h_key}')">{$i_already_value}</textarea>
        </div>
        <!--{eval $_get_type=str_safe($this->Get[type]);}-->
        <input name="topic_type" type="hidden" id="topic_type{$h_key}" value="{$_get_type}" />
        <input name="totid" type="hidden" id="totid{$h_key}" value="{$this->totid}" />
        <input name="touid" type="hidden" id="touid{$h_key}" value="{$this->touid}" />
        <!--应用 Begin-->
        <input name="item" type="hidden" id="mapp_item{$h_key}" value="{$p_item}" />
        <input name="item_id" type="hidden" id="mapp_item_id{$h_key}" value="{$p_item_id}" />
        <input name="xiami_id" type="hidden" id="xiami_id" value="" />
        <input type="hidden" id="cverify" name="cverify" value="{$channel_check}">
        <!--应用 End-->
        <!--{eval if($this->MemberHandler->HasPermission('uploadattach','attach')!=false) $can_allow_attach = 1; else $can_allow_attach = 0 }-->
    </div>
    
 
 
 
    
    <div class="sendInsert">
        <!--{if !($type == 'design' || $type == 'btn_wyfx')}-->
        <script type="text/javascript">
        $(function(){
            $(".menu_title").click(function(){
				$(".menu_content,.menu_c_content").hide();
			    var id = $(this).attr("currid");
			    if(id){$("#"+id).show();
			}});//一级菜单
            $(".menu_c_title").click(function(){
				$(".menu_c_content").hide();
					var id = $(this).attr("currid");
						if(id){//二级菜单
                            if(id=="showattachmenu{$h_key}" && !{$can_allow_attach}){MessageBox('warning', '您没有上传附件的操作权限！');
							}else{
								$("#"+id).show();
								}                //附件权限判断
             }});
            $(".menu_close").click(function(){
				var id = $(this).attr("currid");
				if(id){$("#"+id).hide();
			}});//关闭按钮
        });
        function setTab(name,cursel,n,t){
            for(i=1;i<=n;i++){
                var menu=document.getElementById(name+i);var con=document.getElementById("con_"+name+"_"+i);
                menu.className=i==cursel?"vhover":"";con.style.display=i==cursel?"block":"none";
                if(i!=cursel && t){$("#con_"+name+"_"+i+" div").remove();}
            }
        }
        </script>
        
    <div class="mleft">


        <!--{if $this->Config['face_enable']}-->
        <div class="menu">
           <div class="menu_bq" id="editface" ><b class="menu_bqb_c menu_title" currid="showface{$h_key}"><a href="javascript:void(0);" title="点击插入表情，让内容更生动" onclick="topic_face('showface{$h_key}','i_already{$h_key}','topic_face');return false;" style="color:#666;">表情</a></b>    
           <div id="showface{$h_key}" class="showface menu_content"></div>     
           </div>
        </div>
        <!--{/if}-->
     
        <!--{if $this->Config['image_enable']}-->
        <!-- 图片区块 开始 -->
        <!--{eval $handle_key = 'showuploadimage'.$h_key;}-->
        <div class="menu">
           <div class="menu_tq" ><b class="menu_tqb_c menu_title" currid="showuploadimage{$h_key}" title="可实现图文混排">图片</b>
              <div class="menu_tqb menu_content" id="showuploadimage{$h_key}">       
              <span class="arrow-up"></span>   
              <span class="arrow-up-in"></span>
                		
                <div class="menu_tqbox">  
                <i class="menu_tqb_c1 menu_close" currid="showuploadimage{$h_key}"></i>	          
                {template "imgupload"}
                </div>
            </div>
        </div>
        </div>
        <!-- 图片区块 结束 -->
        <!--{/if}-->
    
        <!--{eval $ath_key = $h_key ? '_'.$h_key : '';}-->
        <div class="menu">
        <div class="menu_hp"><b onclick="showatuserw('i_already{$h_key}','{$h_key}','');return false;" class="menu_hpb_c menu_title" currid="showatusermenu{$h_key}" title="@朋友昵称提醒TA">朋友</b>
        <div class="menu_hpb menu_content" id="showatusermenu{$h_key}">
          <span class="arrow-up"></span>   
          <span class="arrow-up-in"></span>
          <div class="menu_tb showusr">
          <div id="showatuser{$ath_key}" class="showatuser"></div>
          <sub class="menu_hpb_c1 menu_close" currid="showatusermenu{$h_key}"></sub>
          </div>
        </div>
           </div>
        </div>

        
       <!--{if $this->Config['word_type_enable']}-->
       <div class="menu">
          <div class="menu_a">
            <b class="menu_a_c menu_title" currid="showstylemenu{$h_key}"><a href="javascript:void(0);" title="给文字加上特效" style="color:#666;">格式</a></b>
            <div class="pull menu_content" style="display:none;" id="showstylemenu{$h_key}">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                <sub class="menu_a_c1 menu_close" currid="showstylemenu{$h_key}"></sub>
                <div class="menu_hb">
                    <span onclick="setFont('b');return false;" class="menu_hbb_c" title="先在输入框中选择要加粗的文字">粗体</span>
                </div>
                <div class="menu_underline">
                   <span onclick="setFont('u');return false;" class="menu_underline_c" title="先在输入框中选择要加下划线的文字">下划线</span>
                </div>
                <div class="menu_hc">
                  <span onclick="getColorMenu();return false;" class="menu_hcb_c menu_c_title" currid="color_menu" title="先在输入框中选择要加颜色的文字">颜色</span>
                  <sub class="menu_color_c1 menu_close" currid="color_menu"></sub>
                  <div class="menu_c_b menu_c_content" id="color_menu"></div>
                </div>
                <div class="menu_hy">
                  <span class="menu_hyb_c menu_c_title" currid="showquotemenu{$h_key}" title="点击打开引用内容输入框">引用</span>
                  <div class="menu_q_b menu_c_content" id="showquotemenu{$h_key}">
                    <span class="arrow-up"></span>   
                    <span class="arrow-up-in"></span>
                    <div class="menu_q_d">
                      <div class="menu_qd">
                        <span style="float:left; padding-left:5px; color:#666;">请输入要引用的内容：</span>
                        <sub class="menu_quote_c1 menu_close" currid="showquotemenu{$h_key}"></sub>
                      </div>
                      <span>
                        <textarea id="quote"></textarea>
                      </span>
                      <span>
                        <input class="u-btn" type="button" value="提交" onclick="insertQuote(quote,'quote');" />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="menu_hm">
                  <span class="menu_hmb_c menu_c_title" currid="showcodemenu{$h_key}" title="点击打开代码内容输入框">代码</span>
                  <div class="menu_mc_b menu_c_content" id="showcodemenu{$h_key}">
                    <span class="arrow-up"></span>   
                    <span class="arrow-up-in"></span>
                    <div class="menu_mc_d">
                      <div class="menu_mc">
                        <span style="float:left; padding-left:5px;color:#666;">请输入要引用的代码：</span>
                        <sub class="menu_code_c1 menu_close" currid="showcodemenu{$h_key}"></sub>
                      </div>
                      <span>
                        <textarea id="code"></textarea>
                      </span>
                      <span>
                        <input class="u-btn" type="button" value="提交" onclick="insertQuote(code,'code');"/>
                      </span>
                    </div>
                  </div>
                </div>
                <!--{hook/global_publish_menu_style}-->
              </div>
            </div>
         </div>    
         <!--{/if}-->

        <div class="menu">
          <div class="menu_m">
            <b class="menu_m_c menu_title" currid="showmoremenu{$h_key}"><a href="javascript:void(0);" style="color:#666;">更多</a></b>
            <div class="pull_down menu_content" id="showmoremenu{$h_key}" style="display:none;">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                <sub class="menu_m_c1 menu_close" currid="showmoremenu{$h_key}"></sub>



   <!--{if $this->Config[sign][sign_enable]}-->
          <div class="menu_hq" id="sign_{MEMBER_ID}">
		  <span onclick="getSignTag({MEMBER_ID});return false;" class="menu_hqs_c menu_c_title" currid="showsigntag{$h_key}" title="选择签到类别">签到</span>
            <div class="menu_hqs menu_c_content" id="showsigntag{$h_key}">
              <span class="arrow-up"></span>   
              <span class="arrow-up-in"></span>
              <div class="menu_checkin">
              <div id="sign_tag_{MEMBER_ID}"></div>
                  <sub class="menu_hqs_c1 menu_close" currid="showsigntag{$h_key}"></sub>
              </div>
            </div>
          </div>
        <!--{/if}-->

		<!--{if $this->Config['video_enable']}-->
        
        <div class="menu_sp"><b class="menu_spb_c menu_c_title" currid="upload_ajax_video" title="支持新浪、优酷、搜狐、酷6、土豆视频的站内播放">视频</b>
        <div class="menu_spb menu_c_content" id="upload_ajax_video">
        <span class="arrow-up"></span>   
        <span class="arrow-up-in"></span>
        <div class="menu_tb" style="width:300px;">
        <span style="float:left; padding-left:10px; color:#666; width:270px;">支持如下视频的站内播放</span><div class="menu_spb_c1 menu_close" currid="upload_ajax_video"></div></div>
        <p class="menu_p"><a href="http://www.youku.com/" rel="nofollow" target="_blank">优酷</a>、<a href="http://v.blog.sohu.com/" rel="nofollow" target="_blank">搜狐</a>、<a href="http://www.ku6.com/" rel="nofollow" target="_blank">酷6</a>、<a href="http://www.tudou.com/" rel="nofollow" target="_blank">土豆</a><!--{loop $GLOBALS[_J][config][video_parse_extract_list] $vpe}-->、<a href="{$vpe[url]}" rel="nofollow" target="_blank">{$vpe[name]}</a><!--{/loop}--><br>请在浏览器中复制视频播放页的网址</p>
          <div id="upload_video_list" class="menu_p" style="display:none;">
            <span id="return_ajax_video_title"></span>
            <span><img id="video_img" width="130" /></span>
            <p>
            <input id="videoid" type="hidden" name="video_id" />
            <span><a href="" onclick="DelVideo('videoid','video_ajax'); return false;" title="删除视频">删除视频</a></span>
            </p>
          </div>
          <div id="add_video" class="menu_p" style=" margin-bottom:6px; padding-top:0">
          <iframe id="upload_video_frame" name="upload_video_frame" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank"></iframe>
           <form action="ajax.php?mod=topic&code=dovideo" method="post" enctype="multipart/form-data" name="upload_video" id="upload_video" target="upload_video_frame">
            <input name="url" type="text" id="url" class="sc_r_t_a" style=" width:210px; display:inline; padding:2px;"/>
            <input type="submit" name="Submit" value="提 交" class="u-btn" />
           </form>
          </div>
        </div>
        </div>
        <!--{/if}-->
    
        <!--{if $this->Config['music_enable']}-->
         
            <div class="menu_x">
                <b class="menu_xb_c menu_c_title" currid="showmusicmenu{$h_key}" title="分享音乐，支持站内播放">音乐</b>
                <div class="menu_xb menu_c_content" id="showmusicmenu{$h_key}">
                    <span class="arrow-up"></span>   
                    <span class="arrow-up-in"></span>
                    <div class="menu_tb" style="width:290px;">
                    <span style="float:left; padding-left:10px; color:#666;">请在下面输入歌曲名或歌手名字搜索</span>
                    <sub class="menu_music_c1 menu_close" currid="showmusicmenu{$h_key}"></sub>
                    </div>
                 <div id="add_music" class="menu_m_s" style=" margin-bottom:6px; padding:15px 10px 0; float:left;">
                  <form action="javascript:void(0);" method="post" enctype="multipart/form-data" name="upload_music" id="upload_music">
                      <input name="url" type="text" id="music_name" class="sc_r_t_a" style=" width:210px; padding:2px;">
                      <input type="submit" name="Submit" value="搜 索" class="u-btn" onclick="music_serach();">
                  </form>
                 </div>
                 <p class="menu_p" style="padding:0 10px;color:#999">mp3等后缀的网址请直接粘贴到上面的发布框中</p>
                 <div id="music_list" class="menu_m_l"></div>
               </div>
            </div>
         
        <!--{/if}-->

                <!-- 文件区块 开始 -->
                <!--{eval if(($this->Config['attach_enable'] && $this->Module!='qun') || ($this->Config['qun_attach_enable'] && $this->Module=='qun')) $allow_attach = 1; else $allow_attach = 0 }-->
                <!--{if $allow_attach}-->
                <!-- JS引用 开始 -->
                <!--{eval $attach_uploadify_topic = array();}-->
                <!--{eval $attach_uploadify_from = 'topic_publish';}-->
                <!--{eval $attach_uploadify_only_js = 1;}-->
                <!--{eval $attach_num = min(max(1,(int)$this->Config['attach_files_limit']),50);}-->
                <!--{eval $attach_size = min(max(1,(int)$this->Config['attach_size_limit']),51200);}-->
                <!--{eval $attach_size = $attach_size >= 1024 ? round(($attach_size/1024),1).'M' : $attach_size.'KB';}-->
                {template "attach_uploadify.inc"}
                <!-- JS引用 结束 -->            	
                <div class="menu_fj" ><b class="menu_fjb_c menu_c_title" currid="showattachmenu{$h_key}" title="上传本地附件">附件</b>
                    <div class="menu_fjb menu_c_content insertImgDiv" id="showattachmenu{$h_key}">
                    <span class="arrow-up"></span>   
                    <span class="arrow-up-in"></span>
                        <div class="menu_fb">
                           <span style="float:left; padding-left:10px;">请选择上传的附件</span>
                        </div>
                        <div class="menu_pi" id="insertAttachDiv">
                            <div id="swfUploadDivAttach">
                            <input type="file" id="publisher_file_attach" name="publisher_file" style="display:none;" />
                            </div>
                            <iframe id="attachUploadifyIframe" name="attachUploadifyIframe" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank" style="display:none;"></iframe>
                            <div id="normalAttachUploadDiv" style="display:none;">
                                <form id="normalAttachUploadForm" method="post" action="ajax.php?mod=uploadattach&code=attach&type=normal&aitem={$attach_item}&aitemid={$attach_itemid}" enctype="multipart/form-data" target="attachUploadifyIframe" onsubmit="return normalAttachUploadFormSubmit()">
                                    <input type="file" id="normalAttachUploadFile" name="topic" />
                                    <input type="submit" value="上传" class="u-btn" />
                                </form>
                            </div>
                            <i class="menu_fjb_c1 menu_close" currid="showattachmenu{$h_key}"><img src="static/image/imgdel.gif" title="关闭" /></i>
                            <em>
                                1、如不能上传文件，请<a href="javascript:;" onclick="attachUploadifyModuleSwitch();">点击这里</a>用<span id="uploadDescModuleSpanAttach">普通</span>模式上传.<br />
                                2、最多可上传{$attach_num}个文件，单个文件大小不超过{$attach_size}。
                            </em>
                            <span id="uploadingAttach"></span>
                            <div class="viewImgDiv" id="viewAttachDiv"></div>
                        </div>
                        <div id="uploadifyQueueDivAttach" style="display:none;"></div>		
                    </div>
                </div>
                <!--{/if}-->
                <!-- 文件区块 结束 -->
                
                
                
            <!--{if $this->Config['tag_enable']}-->
            <div class="menu_ht" id="button_{MEMBER_ID}">
              <span onclick="get_tag_choose({MEMBER_ID},'my_tag','{$h_key}');return false;"class="menu_htb_c menu_c_title" currid="showtagmenu{$h_key}" title="点击添加话题，方便归类查看">话题</span>
              <div class="menu_htb menu_c_content" id="showtagmenu{$h_key}">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                  <div id="{$h_key}tag_{MEMBER_ID}"></div>
              </div>
            </div>  
            <!--{/if}-->
            
            
            <!--{if $this->Config['vote_open']}-->
            <div class="menu_vs"><b class="menu_vsb_c menu_c_title" currid="showvotemenu{$h_key}" title="发起或选择已有投票" onclick="getVoteAvtivityFromIndex('vote_publish', 'con_vote_content_1');">投票</b>
                <div class="menu_vsb menu_c_content" id="showvotemenu{$h_key}">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                    <div class="menu_vsbox">
                        <p class="stitle">
                        <b id="vote_content1" class="vhover" onclick="setTab('vote_content',1,4,1);getVoteAvtivityFromIndex('vote_publish', 'con_vote_content_1');">创建文字投票</b>
                        <b id="vote_content4" onclick="setTab('vote_content',4,4,1);getVoteAvtivityFromIndex('pic_vote_publish', 'con_vote_content_4','pic');">创建图片投票</b>
                        <b id="vote_content2" onclick="setTab('vote_content',2,4,1);getMyVoteList(1);">我发起的</b>
                        <b id="vote_content3" onclick="setTab('vote_content',3,4,1);getMyJoinList(1);">我参与的</b>
                        <sub class="menu_vsb_c1 menu_close" currid="showvotemenu{$h_key}"></sub>
                        </p>
                        
                        <div class="vcontent" id="con_vote_content_1">
                        <p>正在加载...</p>
                        </div>
                        <div class="vcontent vote_conLi" id="con_vote_content_2" style="display:none;">
                        <p>正在加载...</p>
                        </div>
                        <div class="vcontent vote_conLi" id="con_vote_content_3" style="display:none;">
                        <p>正在加载...</p>
                        </div>	
                        <div class="vcontent vote_conLi" id="con_vote_content_4" style="display:none;">
                        <p>正在加载...</p>
                        </div>	
                    </div>
                </div>
            </div> 
            <!--{/if}-->
            
            <!--{if $this->Config['event_open']}-->
            <div class="menu_hd">
            <b class="menu_hdb_c menu_c_title" currid="showeventmenu{$h_key}" onclick="getEventPost();" title="发起或选择已有活动">活动</b>
                <div class="menu_hdb menu_c_content" id="showeventmenu{$h_key}">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                    <div class="menu_hdbox">
                    <p class="stitle">
                    <b id="event_content1" class="vhover" onclick="setTab('event_content',1,3,0)">发起新活动</b>
                    <b id="event_content2" onclick="setTab('event_content',2,3,0);getMyEventList(1);">我发起的</b>
                    <b id="event_content3" onclick="setTab('event_content',3,3,0);getJoinEventList(1);">我参与的</b>
                    <sub class="menu_hdb_c1 menu_close" currid="showeventmenu{$h_key}"></sub>
                    </p>
                    
                    <div class="vcontent" id="con_event_content_1">
                    <p>正在加载...</p>
                    </div>
                    <div class="vcontent vote_conLi" id="con_event_content_2" style="display:none;">
                    <p>正在加载...</p>
                    </div>
                    <div class="vcontent vote_conLi" id="con_event_content_3" style="display:none;">
                    <p>正在加载...</p>
                    </div>                   
                    </div>
                </div>
            </div> 
            <!--{/if}-->
            
            
            <!--{if $this->Config['qun_setting']['qun_open']}-->
            <div class="menu_wq">
                <b class="menu_wqb_c menu_c_title" currid="showqunmenu{$h_key}" title="将内容发布到我的微群" onclick="getMyQun();">$this->Config['changeword']["weiqun"] </b>
                <div class="menu_wqb menu_c_content" id="showqunmenu{$h_key}">
                <span class="arrow-up"></span>   
                <span class="arrow-up-in"></span>
                    <div class="menu_wqbox" style="width:210px;">
                        <div class="menu_tb" style="width:210px;">
                            <span style="float:left; padding-left:10px;">选择你要发布到的{$this->Config['changeword']['weiqun']}</span>
                            <sub class="menu_wqb_c1 menu_close" currid="showqunmenu{$h_key}"></sub>
                        </div>
                        <div class="wcontent" id="wcontent_wp"></div>
                    </div>
                </div>
            </div>       
            <!--{/if}-->
			<!--{hook/global_publish_menu_more}-->            
        </div>
	  </div>
	</div>
    <!--{hook/global_publish_menu}-->
        
    
	<!--这边的判断主要是为了在应用中使用微博发布框-->
    <!--#同步到 begin#-->
	<!--{eval $topic_allow_syncd = true;}-->
	<!--#if NEDU#-->
	<!--{if defined('NEDU_MOYO')}-->
		<!--{eval nlogic('feeds.app.jsg')->topic_publish_action_allowed('syncd', $topic_allow_syncd)}-->
	<!--{/if}-->
	<!--#endif#-->
	<!--{if in_array($this->Get[mod], array('qun','live','talk','event','vote','fenlei','reward','album','mall')) || $this->Get[type] == 'ask' || !$topic_allow_syncd}-->
	<!--{eval $topic_type_value = $this->Get[type] == 'ask' ? $this->Get[item] : $this->Get[mod];}-->
		<!--{eval $topic_allow_forward = true;}-->
		<!--#if NEDU#-->
		<!--{if defined('NEDU_MOYO')}-->
			<!--{eval nlogic('feeds.app.jsg')->topic_publish_action_allowed('forward', $topic_allow_forward)}-->
		<!--{/if}-->
		<!--#endif#-->
		<!--{if $topic_allow_forward}-->
		<div class="send_share_box">
		<b class="box_4_open_span menu_title" style="padding:0;"> <label><input id="chk_toweibo{$h_key}" type="checkbox" checked="checked" onclick="selectAppTopicType(this.id, {toid:'topic_type{$h_key}', defTopicType:'{$topic_type_value}'})">转发给粉丝</label></b>
		</div>
		<!--{/if}-->
	    <!--{else}-->
	    <!--{if $this->Config['account_on_off'] && !in_array($type,array('design','btn_wyfx','answer','ask','album'))}-->
		<script type="text/javascript">
		function modifySync(obj){
			var urls='{$this->Config[site_url]}/ajax.php?mod=misc&code=setsync';
			$.getJSON(urls,{setting:$(obj).attr('data-setting'),type:$(obj).attr('data-type')},function(r){
			var src = $(obj).attr('src');$(obj).attr('data-setting',r.retval);
			if(r.retval){$(obj).attr('src',src.replace('icon_on.gif','icon_off.gif'));}else{$(obj).attr('src',src.replace('icon_off.gif','icon_on.gif'));}
		});}
		</script>
		<div class="send_share_box" id="weibo_syn_wp">
            <!--{if $this->Config[sina_enable] || $this->Config[sina_enable] || $this->Config[qqwb_enable] || $this->Config[kaixin_enable] || $this->Config[renren_enable]}-->
            <b class="box_4_open_span menu_title" title="将内容同步发到高亮按钮对应平台">同步到：</b>
            <!--{/if}-->
            <sub class="box_4_open_span_c1"></sub>
            <!--{if $this->Config[sina_enable] && sina_weibo_init()}-->
            <span>{eval echo sina_weibo_syn();}</span>
            <!--{/if}-->
            <!--{if $this->Config[qqwb_enable] && qqwb_init()}-->
            <span>{eval echo qqwb_syn();}</span>
            <!--{/if}-->
            <!--{if $this->Config[kaixin_enable] && kaixin_init()}-->
            <span>{eval echo kaixin_syn_html();}</span>
            <!--{/if}-->
            <!--{if $this->Config[renren_enable] && renren_init()}-->
            <span>{eval echo renren_syn_html();}</span>
            <!--{/if}-->
		</div>
		<!--{/if}-->
	<!--{/if}-->
    <!--#同步到 end#-->
    
<!--{else}-->
<div class="box_3ajax">
<!--{/if}-->
</div>


<!--{eval $channel_must = $this->Channel_enable && $this->Config['channel_enable'] && $this->Config['channel_must'] ? 1 : 0;}-->
<div class="sendBtn">
<!--{eval if ($this->Get[mod] == 'tag') $type = 'tagview' ;elseif ($this->Get[mod] == 'member') $type = 'tohome';elseif ($this->Get[mod] == 'vote') $type='vote';elseif ($this->Get[mod] == 'live') $type='live';elseif ($this->Get[mod] == 'talk') $type='talk';elseif ($this->Get[mod] == 'fenlei') $type='fenlei';elseif ($this->Get[mod] == 'event') $type='event';elseif ($this->Get[mod] == 'reward') $type='reward'; else $type = $params[code];}-->
	<!--{eval $type = $type ? $type : $this->Code;}-->
	<!--{if $this->Config['seccode_publish'] && $this->yxm_title}-->
	<input type="hidden" id="yxm_topicpub{$h_key}" onclick="publishSubmit('publishSubmit{$h_key}','u-btn','i_already{$h_key}','totid{$h_key}','{$type}','topic_type{$h_key}','','',$('#mapp_item{$h_key}').val(),$('#mapp_item_id{$h_key}').val(),$('#xiami_id').val(),$('#touid{$h_key}').val(),{$channel_must},$('#cverify').val());return false;">
	<!--{/if}-->
    
	<!--{if !($this->Code=='do_first_topic')}--><!--判断是否是在用户注册引导页-->
	<!--{if $this->Config['anonymous_enable']}-->
	<label><input type="checkbox" id="anonymoustopic_type{$h_key}" value="" class="publish_menu_input_empty" onclick="set_relate(1,'anonymoustopic_type{$h_key}');">匿名</label>
	<!--{/if}-->
	<input type="button" class="u-btn" id="publishSubmit{$h_key}" title="按Ctrl+Enter快捷发布" value="发 布"/>
	<!--{/if}-->
    

</div>
</div>
<!--{hook/global_publish_bottom}-->
<!--{if $this->Config['seccode_publish'] && $this->yxm_title}-->
<span id="yxm_pub_button{$h_key}" onclick="YXM_popBox(this,'topic,{$h_key}','{$this->yxm_title}');" style="margin-left:150px;height:1px;">&nbsp;</span>
<!--{/if}-->
</div>
</div>

<script type="text/javascript">
		var dfpstr = '{$content_dstr}';
        //如果是群、并且没有设置转发给粉丝的话、将topic_type{$h_key} 设置成qun；chk_toweibo{$h_key} 的checked设置成''；
        <!--{if $this->Get['mod'] == 'qun' && !$this->Config['qun_setting']['qun_topic_to_weibo']}-->
        setQun();
        <!--{/if}-->
        function setQun(){
            $("#chk_toweibo{$h_key}").removeAttr('checked');
            $("#topic_type{$h_key}").val('qun');
        }
		$("#i_already{$h_key}").bind('focus', function(){
			if($('#tochannel').length>0){$('#send_follow{$h_key}').hide();$('#tochannel').show();}
			$('.sendInsert').addClass('sendInsertfocus');			
			//$('.sendInsert a').css('color','#333');
		    var i=0;
		   // setTimeout(function(){i+=1; $('#sendTig').css('visibility', 'hidden'); },5000);
		});
		$(".sendInsert *").bind('click', function(){
			$('.sendInsert').addClass('sendInsertfocus');del_instr(0);
			//$('.sendInsert a').css('color','#333');
		});
		<!--{if $this->Config['seccode_publish'] && $this->yxm_title}-->
		$("#publishSubmit{$h_key}").bind('click',function() {
			YXM_pubtopic('i_already{$h_key}','{$h_key}','topic_type{$h_key}','',$('#mapp_item_id{$h_key}').val(),{$channel_must});return false;
		});
		<!--{else}-->
		$("#publishSubmit{$h_key}").bind('click',function() {
			publishSubmit('publishSubmit{$h_key}','u-btn','i_already{$h_key}','totid{$h_key}','{$type}','topic_type{$h_key}','','',$('#mapp_item{$h_key}').val(),
			$('#mapp_item_id{$h_key}').val(),$('#xiami_id').val(),$('#touid{$h_key}').val(),{$channel_must},$('#cverify').val());
			return false;
		});
		<!--{/if}-->		
		$(document).ready(function(){
			initAiInput('i_already{$h_key}');$('#i_already{$h_key}').setCaret();
			checkWord('{conf topic_input_length}','i_already{$h_key}','wordCheck{$h_key}');
			$("#i_already{$h_key}").autoTextarea({maxHeight:220});
			get_publish_str("#i_already{$h_key}",publish_in_str,'{$content_dstr}','{$not_indestr}');
		});		
		//发布到频道文字闪动效果
        function shake(ele,cls,times){
	        var i = 0, t = false, o = ele.attr("class")+" ", c = "", times = times||2;
	        if(t) return;
	        t= setInterval(function(){
		    i++;
		    c = i%2 ? o+cls : o;
		    ele.attr("class",c);
		    if(i==2*times){
			  clearInterval(t);
			  ele.addClass(cls);
		    }
	        },200);
        };
		var pint = null;
		function get_publish_str(obj,arr_str,str,aj){
			var count_in = arr_str.length;
			pint= setInterval(function(){if(count_in > 1 && str && !aj){var randnum_in = (1+Math.random()*(count_in-1)).toFixed(0)-1;dfpstr=arr_str[randnum_in];$(obj).val(dfpstr);}},10000);
		}
		function del_instr(c){
			clearInterval(pint);if($("#i_already{$h_key}").val()==dfpstr){if(c){$("#i_already{$h_key}").val('{$content}')}else{$("#i_already{$h_key}").val('');}};
		}
	    $("#i_already{$h_key}").bind({
		click:function(){
			if($('#t_pb').length>0){shake($("#t_pb"),"select_shake",2);}del_instr(1);
			return false;
		}
	    });
</script>