
<!--{if $member[uid]}-->
<div id="add_remark_{$member[uid]}" class="alertBox" style="display:none" >
	<ul class="manBox">
	 <li>
		<div class="tt1">
			<span>设置备注名</span>
			<div class="mclose" onclick="getElementById('add_remark_{$member[uid]}').style.display=(getElementById('add_remark_{$member[uid]}').style.display=='none')?'':'none'"></div>
		</div>
		<div class="mWarp">
			 <form action="ajax.php?mod=remark&code=add_buddy_remark" method="POST" name="remarkform"   onsubmit="publishSubmit_remark('remark_{$member[uid]}',{$member[uid]});return false;">
			  给朋友加个备注名，方便认出他是谁（0~6个字符）
					<table >
					  <tr>
						<td><input name="remark_{$member[uid]}" type="text" id="remark_{$member[uid]}" class="text-area2" value="{$buddys[remark]}" size="6" maxlength="6"/>
						</td>
						<td align="left">
						<input type="button" class="u-btn" value="保 存" onclick="publishSubmit_remark('remark_{$member[uid]}',{$member[uid]});return false;" /> 
						</td>
					  </tr>
					</table>
			  </form>
		  </div>
		</li>
	 </ul>
 </div>
<!--{/if}--> 

<!--{if !$this->Config['acceleration_mode']}-->

	   <script type="text/javascript">
		$(document).ready(function(){get_recommend();});
		function get_recommend(){right_show_ajax('{$member[uid]}','recommend','recommend');}
	   </script>

		<div id="side_follow_top10" class="column">
			<h3>最新推荐TOP10</h3>
			<div id="{$member[uid]}_recommend" class="sideul"></div>
		 </div>
        <!--{eval SetADV('group_myhome','middle_right');}-->

<!--{/if}-->
<!--{hook/global_right_bottom}-->