<link href="static/style/img.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/img.js"></script>
{template "upimg.inc"}
<script>
$(function(){$(".menu_i_title").click(function(){$(".stitle .curr").removeClass("curr");$(this).addClass("curr");$(".menu_i_content").hide();var id = $(this).attr("currid");if(id){$("#"+id).show();if('img_content_2'==id && ''==$("#album_list").html()){get_album(0,1);}}});});
</script>
<div class="m-dialog">       
	<span class="close_2" onclick="closeDialog('{$this->Get[handle_key]}');"></span>	
	<div class="menu_tqboxc">
		<p class="stitle">
			<b class="curr menu_i_title" currid="img_content_1">上传图片</b>
			<!--{if $app != 'photo'}-->
			<b class="menu_i_title" currid="img_content_2">相册图片</b>
			<!--{/if}-->
			<!--{if $app != 'contest'}-->
			<b class="menu_i_title" currid="img_content_3">网络图片</b>
			<!--{/if}-->
		</p>
		<div class="tpcontent">
			<iframe id="frameupimg" name="frameupimg" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank" style="display:none;"></iframe>
			<form id="formalbum">
			<div class="menu_i_content" id="img_content_1" style="position: relative;">
				<div id="swfUploadDiv">
				<span style="float:right;display:none;" id="albumlist">
				<label style="margin-right:10px;"><input type="checkbox" name="selectallimg" value="1" onchange="selectAllUpImg(this.checked);" onpropertychange="selectAllUpImg(this.checked);">全选</label>将选中的图片保存到相册:
				<select name="uploadalbum" id="uploadalbum" onchange="if(this.value == '-1'){selectCreateTab(0);}"><option value="0">默认相册</option>
				<!--{loop $albums $val}-->
				<option value="{$val[albumid]}" {if $aid == $val['albumid']}selected{/if}>{$val[albumname]}</option>
				<!--{/loop}-->
				<option value="-1" style="color:red;">+创建新相册</option></select></span>
				<span style="float:right;display:none;" id="creatalbum"></span>
				<input type="file" id="publisher_file" name="publisher_file" style="display:none;">
				</div>
				<p class="u-tip">最多可上传10张图片，单张图片大小不超过{eval echo(round($this->Config[image_size]/1024, 2));}M。</p>
				<span id="uploading"></span>
                
				<table id="viewImgDiv"></table>
                
                <!--{if $app == 'contest'}-->
				<p class="sbottom"><input type="button" value="确 定" class="u-btn" onclick="upimgback_for_contest('{$app}','{$this->Get[handle_key]}');"></p>
                <!--{else}-->
                <p class="sbottom"><input type="button" value="确 定" class="u-btn" onclick="upimgback('{$app}','{$this->Get[handle_key]}');"></p>
                <!--{/if}-->
			</div>
			<!--{if $app != 'photo'}-->
			<div class="menu_i_content" id="img_content_2" style="display:none;">
				<p>从我的相册中选择图片: <select onchange="get_album(this.value,1);"><option value="0">默认相册</option>
				<!--{loop $albums $val}-->
				<option value="{$val[albumid]}">{$val[albumname]}</option>
				<!--{/loop}-->
				</select><label style="margin-left:20px;">先选择好要插入的图片，然后单击“确定”按钮</label></p>
				<div id="album_list"></div>
                <!--{if $app == 'contest'}-->
				<p class="sbottom"><input type="button" value="确 定" class="u-btn" onclick="upimgback_for_contest('{$app}','{$this->Get[handle_key]}');"></p>
                <!--{else}-->
                <p class="sbottom"><input type="button" value="确 定" class="u-btn" onclick="upimgback('{$app}','{$this->Get[handle_key]}');"></p>
                <!--{/if}-->
			</div>
			<!--{/if}-->
			<!--{if $app != 'contest'}-->
			<div class="tab3 menu_i_content" id="img_content_3" style="display:none;">
				<p class="add">
					<input type="text" id="img_url"  value="请输入图片url地址" onclick="if(this.value=='请输入图片url地址'){this.value = '';}" class="input"/>
					<input type="button" onclick="getUrlImage(img_url,'{$aid}');" class="u-btn" value="上 传">
				</p>
				<span id="uploading_img" style="display:none"><img src='images/loading.gif'/>&nbsp;上传中，请稍候……</span>
				<table id="viewUrlImgDiv"></table>
				<input type="hidden" name="urlalbum" value="{$aid}">
				<p class="sbottom" style="display:none;" id="urlimgbutton"><input type="button" value="确 定" class="u-btn" onclick="upimgback('{$app}','{$this->Get[handle_key]}');"></p>
			</div>
			<!--{/if}-->
			</form>
		</div>
	</div>
</div>