{template "topic_header"}

<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][vote][header]}-->
<div class="a-h"><!--{eval SetADV('vote','header');}--></div>
<!--{/if}-->

{template "topic_left_nav.inc"}

<div class="main">  
<div class="mainWrap ">
<div class="contentWrap">
    <div class="Menulink">
    <A HREF="index.php?mod=vote&view=newjoin" class="<!--{if $active['newjoin']}-->selected<!--{/if}-->">最新参与投票</A>
    <A HREF="index.php?mod=vote&view=new" class="<!--{if $active['new']}-->selected<!--{/if}-->">最新发起投票</A> 
    <!--{if MEMBER_ID > 0}-->
    <A HREF="index.php?mod=vote&view=me" class="<!--{if $active['me']}-->selected<!--{/if}-->">我的投票</A>
    <A HREF="index.php?mod=vote&view=fllow" class="<!--{if $active['fllow']}-->selected<!--{/if}-->">我关注的人的投票</A>
    <!--{/if}-->
    </div>
      <div id="listTopicArea">
	  	<!--过滤器 Begin-->
	  	<!--{if !empty($filter)}-->
	  	<div style="margin:15px auto;" id="vote_filter_wp">
			<!--{if $view=='me'}-->
				<a href="index.php?mod=vote&view=me&filter=created&uid={$uid}" {$filter_on['created']} >我发起的投票</a>
				<span style="color:#ccc; margin-right:5px; margin-left:5px;">|</span>
				<a href="index.php?mod=vote&view=me&filter=joined&uid={$uid}" {$filter_on['joined']} >我参与的投票</a>
				<span style="color:#ccc; margin-right:5px; margin-left:5px;">|</span>
				<a href="index.php?mod=vote&view=me&filter=new_update&uid={$uid}" {$filter_on['new_update']} >最近更新的投票</a>
			<!--{elseif $view=='fllow'}-->
				<a href="index.php?mod=vote&view=fllow&filter=created" {$filter_on['created']} >他们发起的投票</a>
				<span style="color:#ccc; margin-right:5px; margin-left:5px;">|</span>
				<a href="index.php?mod=vote&view=fllow&filter=joined" {$filter_on['joined']} >他们参与的投票</a>
			<!--{/if}-->
		</div>
		<!--{/if}-->
		<!--过滤器 End-->
      <div class="Listmain">
        <!--{if $count}-->
        {template vote/vote_list}
        <!--{else}-->
        <div style="margin-left:5px;">还没有投票。</div>
        <!--{/if}-->
      </div>
    </div>
  </div>
</div> 

{subtemplate 'vote/vote_right'}
</div>

<!--{if $this->Config[ad_enable]}-->
<!--{eval SetADV('vote','footer');}-->
<!--{/if}-->
{template "topic_footer"}