{template "topic_header"}

<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][vote][header]}-->
<div class="a-h"><!--{eval SetADV('vote','header');}--></div>
<!--{/if}-->

{template "topic_left_nav.inc"}

<div class="main">  
<div class="mainWrap ">
<div class="contentWrap">
		 <div class="vote_user_desc">
			<div class="boxRimg">
			<a href="index.php?mod=vote&view=me&uid={$user_info[uid]}" title="{$user_info[nickname]}"><img onerror="javascript:faceError(this);" src="{$user_info[face]}" title="{$user_info[nickname]}" /></a>
			<span class="spanimg"><strong><a href="index.php?mod={$user_info[username]}">{$user_info[nickname]} {$user_info[validate_html]}</a></strong></span>发起的投票
			<br />
			<span><a href="index.php?mod={$user_info[username]}" title="{$user_info[nickname]}">他的{$this->Config[changeword][n_weibo]}</a></span>
			</div>
		</div>
	<div class="Menubox">
		<ul>
			<li>
				<div class="<!--{if $filter_on['created']}-->tagcurrent<!--{else}-->tagn<!--{/if}-->" >
				<a href="index.php?mod=vote&view=me&filter=created&uid={$uid}"><span>他发起的投票</span></a>
				</div>
			</li>
			<li>
				<div class="<!--{if $filter_on['joined']}-->tagcurrent<!--{else}-->tagn<!--{/if}-->">
				<a href="index.php?mod=vote&view=me&filter=joined&uid={$uid}"><span>他参与的投票</span></a>
				</div>
			</li>
		</ul>
	</div>

      <div id="listTopicArea">	
        <div class="Listmain">
			<!--{if $count}-->
				{template vote/vote_list}        
			<!--{else}-->
				<div style="margin-left:5px;">还没有投票。</div>
		  	<!--{/if}-->
        </div>
      </div>
</div>


 </div>
<!--右边栏目 Begin-->
	{subtemplate 'vote/vote_right'}
<!--右边栏目 End-->
 </div>
<!--{if $this->Config[ad_enable]}-->
<!--{eval SetADV('vote','footer');}-->
<!--{/if}-->
{template "topic_footer"}