<!--三栏开启后左边通用导航部分-->
<!--{eval $_costr = LEFTNAV=='none' ? '打开' : '关闭';$_cocss = LEFTNAV=='none' ? ' fb-open" style="left:-130px;' : ''}-->
<div id="topic_index_left_ajax_list" class="fixedLeft{$_cocss}" style="_height:950px;">

<div id="leftNav" class="leftNav">

<!--{if $my_member || $member}-->
<!--{eval $_mymember = $my_member ? $my_member : $member}-->
<!--{/if}-->
      				
			<!--{eval $top_nav_key=jget('top_nav');
				if(empty($top_nav_key) || in_array($top_nav_key, array('mall', )) || empty($GLOBALS[_J][config][navigation][$top_nav_key][list]))
				$top_nav_key='index';
				$top_nav=$GLOBALS[_J][config][navigation][$top_nav_key];}-->
			<!--{loop $top_nav[list] $side_nav_key $side_nav}-->
            <div class="blackBox"></div>
			<ul class="leftNav_main">
				<!--{if $side_nav[url]}-->
				<h3><a title="{$side_nav[name]}" target="{$side_nav[target]}" href="{eval echo nav_url($side_nav[url], $top_nav_key);}">{$side_nav[name]}</a></h3>
				<!--{else}-->
				<h3>{$side_nav[name]}</h3>
				<!--{/if}-->
				
				<!--{loop $side_nav[list] $nav_key $nav}-->
				<!--{if $nav[display_in_side]}-->
				<li class="left_nav_menu{if jget('side_nav')==$nav_key} m_selected{/if}" currname="{$nav_key}">
                    <!--{if $nav[icon]}--><i class="ico_menu"><img src="{$nav[icon]}" /></i><!--{/if}-->
					<a href="{eval echo nav_url($nav[url], $top_nav_key, $nav_key);}" 
						 hidefocus="true" title="{$nav[name]}" target="{$nav[target]}">
						  <var>{$nav[name]}</var>
						<!--{if $nav[num_field]}-->
                        <span id="nav_num_{$nav_key}"><!--{if $nav[num]}--><em>{$nav[num]}</em><!--{/if}--></span>
						<!--{/if}-->
                     </a>
				</li>
				<!--{/if}-->
				<!--{/loop}-->
				
				<!--{if $side_nav[more]}-->				   
				<li id="side_nav_more_{$side_nav_key}">
					<a href="javascript:void(0);" id="zk1">更多<i></i></a>
                     <ul class="side_nav_more_box" id="side_nav_more_box_{$side_nav_key}">
                     <!--{if 'channel'==$side_nav_key}-->
                     <!-- 左侧更多里的所有频道导航 -->
                     	<!--{eval $channel_trees=jconf::get('channel','trees');}-->
                     	<!--{loop $channel_trees $top_ch}-->
                     	<div class="leftChannel">
                     	  <a name="{$top_ch[name]}" href="index.php?mod=channel&id={$top_ch[id]}" class="lcb">{$top_ch[name]}</a>
                        <div class="lca_box">
                     	<!--{loop $top_ch[child] $ch_id $ch_name}-->
						  <a name="{$ch_name}" href="index.php?mod=channel&id={$ch_id}" class="lca">{$ch_name}</a>
						<!--{/loop}--> 
						</div>
                     	</div>                    	
                     	<!--{/loop}-->
                     <!--{else}--> 
                     <!-- 其他显示在更多里的三级菜单 -->                    
                     	<!--{loop $side_nav[list] $nav_key $nav}-->
                        <!--{if !$nav[display_in_side]}-->
                        <li class="left_nav_menu" currname="{$nav_key}">
                            <a href="{eval echo nav_url($nav[url], $top_nav_key, $nav_key);}" 
                                {if jget('side_nav')==$nav_key} class="m_selected" {/if} 
                         		hidefocus="true" title="{$nav[name]}" target="{$nav[target]}">{$nav[name]}
                         		<!--{if $nav[num_field]}-->
                                
		                        <span id="nav_num_{$nav_key}"><!--{if $nav[num]}--><style type="text/css">.leftNavBtn em{ display:block;}</style><em>{$nav[num]}</em><!--{/if}--></span>
								<!--{/if}-->
							</a>
                        </li>
                        <!--{/if}-->
                        <!--{/loop}-->
                     <!--{/if}-->                        
                     </ul>
                     <script type="text/javascript">  
						$(function(){       
							$("#side_nav_more_{$side_nav_key}").mouseover(function(){
								$("#side_nav_more_{$side_nav_key} #zk1 i").css("top","3px");
								$("#side_nav_more_box_{$side_nav_key}").show();
							});
							$("#side_nav_more_{$side_nav_key}").mouseout(function(){
								$("#side_nav_more_{$side_nav_key} #zk1 i").css("top","3px");
								$("#side_nav_more_box_{$side_nav_key}").hide();
							});
						});
						</script>                     
				</li>
				<!--{/if}-->
                               
			  </ul>
			
			<!--{/loop}-->	  
			
</div>


<script type="text/javascript" src="static/js/nav.js"></script>
<script type="text/javascript">
$(document).ready(function(){get_new_topic_nums();});
function circle_nav_num(){get_new_topic_nums();setTimeout('circle_nav_num();',60000);}
setTimeout('circle_nav_num();',60000);
$(".left_nav_menu").bind('click',function(){var name=$(this).attr("currname");if(name){modify_new_topic_nums(name);}});
/*兼容小分辨率暂时解决办法*/
var screenH = window.screen.height;
if (screenH < 750 )
{   
	$(".mainMenu").css("position","static");	
	$("#leftNav").append('<p class="btn_group">折叠菜单</p>');
    $(".btn_group").click(function(){
       $(".leftNav_main > li").slideToggle();
    });
}
</script>

<a rel="nofollow" href="javascript:void(0);" class="leftNavBtn" title="{$_costr}左侧导航"><em></em></a>
</div>

<script type="text/javascript">
$(function(){
	var	fixedLeft = $('.fixedLeft'),
		leftNavBtn = $('.leftNavBtn', fixedLeft),
		leftNav = $('.leftNav'),
		FBCLASS = 'fb-open',
		close = function(){
			fixedLeft.animate({
				left: '+=130'
			})
			fixedLeft.removeClass(FBCLASS);
			$('.leftNavBtn').attr('title','关闭左侧导航');
		},
		open = function(){
			fixedLeft.animate({
				left: '-=130'
			});
			fixedLeft.addClass(FBCLASS);
			$('.leftNavBtn').attr('title','展开左侧导航');
		};
	leftNavBtn.length && leftNavBtn.on('click', function(e){
		e.preventDefault();
		if(fixedLeft.hasClass(FBCLASS)){
			$.post("ajax.php?mod=view&code=left_nav",{display:1},function(){});close()
		}else{
			$.post("ajax.php?mod=view&code=left_nav",{display:0},function(){});open()
		}
	});

	if(window.location.hash){
		var nav = window.location.hash.replace("#","");
		$('.leftNav li.'+nav).addClass("current");
	}
});
</script>

