{template "topic_header"}
{template "topic_left_nav.inc"}
<link href="static/style/qun.css" rel="stylesheet" type="text/css" />
<div class="main"> 
  <div class="mainWrap ">	
	<div class="qun_cat_listT">
		<h1>
		<span class="mleft">{$tcat_name}</span>
		<span class="mright"><a href="index.php?mod=qun&code=category">返回全部分类列表 </a></span>
		</h1>
		
		<!--子分类 Begin-->
		<div id="sub_cat_wp">
		<a href="index.php?mod=qun&code=category&cat_id={$parent_id}" <!--{if empty($sub_cat_id)}-->class="qun_on"<!--{/if}-->>全部：</a>
		<!--{loop $cur_sub_cat_ary $value}-->
			<a href="index.php?mod=qun&code=category&cat_id={$value['cat_id']}" <!--{if $sub_cat_id==$value['cat_id']}-->class="qun_on"<!--{/if}-->>{$value['cat_name']}</a>
		<!--{/loop}-->
		</div>
		<!--子分类 End-->
		
		<!--排序等相关信息 Begin-->
		<!--{if $count}-->
		<div style="margin-top:10px;">
			<div style="float:left; color:#999;">共{$count}个</div>
			<div id="sort_wp" style="float:right;">
				<span>排序方式：</span>
				<span style="color:#aaa;">
					<a href="index.php?mod=qun&code=category&cat_id={$cat_id}&sort=1" {$active_sort[1]}>成员人数</a> | 
					<a href="index.php?mod=qun&code=category&cat_id={$cat_id}&sort=2" {$active_sort[2]}>{$this->Config[changeword][weiqun]}博数</a> | 
					<a href="index.php?mod=qun&code=category&cat_id={$cat_id}&sort=3" {$active_sort[3]}>创建时间</a>
				</span>
			</div>
			<div style="clear:both"></div>
		</div>	
		<!--{/if}-->	
		<!--排序等相关信息 End-->
	</div>
	<style type="text/css">
        a.v_on{ color:#000; font-weight:700;}
    </style>
      <div id="listTopicArea">		
			{template "qun/qun_search_list"}
      </div>
</div>


{template "qun/qun_right"}


<script language="javascript">
<!--{if $first_cat_id>0}-->
recdqun({$first_cat_id});
<!--{/if}-->
</script>
 

 
 
<!--{if $this->Config[ad_enable]}-->
<div class="banner_ad"> {$this->Config[ad][ad_list][qun][footer]} </div>
<!--{/if}-->
{template "topic_footer"}