/*###########################
   @Name：海滩
#############################*/
/* CSS Document begin */

html {
	background: none;
}
body {
	background-color: #000;
	background-image: url(images/themebg.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font: 12px/1.75;
}
a:link {
	color: #0042B3;
	text-decoration: none;
}
a:visited {
	color: #0042B3;
	text-decoration: none;
}
a:hover {
	color: #0042B3;
	text-decoration: none;
}
.header {
	background: #666;
}
.g-hd2, .exp-wrap .g-hd2 {
/*	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC1D042F', endColorstr='#CC1D042F');
*/	background: rgba(29,4,47,0.8);
}
.exp-wrap .m-hd2 ul.hleft li.on,.exp-wrap .m-hd2 ul.hleft li:hover,.exp-wrap .m-hd2 ul.hleft li a.t_hdnav_cur,.exp-wrap .m-hd2 ul.hleft li.on a.t_hdnav_cur,.exp-wrap .m-hd2 ul.hright li.onn,.exp-wrap .m-hd2 ul.hright li.on{
    border-color:#c30;
}
.listBox .topicNav {
	background: #666;
}
.g-content .g-doc {
	background: #fff url(images/repeat_bg_y.png);
	clear: both;
	float: left;
}
.Menu,.leftNav_main h3 {
	background: #EAE2F2;
}
.Menu{
    width:129px;
}
.leftNav .leftNav_main li #zk1{
    color:#0042B3;
}
.leftNav .leftNav_main #zk1 i{
	border-color:transparent transparent transparent #0042B3;
}
.side_nav_more_box,.blackBox,.leftNav .leftNav_main li.m_selected, .leftNav .leftNav_main > li:hover{
    border-color:#ddd;	
}
.item_list li{
	border-color:#fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.searchTool{
	background: #fff;
	border: 1px solid #fff;
}


.exp-wrap .memberBox,.exp-wrap .column{
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC1D042F', endColorstr='#CC1D042F');
	background: rgba(29,4,47,0.8);
}
.exp-wrap .column h3,.exp-wrap .column .vpnav,.exp-wrap .column h4,.exp-wrap .tag-select{
    color:#498C82;
}
.exp-wrap .user_atten .person_atten_l,.exp-wrap .column h3,.exp-wrap .column .vpnav,.exp-wrap .column h4,.exp-wrap .side-tabtit{
    border-color:#0B2931;
}
.exp-wrap .memberBox .avatar2_info .name a:link,.exp-wrap .memberBox .avatar2_info .name a:visited,.exp-wrap .news_notice a,.exp-wrap .sideuserList a,.exp-wrap .phoneShow a,.exp-wrap .hot_reply_b a,.exp-wrap .cat_block_h a,.exp-wrap .sidedd a {
    color: #B8B448;
}
.exp-wrap .memberBox a:link,.exp-wrap .memberBox a:visited{
    color: #B8B448;
}
.exp-wrap .memberBox .avatar2{
    box-shadow:none;
	border: 1px solid #333;
}
.contentWrap .topicNav {
background: rgba(29,4,47,0.8);