<!--{template admin/header}-->
<form method="post" action="admin.php?mod=attach&code=do_modify_setting">
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<tr class="header">
			<td colspan="2">参数设置</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>开启附件上传应用：</b><br>
                <span class="smalltxt">选择“是”开启，则前台启用上传附件应用。</span><br />			
			</td>
			<td class="altbg2">
                {$attach_enable_radio}
			</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>开启微群附件上传功能：</b><br>
                <span class="smalltxt">选择是，开启微群内的附件上传的功能。</span><br />			
			</td>
			<td class="altbg2">
                {$qun_attach_enable_radio}
			</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>允许上传的文件类型：</b><br>
                <span class="smalltxt">文件类型之间用“|”符号分隔，请谨慎设置，严禁允许上传可执行文件。<br>增加类型后，请在images/filetype目录下，增加相应文件类型的gif图标图片，方便页面显示。</span><br />			
			</td>
			<td class="altbg2">
                <input type="text" name="attach[request_file_type]" value="{$attach[request_file_type]}" size=90 />
			</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>单个文件大小限制：</b><br>
                <span class="smalltxt">单个文件最大可允许的大小（单位：KB），最大不超过51200KB(50M)，需要服务器配置的支持，如果php.ini中的（post_max_size和upload_max_filesize）配置值小于该值，则该设置无效，建议2048KB(2M)。</span><br />			
			</td>
			<td class="altbg2">
                <input type="text" name="attach[request_size_limit]" value="{$attach[request_size_limit]}" size=4 />KB
			</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>单次上传数量限制：</b><br>
                <span class="smalltxt">每次最多可以上传的文件数量，最多不超过50个，需要服务器配置的支持，建议3个。</span><br />			
			</td>
			<td class="altbg2">
                <input type="text" name="attach[request_files_limit]" value="{$attach[request_files_limit]}" size=4 />
			</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>单个文件奖励积分限制：</b>(最低~最高)<br>
                <span class="smalltxt">即限制积分最低值和最高值，避免用户私自乱设积分。</span><br />			
			</td>
			<td class="altbg2">
                <input type="text" name="attach[score_min]" value="{$attach[score_min]}" size=3 />~ <input type="text" name="attach[score_max]" value="{$attach[score_max]}" size=3 />
			</td>
		</tr>
		<tr>
			<td class="altbg1" width="40%">
                <b>下载文件不扣积分者：</b><br>
                <span class="smalltxt">即下载文件时，不管该文件是否需要下载积分，该用户组的用户下载时，都不扣积分。</span><br />			
			</td>
			<td class="altbg2">{$filterhtml}</td>
		</tr>
	</table>
	<br />
	<center><input class="button" type="submit" name="cronssubmit" value="提 交" /></center>
</form>