<!--{template admin/header}-->
<style>
.project_info{
	display:block;
}
.project_info i{ font-style:normal; font-size:11px; background:#1eb1f6; color:#fff; border-radius:3px; padding:0 3px; margin-right:5px;}
</style>
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr align="center" class="header"> 
    	<td>编号</td>
        <td>作品展示</td>   
        <td>作品描述</td> 
        <td>上传者</td>
        <!--{loop $profile_contest_conf $pcc}-->
        <td>{$pcc[title]}</td>
        <!--{/loop}-->
        <td>上传时间</td>
        <td> 大图 </td> 
        <td> &nbsp; </td> 
    </tr>
	<!--{loop $rets['list'] $one}-->
	<tr>
		<td class="altbg1" width="40px">{$one[id]}</td>
		<td class="altbg1" width="200px"><a target="_blank" href="{$one[image][photo]}"><img src="{$one[image][photo_small]}" /></a></td>
		<td class="altbg2">{$one[image][description]}</td>
		<td class="altbg1" width="100px"><a href="index.php?mod={$one[uid]}" target="_blank" title="{$one[image][author]}">{$one[image][author]}</a></td>
		<!--{loop $profile_contest_conf $pcc}-->
		<td class="altbg1">{$members_profile_list[$one[uid]][$pcc[fieldid]]}</td>
		<!--{/loop}-->
		<td class="altbg2" width="100px">{eval echo my_date_format($one[date]);}</td>
		<td class="altbg1"> <a target="_blank" href="{$one[image][photo]}" title="点此在新窗口中打开查看大图">点此查看大图</a> </td>
		<td class="altbg2"> &nbsp; </td>
	</tr>
	<!--{/loop}-->
	<!--{if $rets[page][html]}-->
	<tr><td colspan="6">{$rets[page][html]}</td></tr>
	<!--{/if}-->
</table>
