{template admin/header}

<div class="mt10">
  <form method="post" action="admin.php?mod=verify&code=doverify&act=yes">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
      <tr class="header">
		<td width="60">
		<label><input class="checkbox" type="checkbox" name="chkall" onclick="checkall(this.form,'uids')" >通过</label></td>	
		<td width="120">用户昵称</td>
		<td width="120">审核头像</td>
		<td>审核签名</td>
		<td width="120">操作</td>
	  </tr>
	  <!--{loop $members_verify $val}-->
	  <tr align="center">
		<td class="altbg1" style="border-bottom:1px dotted #EDEDED">
		  <input class="checkbox" type="checkbox" name="uids[]" value="$val[uid]" ></td>
		<td class="altbg2" style="border-bottom:1px dotted #EDEDED"><a href="index.php?mod={$val[uid]}" target="_blank">$val['nickname']</a></td>
		<td class="altbg2" style="border-bottom:1px dotted #EDEDED"><!--{if $val['face']}--><img src="{$val['face']}"><!--{/if}--></td>
		<td class="altbg2" style="border-bottom:1px dotted #EDEDED">
		  $val['signature']&nbsp;&nbsp;
		  <a href="admin.php?mod=verify&code=edit&uid=$val[uid]">[编辑]</a>
		</td>
		<td class="altbg2" style="border-bottom:1px dotted #EDEDED">
		  <a href="admin.php?mod=verify&code=doverify&act=yes&uid=$val[uid]">通过</a>&nbsp;|&nbsp;
		  <a href="javascript:void(0);" onclick="refuseVerify($val[uid]);return false;">拒绝</a>
		</td>
	  </tr>
	  <!--{/loop}-->

	  <!--{if $page_arr['html']}-->
	  <tr align="center">
		<td colspan="4" class="altbg1">
		{$page_arr['html']}
		</td>
	  </tr>
	  <!--{/if}-->
	</table>
    <center><input class="button" type="submit" name="cronssubmit" value="提 交"></center>
  </form>
</div>
<script type="text/javascript">	
function refuseVerify(uid){
	if(uid < 1){
		alert("无效的审核处理。");
		return false;
	}
	var handle_key = 'refuse_verify_' + uid;
	var d = '<div style="padding:10px;"><div style="width:480px;margin:10px 0"><span style="color:red;">私信内容留空，则不发送私信</span></div><div style="float:left;height:120px;width:450px;"><div style="float:left;width:80px;">私信内容：</div>'+
			'<div div style="float:left;width:300px;"><textarea id="snedPmMsg" style="width: 300px; height: 100px;">您的头像/个性签名不符合要求，管理员予以拒绝，请重新填写。</textarea></div></div>'+
		    '<div style="margin:0px 160px;"><input type="button" value="提交" onclick="refuseSubmit('+uid+')"><input type="button" value="取消" onclick="closeDialog(\''+handle_key+'\');"></div>'+
		    '<scri'+'pt type="text/javascript">function refuseSubmit(uid){var msg = $("#snedPmMsg").val();location.href="admin.php?mod=verify&code=doverify&act=no&uid='+uid+'&msg=\"+msg+\""}</scr'+'ipt></div>';
	showDialog(handle_key, 'local', '头像·签名审核不通过时的邮件提醒', {"html":d}, 500);
}
document.onkeydown=function(event){
	event = event || window.event;
    if(event.ctrlKey==true && event.keyCode==13){
    	$("#cronssubmit").click();
    }
}
</script>
