<!--{template admin/header}-->
<!--{if 'modify'==$this->Code}-->
<form action="{$action}" method="post" enctype="multipart/form-data">
  <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr class="header">
      <td colspan="4">编辑微博属性<span class="altbg1"></span> </td>
    </tr>
    <tr>
       <td width="30%" bgcolor="#F8F8F8">&nbsp;</td>
      <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
	    <tr>
      <td class="altbg1">微博属性 : </td>
      <td colspan="2" class="altbg2"><input type="hidden" name="oldfeaturename" value="{$featurelist[featurename]}">
	  <input name="featurename" type="text" id="featurename" value="{$featurelist[featurename]}" size="40" />      </td>
    </tr>
	    <tr>
	      <td class="altbg1">&nbsp;</td>
	      <td width="7%" align="left" >    
		  <center>
    <input type="submit" class="button" name="editsubmit" value=" 提 交 ">
    <input name="featureid" type="hidden" id="featureid" value="{$featurelist[featureid]}" />
          </center>		  </td>
          <td width="63%" align="left" >&nbsp;</td>
    </tr>
  </table>
</form>
<!--{else}-->
<form action="admin.php?mod=feature&code=add" method="post" enctype="multipart/form-data">
  <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr class="header">
      <td colspan="4"> 添加微博属性 </td>
    </tr>
    <tr>
      <td class="altbg1" width="119">名称: </td>
      <td width="300" class="altbg2"><input name="featurename" type="text" id="featurename" value="" size="40"></td>	  
      <td width="942" class="altbg2"><button name="do" value='' type="submit" class="button">添加</button></td>
    </tr>
  </table>
</form>
<form method="post" action="admin.php?mod=feature&code=delete">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
			<tr class="header">
				<td width="30">
				<input class="checkbox" type="checkbox" name="chkall" onclick="checkall(this.form,'ids')" >删</td>	
				<td width="406">属性名称</td>
				<td width="154">操作</td>
			</tr>
			<!--{loop $feature_list $val}-->
			<tr align="center">
				<td class="altbg1"><input class="checkbox" type="checkbox" name="ids[]" value="$val[featureid]" ></td>
				<td class="altbg1">{$val[featurename]}</td>
				<td class="altbg1"><a href="admin.php?mod=feature&amp;code=modify&amp;ids={$val[featureid]}">编辑</a>
				<!--{if $val[featureid]>3}-->
				&nbsp;&nbsp;<A href="admin.php?mod=feature&amp;code=delete&amp;ids={$val[featureid]}">删除</A>
				<!--{/if}-->
				</td>
			</tr>
			<!--{/loop}-->
			<!--{if $page_arr[html]}-->
			<tr align="center">
				<td colspan="5" class="altbg1">{$page_arr[html]}</td>
			</tr>
			<!--{/if}-->
		</table>
<center>
<button type="submit" class="button"> 提 交 </button>
</center>
</form>
<!--{/if}-->