<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--{eval $__my=$GLOBALS[_J][member];}-->
{eval $conf_charset=$this->Config['charset'];}<meta http-equiv="Content-Type" content="text/html; charset=$conf_charset" />
<link href="static/style/admincp.css" rel="stylesheet" type="text/css" />

<!--{subtemplate "common_header_js"}-->

<script type="text/javascript" src="./static/js/cookies.js"></script>
<script type="text/javascript" src="./static/js/min.js"></script>
<script type="text/javascript" src="./static/js/common.js"></script>
<script type="text/javascript" src="./static/js/admin_script_common.js"></script>
<script type="text/javascript" src="./static/js/cp.js"></script>

<script language="JavaScript">
function checkalloption(form, value) {
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		if(e.value == value && e.type == 'radio' && e.disabled != true) {
			e.checked = true;
		}
	}
}
function checkallvalue(form, value, checkall) {
	var checkall = checkall ? checkall : 'chkall';
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		if(e.type == 'checkbox' && e.value == value) {
			e.checked = form.elements[checkall].checked;
		}
	}
}
function zoomtextarea(objname, zoom) {
	zoomsize = zoom ? 10 : -10;
	obj = $(objname);
	if(obj.rows + zoomsize > 0 && obj.cols + zoomsize * 3 > 0) {
		obj.rows += zoomsize;
		obj.cols += zoomsize * 3;
	}
}
function redirect(url) {
	window.location.replace(url);
}
function checkall(form, prefix, checkall) {
	var checkall = checkall ? checkall : 'chkall';
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		if(e.name != checkall && (!prefix || (prefix && e.name.match(prefix)))) {
			e.checked = form.elements[checkall].checked;
		}
	}
}
var collapsed = Cookies.getCookie('guanzhu_collapse');
function collapse_change(menucount) {
	if(document.getElementById('menu_' + menucount).style.display == 'none') {
		document.getElementById('menu_' + menucount).style.display = '';
		collapsed = collapsed.replace('[' + menucount + ']' , '');
		$('menuimg_' + menucount).src = './static/image/admincp/menu_reduce.gif';
	} else {
		document.getElementById('menu_' + menucount).style.display = 'none';
		collapsed += '[' + menucount + ']';
		$('menuimg_' + menucount).src = './static/image/admincp/menu_add.gif';
	}
	Cookies.setCookie('guanzhu_collapse', collapsed, 2592000);
}
function advance_search(o)
{
	o.innerHTML=$('advance_search').visible()?"高级搜索":"简单搜索";
	$('advance_search').toggle();
	return false;
}
</script>
</head>
<body>
<div id="show_message_area"></div>
<table width="100%" border="0" cellpadding="2" cellspacing="6" style="_margin-left:-10px; ">
<tr>
  <td><table width="100%" border="0" cellpadding="2" cellspacing="6">
    <tr>
 <td>
 <!--{if $__is_messager!=true}-->
 <script type="text/javascript">
	if(!self.frameElement && !parent.document.getElementById('left') && !parent.parent.document.getElementById('left')) {
		admincpfilename= "admin.php";
		location.href=(admincpfilename + '?jump_url=' + document.URL.substr(document.URL.indexOf(admincpfilename)));
	}
</script>
        <div style="width:100%;color:#333;margin:0px 0px 10px; float:left;">
          <div style="float:left;"><a href="admin.php?mod=index&code=home">控制面板首页</a>&nbsp;&raquo;&nbsp;
		  <!--{if $pluginconfig && $pluginname}-->
		  {$pluginconfig}&nbsp;&raquo;&nbsp;{$pluginname}
		  <!--{elseif $this->pluginconfig && $this->pluginname}-->
		  {$this->pluginconfig}&nbsp;&raquo;&nbsp;{$this->pluginname}
		  <!--{else}-->
		  {eval echo $this->actionName();}
		  <!--{/if}-->
		  </div>
		  <!--{if $this->RoleActionId}-->
		  <div style="float: right;"><a title="查看谁操作过这个页面" href="admin.php?mod=logs&role_action_id={$this->RoleActionId}"><b style="color:#D94446;font-weight:500">查看当前页操作记录</b></a></div>
		  <!--{/if}-->
        </div>
		
        <!--{/if}-->

<!--{if $this->Config[company_enable]}-->
<!--{eval $d_c_name = $this->Config[default_company] ? $this->Config[default_company] : '单位'; $d_d_name = $this->Config[default_department] ? $this->Config[default_department] : '部门'; $d_j_name = $this->Config[default_job] ? $this->Config[default_job] : '岗位';}-->
<!--{/if}-->
<!--{template "admin/sub_menu"}--> <br />