{template 'admin/header'}
<div id="main_wp" class="mt10">
  <form method="post" action="admin.php?mod=notice&code=delMailQueue">
    <table cellspacing="1" width="100%" align="center" class="tableborder">
	  <tr class="header">
		<td colspan="5">查看邮件队列</td>
	  </tr>
	  <tr class="altbg1">
	    <td width="5%"><label><input class="checkbox" type="checkbox" id="chkall" name="chkall" onclick="checkall(this.form, 'ids')" >删除</label></td>
	    <td>收件人</td>
	    <td>收件邮箱</td>
	    <td>邮件内容</td>
	    <td>邮件发送时间</td>
	  </tr>
	  {loop $mailQueue $k $v}
	  <tr onmouseover="this.className='altbg1'" onmouseout="this.className='altbg2'">
	    <td style="border-bottom:1px dotted #EDEDED"><input class="checkbox" type="checkbox" name="ids[]" value="$v['qid']" ></td>
		<td><a href="index.php?mod={$v['username']}" target="_blank">$v['nickname']</a></td>
		<td>$v['email']</td>
		<td>$v['message']</td>
		<td>$v['dateline']</td>
	  </tr>
	  {/loop}
    </table>
    <center><input class="button" type="submit" name="cronssubmit" value="提 交"></center>
  </form>
</div>