
<!--{template admin/header}-->

<script src="static/js/date/WdatePicker.js" type="text/javascript"></script>
<script type="text/javascript">
	function checkinput(){
		
		if(document.getElementById('goodsname').value == ''){
			MessageBox('notice', "请输入商品名字", '提示');return false;
		}
		if(Number(document.getElementById('goodsprice').value) == 0){
			MessageBox('notice', "请输入所需{$config['credits_name']}", '提示');return false;
		}
		if(document.getElementById('starttime').value == ''){
			MessageBox('notice', "请输入商品有效期", '提示');return false;
		}
		if(Number(document.getElementById('goodsnum').value) == 0){
			MessageBox('notice', "请输入商品总数", '提示');return false;
		}
	}
</script>
<form method="post" action="admin.php?mod=mall&code=do_modify_goods" enctype="multipart/form-data" onsubmit="return checkinput()">
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td colspan="2">商品编辑</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">商品名字</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[name]" value="{$info['name']}"  style="width:600px;" maxlength="100">（不超过100个字符）
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">商品SN号</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[sn]" value="{$info['sn']}" maxlength="30">（自己对商品定义的编号，可以不填写）
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">所需{$config['credits_name']}</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[price]" value="{$info['price']}" >（即：兑换该商品所需要的{$config['credits_name']}，必须有值）
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">总积分要求</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[credit]" value="{$info['credit']}">（即：兑换门槛，总积分必须大于或等于该设置分的才可以兑换，0为不做要求，无兑换门槛。）
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">商品详情</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<textarea name="data[desc]" style="width:600px;height:300px;">{$info['desc']}</textarea>
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">商品图片</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<!--{if $info['image']}--><img src="{$info['image']}" width="300" height="300"><br><!--{/if}-->
			<input type="file" name="image" >（大小：300*300，目前只支持添加一张图片）
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">总商品数（库存数）</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[total]" value="{$info['total']}">（即：库存数，必须有值）
		</td>
	</tr>
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">商品有效期</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[expire]" value="{eval echo date("Y-m-d H:i",$info['expire']);}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd  HH:mm'});">（即：在该时间之前可以兑换，超过该时间后不可兑换，自动下架。）
		</td>
	</tr>	
	<tr>
		<td class="altbg1" width="15%" bgcolor="#F8F8F8">商品排序</td>
		<td class="altbg2" width="85%" align="right" bgcolor="#FFFFFF">
			<input type="text" name="data[order]" value="{$info['order']}">（由大到小排序）
		</td>
	</tr>

</table>
<br><input type="hidden" name="id" value="{$info['id']}">
<center><input type="submit" class="button" id="submit" name="addsubmit" value="保 存"></center>
</form>