<!--{template admin/header}-->

<form method="post" action="admin.php?mod=mall&code=setting">
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td colspan="2">配置</td>
	</tr>
	<tr class="altbg1">
		<td width="30%"><b>启用积分商城功能？</b><br>
			<span class="smalltxt"></span></td>
		<td>{$mall_enable_radio}</td>
	</tr>
	<tr class="altbg2">
		<td width="30%"><b>兑换商品推送动态？</b><br>
			<span class="smalltxt"></span></td>
		<td>{$feed_exchange_radio}</td>
	</tr>
	<tr class="altbg1">
		<td width="30%"><b>增加商品推送动态？</b><br>
			<span class="smalltxt"></span></td>
		<td>{$feed_post_radio}</td>
	</tr>
	<tr class="altbg2">
		<td width="30%"><b>设置使用的积分项</b><br>
			<span class="smalltxt"></span></td>
		<td>{$mall_credits_select}</td>
	</tr>
	<tr class="altbg3">
		<td width="30%"><b>积分规则</b><br>
			<span class="smalltxt"></span></td>
		<td>{$mall_rule}</td>
	</tr>
</table>
<br><center><input type="submit" class="button" name="settingsubmit" value="提 交"></center><br>
</form>
<br>
