<!--{template admin/header}-->
<form action="{$action}" method="post" enctype="multipart/form-data" name="m_type_from" id="m_type_from">
  <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr class="header">
      <td >1、编辑用户分组名称</td>
    </tr>

    <tr>
      <td class="altbg1"><span class="altbg2">
        <input name="media_name" type="text" id="media_name" value="{$media_name}" size="30" />
        <input type="submit" class="button" name="editsubmit" value="确定修改" />
        <input name="media_id" type="hidden" id="media_id" value="{$media_id}" />
      </span>
	  </td>
    </tr>
  </table>
</form>


<form  action="admin.php?mod=media&code=del_media" method="post" name="m_user_from" id="m_user_from">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
			<tr class="header">
				<td width="30">
				<!-- <input class="checkbox" type="checkbox" name="chkall" onclick="checkall(this.form,'ids')" > -->
				2、“<strong>$media_name</strong>”推荐分组下的用户</td>
			</tr>
			<tr class="altbg1">
			<td width="2%">删除</td> 
			<td width="5%">用户</td> 
			<td width="10%">排序</td> 
			
			</tr>
			<!--{loop $media_user $_user}-->
			<tr class="altbg2">
			<td width="10%"><input class="checkbox" type="checkbox" name="ids[]2" value="$_user[uid]" /></td> 
			<td width="5%"><a href="index.php?mod={$_user[username]}" target="_blank">{$_user[nickname]}</a></td> 
			<td width="10%"><input type="text" name="order[{$_user[username]}]" value="{$_user[media_order_id]}"></td> 
			</tr>
			<!--{/loop}-->

			
			
			<!--{if $page_arr[html]}-->
			<tr align="center">
				<td class="altbg1">{$page_arr[html]}</td>
			</tr>
			<!--{/if}-->
  </table>

<center>
  <button type="submit" class="button"> 提交 </button>&nbsp;&nbsp;
  <button class="button" type="button" onclick="window.location.href='admin.php?mod=media';return false;">返回</button>
  <input name="media_ids" type="hidden" id="media_ids" value="{$ids}" />
</center>
</form>