<!--{template admin/header}-->
<!--{if $type=='set'}-->
<form action="admin.php?mod=member&code=setvest" method="post">
  <table width="100%" border="0" cellpadding="1" cellspacing="1" class="tableborder">
    <tr class="header">
      <td colspan="2">马甲设置</td>
    </tr>
    <tr>
      <td class="altbg1" width="20%"><b>是否开启马甲功能</b></td>
      <td class="altbg2">{$vest_enable}</td>
    </tr>
    <tr>
      <td class="altbg1" width="20%"><b>使用马甲权限</b><br>
	  <span class="smalltxt">在开启马甲功能时，若不设置此项，则视所有用户均有马甲权限。</span></td>
      <td class="altbg2">{$vest_role}</td>
    </tr>
  </table>
  <center><input type="submit" name="Sunmit" value="提交" class="button"></center>
</form>
<!--{else}-->
<form action="admin.php?mod=member&code=vest" method="post">
  <table width="100%" border="0" cellpadding="1" cellspacing="1" class="tableborder">
    <tr class="header">
      <td colspan="2">搜索马甲</td>
    </tr>
    <tr>
      <td class="altbg1" width="20%">用户昵称</td>
      <td class="altbg2"><input type="text" name="nickname" value="{$nickname}" onkeyup="ajax_nickname(this,this.value);" autocomplete="off"></td>
    </tr>
    <!--<tr>
      <td class="altbg1" width="20%">本尊昵称</td>
      <td class="altbg2"><input type="text" name="usernickname" value="{$usernickname}"></td>
    </tr>-->
    <tr>
      <td class="altbg2"></td>
      <td class="altbg2"><input type="submit" value="查询" class="button"></td>
    </tr>
  </table>
</form>

<form action="" method="post">
  <table width="100%" border="0" cellpadding="1" cellspacing="4" class="tableborder">
    <!--{if $vest}-->
    <tr>
      <td class="altbg1" colspan="3">搜索结果（本站共有{$vest_member}个马甲用户，此次查询有{$count}个马甲）</td>
    </tr>
    <tr class="header">
      <td width="20%">马甲昵称</td>
      <td width="20%">马甲添加人</td>
      <td></td>
    </tr>
    <!--{loop $vest $k $v}-->
    <tr class="altbg2">
      <td><a href="index.php?mod=$v['username']" target="_blank">$v['nickname']</a>&nbsp;&nbsp;<a href="admin.php?mod=member&code=modify&id={$v[uid]}">[编辑]</a></td>
      <td><a href="index.php?mod=$v['userusername']" target="_blank">$v['usernickname']</a>&nbsp;&nbsp;<a href="admin.php?mod=member&code=modify&id={$v[useruid]}">[编辑]</a></td>
      <td></td>
    </tr>
    <!--{/loop}-->
    <!--{/if}-->
  </table>
</form>
<!--{/if}-->