{template admin/header}	
<form method="post" action="admin.php?mod=pm&code=to_admin_info">
  <input type="hidden" name="id" value="{$id}" />
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
		<tr class="header">
			<td colspan="2">编辑</td>
		</tr>	
		<tr class="altbg1">
			<td width="40%"><b>名称</b><br>
				<span class="smalltxt">如“给管理员的信”，会显示在前台的私信页面导航条上</span></td>	
			<td><input type="text" name="info[name]" value="{$info[name]}" /></td>
		</tr>	
		<tr class="altbg2">
			<td width="40%"><b>接收者昵称</b><br>
				<span class="smalltxt">多个昵称时请用英文逗号 , 分隔；如“管理员,总经理”<br />
				不能为空，必须填写此项</span></td>	
			<td><input type="text" name="info[to_admin]" value="{$info[to_admin]}" /></td>
		</tr>	
		<tr class="altbg1">
			<td width="40%"><b>通知提醒谁？</b><br>
				<span class="smalltxt">在上面设置的用户接收到私信的同时，给TA的助手发个通知提醒？<br />
				多个昵称时请用英文逗号 , 分隔；如“小秘书,助手”<br />
				为空时则不发送通知提醒</span></td>	
			<td><input type="text" name="info[notice_to]" value="{$info[notice_to]}" /></td>
		</tr>	
		<tr class="altbg2">
			<td width="40%"><b>通知提醒内容</b><br>
				<span class="smalltxt">如“管理员有收到新的私信了，快去提醒一下TA吧！”<br />
				为空时则不发送通知提醒</span></td>	
			<td><input type="text" name="info[notice_msg]" value="{$info[notice_msg]}" /></td>
		</tr>	
		<tr class="altbg1">
			<td width="40%"><b>通知提醒的发送者</b><br>
				<span class="smalltxt">请填写用户昵称，如“管理员”<br />
				默认为空时则以当前用户进行通知提醒的发送</span></td>	
			<td><input type="text" name="info[notice_send]" value="{$info[notice_send]}" /></td>
		</tr>	
		<tr class="altbg2">
			<td width="40%"><b>是否直接链接到私信对话页面？</b><br>
				<span class="smalltxt">默认为“否”表示链接到私信发送的页面<br />
				仅在“接收者昵称”一项设置为单个用户时，这里的设置才生效</span></td>	
			<td>{$link_to_list_radio}</td>
		</tr>
		<tr class="altbg1">
			<td> &nbsp; </td>
			<td><br /><input class="button" type="submit" name="cronssubmit" value="编辑"> &nbsp; 
				<a href="admin.php?mod=pm&code=to_admin">返回</a><br /></td>
		</tr>		
	</table>
</form>