{template admin/header}
<div><span style="color:#D94446">*</span>特殊项目不允许用户在前台自由编辑</div><br>
<div><span style="color:#D94446">*</span>在名片夹中显示的项目请不要过多的选择，以免导致页面丑陋</div><br><br>
<div>
  <form action="admin.php?mod=member&code=setprofile" method="POST">
  <table width="100%" cellspacing=1 cellpadding=3 class="tableborder">
    <tr class="header">
      <td>项目名</td>
      <td width="6%">排序</td>
      <td width="9%">名片夹显示</td>
      <td width="9%">注册页显示</td>      
      <td width="9%">加入搜索？</td>     
      <td width="9%">基本资料</td>
      <td width="9%">联系方式</td>
      <td width="9%">教育情况</td>
      <td width="9%">工作情况</td>
      <td width="9%">个人信息</td>
    </tr>
    <!--{loop $profile $key $val}-->
    <tr class="altbg2" onmouseover="this.className='altbg1'" onmouseout="this.className='altbg2'">
      <td style="border-bottom:1px dotted #ededed;">
      <!--{if in_array($key,array('field1','field2','field3','field4','field5','field6','field7','field8'))}-->
      <input type="text" name="title[{$val[fieldid]}]" value="$val['title']">
      <!--{else}-->
      {$val['title']}
      <!--{/if}-->
      </td>
	  <td style="border-bottom:1px dotted #ededed;text-align:center;">
	    <input type="text" name="displayorder[{$val[fieldid]}]" value="$val[displayorder]" size="2">
	  </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	<input type="checkbox" value ="1" name="showincord[{$val['fieldid']}]" <!--{eval if($showincord[$key]) echo checked}-->>
      </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
        {if 'residecity' != $key}
      	<input type="checkbox" value ="1" name="register[{$val['fieldid']}]" <!--{eval if($register[$key]) echo checked}-->>
        {/if}
      </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	{if in_array($key, $can_search_profile)}<input type="checkbox" value ="1" name="search[{$val['fieldid']}]" <!--{eval if($search[$key]) echo checked}-->>{/if}
      </td>
      <!--{if in_array($key,$noEditProfile)}-->
        <td style="border-bottom:1px dotted #ededed;text-align:center;" colspan="5"> &nbsp; </td>
      <!--{else}-->
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	<input type="checkbox" value ="1" name="groupprofile[base][{$val['fieldid']}]" <!--{eval if($groupProfile['base']['list'][$key]) echo checked}-->>
      </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	<input type="checkbox" value ="1" name="groupprofile[link][{$val['fieldid']}]" <!--{eval if($groupProfile['link']['list'][$val['fieldid']]) echo checked}-->>
      </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	<input type="checkbox" value ="1" name="groupprofile[edu][{$val['fieldid']}]" <!--{eval if($groupProfile['edu']['list'][$val['fieldid']]) echo checked}-->>
      </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	<input type="checkbox" value ="1" name="groupprofile[job][{$val['fieldid']}]" <!--{eval if($groupProfile['job']['list'][$val['fieldid']]) echo checked}-->>
      </td>
      <td style="border-bottom:1px dotted #ededed;text-align:center;">
      	<input type="checkbox" value ="1" name="groupprofile[info][{$val['fieldid']}]" <!--{eval if($groupProfile['info']['list'][$val['fieldid']]) echo checked}-->>
      </td>
      <!--{/if}-->
    </tr>
    <!--{/loop}-->
    <tr>
      <td colspan="9">
        <center><input type="submit" class="button" name="Submit" value="提交"></center>
      </td>
    </tr>
  </table>
  </form>
</div>