<!--{template admin/header}-->

<form method="post" action="admin.php?mod=setting&code=dosetmailmsg">
  <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr class="header">
      <td colspan="5">参数一栏</td>
    </tr>
    <tr class="altbg2">
      <td>newpm  ---  新私信</td>
      <td>at_new  ---  @数</td>
      <td>comment_new  ---  新评论数</td>
      <td>event_new  ---  活动更新数</td>
      <td>fans_new  ---  新粉丝数</td>
    </tr>
    <tr class="altbg2">
      <td>qun_new  ---  群更新数</td>
      <td>vote_new  ---  投票更新数</td>
      <td>channel_new  ---  频道更新次数</td>
      <td>dig_new  ---  被赞次数</td>
	  <td>load  ---  未登录天数</td>
    </tr>
	<tr class="altbg2">
      <td>site_name  ---  站点名称</td>
      <td>site_url  ---  站点URL</td>
	  <td>nickname --- 用户昵称</td>
	  <td>time --- 当前时间</td>
	  <td>company_new  ---  单位更新次数</td>
    </tr>
	<tr class="altbg2">
      <td colspan="5">site_new_data  ---  站点新数据，包括新私信、@数、新评论数、活动数、粉丝数、群更新数、投票更新数、频道更新数、被赞数（为0时不提醒,此项只限于邮件内容）</td>
    </tr>
  </table>
  <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr>
      <td width="20%">邮件提醒标题</td>
      <td>
        <textarea name="msg[subject]" rows="3" cols="50">{$msg['subject']}</textarea>
      </td>
    </tr>
    <tr>
      <td width="20%">邮件提醒内容</td>
      <td>
        <textarea name="msg[msg]" rows="10" cols="50">{$msg['msg']}</textarea>
      </td>
    </tr>
  </table>
  <center><input type="submit" value="提交" class="button"></center>
</form>