<!--{template admin/header}-->

<form method="post" name="config[settings]" action="admin.php?mod=setting&code=domodify_normal" enctype="multipart/form-data">
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<!--{if $this->Config['ldap_enable']}-->
		<tr class="header">
			<td colspan="2"><font color="red">网站开启了windows AD域登录，此部分设置部分不生效</font></td>
		</tr>
		<!--{/if}-->
		<tr class="header">
			<td colspan="2">常规注册设置项</td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>完全关闭本站直接注册时是否显示注册的链接地址？</b><br>
			  <span class="smalltxt">仅在关闭了本站直接注册时才有效，选择“是”显示，选择“否”不显示。</span>
			</td>
			<td>{$register_link_display_radio}</td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b>完全关闭本站直接注册时的提示信息：</b><br>
			  <span class="smalltxt">关闭直接注册并启用第三方登陆注册时，注册页面会有相应提示；<br>您也可以在此填写相应内容说明，此将覆盖系统原先的提示说明（可选，支持html代码）。</span>
			</td>
			<td>
			  <textarea cols="48" rows="4" name="config[regclosemessage]">{conf regclosemessage}</textarea>
			</td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>给新注册用户发私信：</b><br>
			<span class="smalltxt">新用户注册后，系统会把下面内容发送给新注册用户（支持html代码）；
			<br>留空将关闭此功能。</span></td>
			<td><textarea cols="48" rows="4" name="config[notice_to_new_user_news]">{conf notice_to_new_user_news}</textarea></td>
		</tr>

		<tr class="altbg2">
			<td><b>以哪个管理员名义给新注册用户发私信：</b><br>
			<span class="smalltxt">此项与上述发私信设置配合使用，将以此处填写的管理员昵称给新用户发私信；
			<br>留空将关闭此功能。</span></td>
			<td><input type="text" name="config[notice_to_new_user]" value="{conf notice_to_new_user}" size="50" ></td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>每个邀请链接可注册人数：</b><br>
			<span class="smalltxt">达到指定注册人数后，邀请链接将失效，方便控制注册人数。<BR>
			<A HREF="index.php?mod=profile&code=invite" target=_blank><b>查看前台邀请好友的描述</b></A></span></td>
			<td><input type="text" name="config[invite_limit]" value="{conf invite_limit}" size="5" /></td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b>每用户最多可邀请人数：</b><br>
			<span class="smalltxt">在开启邀请功能后，每个注册用户最多可以邀请多少人来注册并关注自己，默认为30 。</span></td>
			<td><input type="text" name="config[invite_count_max]" value="{conf invite_count_max}" size="5" /></td>
		</tr>
        
		<!--{if $cp_enable}-->
		<tr class="altbg1">
			<td width="45%"><b><font color=#D94446>是否启用单位功能模块？</font></b><br>
			<span class="smalltxt">选择“是”，则开启单位功能模块，可在下面重命名此模块显示名称。</span></td>
			<td>{$company_enable} </td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b><font color=#D94446>是否启用部门功能模块？</font></b><br>
			<span class="smalltxt">选择“是”，则开启部门功能模块；注意该设置只有在开启单位功能模块后生效。</span></td>
			<td>{$department_enable} </td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b><font color=#266AAE>自定义单位名称：</font></b><br>
			<span class="smalltxt">例如：学校、公司等，留空则默认使用“单位”字样（在开启单位功能后才有效）。</span></td>
			<td><input type="text" name="config[default_company]" value="{conf default_company}" size="6"/></td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b><font color=#266AAE>自定义部门名称：</font></b><br>
			<span class="smalltxt">例如：班级、科室等，留空则默认使用“部门”字样（在开启部门功能后才有效）。</span></td>
			<td><input type="text" name="config[default_department]" value="{conf default_department}" size="6"/></td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b><font color=#266AAE>自定义岗位名称：</font></b><br>
			<span class="smalltxt">例如：职务、工种等，留空则默认使用“岗位”字样（在开启单位功能后才有效）。</span></td>
			<td><input type="text" name="config[default_job]" value="{conf default_job}" size="6"/></td>
		</tr>
		<!--{/if}-->
    </table>
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<tr class="header">
			<td colspan="2">普通注册/第三方帐号登陆/邀请注册等</td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>开启本站直接注册功能？</b><br>
			<span class="smalltxt">如果网站受注册机干扰，可关闭普通注册，启用邀请注册或新浪等第三方帐号登陆。</span></td>
			<td>{$regstatus_checkbox}</td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b>只开启普通时，是否显示邀请人输入框？</b><br>
			<span class="smalltxt">选择“否”，注册页面上不显示邀请人输入框。</span></td>
			<td>{$register_invite_input_radio} </td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>邀请人为空时，是否允许用户自定义？</b><br>
			<span class="smalltxt">选择“否”，用户在个人设置页面将不能自定义的设置邀请人。</span></td>
			<td>{$register_invite_input2_radio} </td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b>昵称长度：</b><br>
			<span class="smalltxt">最长不超过50个字符；如果启用ucenter整合，昵称最长将自动限制为15个字符。</span></td>
			<td><input type="text" name="config[nickname_length]" value="{conf nickname_length}"></td>
		</tr>
		<!--{if $third_party_regstatus_checkbox}-->
		<tr class="altbg2">
			<td width="45%"><b>启用第三方帐号登陆注册功能？</b><br>
			<span class="smalltxt">
			开启前请先设置<a href="admin.php?mod=setting&code=modify_sina">新浪微博绑定。</a></span></td>
			<td>{$third_party_regstatus_checkbox}</td>
		</tr>
		<!--{/if}-->

		<tr class="altbg1">
			<td width="45%"><b>用户昵称/个性空间地址中禁止包含的字符：</b><br>
			<span class="smalltxt">一行一个，可以使用通配符*；<BR>
			个性空间地址将用于访问用户的个人空间，右侧预设的词语系统已经使用，禁止用户使用。
			</span>
			
			</td>
			<td>
			<textarea cols="28" rows="5" name="user_forbid">{$user_forbid}</textarea>
			</td>
		</tr>

		<tr class="altbg2">
			<td width="45%"><b>新注册用户默认的角色：</b><br>
			  <span class="smalltxt">设置新注册的用户属于哪个用户组，如无特殊需求请设置为“普通会员” ；
			    <br><b style="color:#D94446;">如需人工审核用户注册</b>，请设置为“待验证会员”，其后新用户注册，将会收到相应私信通知；
				<br>有待审核会员时，管理员也会收到私信通知（<a href="admin.php?mod=setting&code=check_switch"><b style="color:#266AAE;">点此设定通知哪些管理员</b></a>）；
			    <br><a href="admin.php?mod=role&code=list&type=normal" target=_blank>点此设置用户角色权限</a>，<a href="admin.php?mod=member&code=waitvalidate" target=_blank><span style="color:green;">点此审核待验证会员</span></a>。
			  </span>
			</td>
			<td>$normal_role_select</td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>给待验证会员发私信通知：</b><br>
			<span class="smalltxt">当注册用户进入‘待验证用户’组时，以初始帐号发私信告知的内容。</span></td>
			<td><textarea cols="48" rows="4" name="config[notice_to_waitvalidate_user]">{conf notice_to_waitvalidate_user}</textarea></td>
		</tr>
		<tr class="altbg2">
			<td width="45%"><b>待验证会员审核通过后发私信通知：</b><br>
			<span class="smalltxt">当待验证用户通过审核后，以初始帐号发私信告知的内容。 </span></td>
			<td><textarea cols="48" rows="4" name="config[notice_to_validatesucssee_user]">{conf notice_to_validatesucssee_user}</textarea></td>
		</tr>
		
		<tr class="altbg1">
			<td width="45%"><b>Email注册白名单：</b><br>
			<span class="smalltxt">一行一个，留空则关闭白名单功能；<BR>
			若填写，则指定邮箱后缀的邮箱才能注册本站点。
			</span>
			</td>
			<td>
			<textarea cols="48" rows="4" name="email_white_list">{$email_white_list}</textarea>
			</td>
		</tr>		
		
		<tr class="altbg2">
			<td width="45%"><b>用户注册IP限制：</b><br>
			<span class="smalltxt">相同IP在一定时间内允许注册的用户数量<br>
			默认时间或次数设定为0时，则关闭该功能，表示不受限制</span>
			</td>
			<td>限定时间<input type="text" name="register[ip][time_val]" value="{$register[ip][time_val]}" size="6" />{$register_ip_time_unit_select}内<br />
			最多注册<input type="text" name="register[ip][limit]" value="{$register[ip][limit]}" size="6" />次</td>
		</tr>
		<tr class="altbg1">
			<td width="45%"><b>用户注册IP白名单：</b><br>
			<span class="smalltxt">在上面开启用户注册IP限制的情况下生效<br />
				一行一个，留空则关闭白名单功能；<BR>
				此处设置的IP地址不受上面设定的注册IP限制，可以频繁的注册。
			</span>
			</td>
			<td>
			<textarea cols="48" rows="4" name="register[ip][white_list]">{$register_ip_white_list}</textarea>
			</td>
		</tr>
	</table>
    
	
    
	<br>
	<center><input type="submit" class="button" name="settingsubmit" value="提 交"></center><br>
	
</form>
<br>
