<!--{template admin/header}-->
<br/>
<form method="post" name="config[wqueue]" action="admin.php?mod=setting&code=do_wqueue" enctype="multipart/form-data">
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
  <tr class="header">
    <td colspan="2">微博发布队列</td>
  </tr>
  <tr class="altbg1">
    <td width="45%">是否启用<br/>
    	<span class="smalltxt">建议大数据量并发时启用。<br/>参考网址：http://blog.s135.com/httpsqs/。<br/>启用后请在linux下使用php-cli执行根目录下的/wqueue-daemon.php守护端。</span>
    </td>
    <td>
      <label><input type="radio" name="enabled" value="true" {if $wqueue['enabled']}checked="checked"{/if}> 启用</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label><input type="radio" name="enabled" value="false" {if !$wqueue['enabled']}checked="checked"{/if}> 不启用</label>
    </td>
  </tr>
  <tr class="altbg1">
    <td width="45%">参数配置</td>
    <td>
      访问地址：<input type="text" name="host" value="{$wqueue['host']}" /> （IP:端口）<br/>
      数据库名：<input type="text" name="name" value="{$wqueue['name']}" /><br/>
      验证密码：<input type="text" name="auth" value="{$wqueue['auth']}" />
    </td>
  </tr>
  {if $wqueue['status']}
  <tr class="altbg1">
    <td width="45%">队列状态</td>
    <td>
      入栈：{$wqueue['status']['putpos']} 次<br/>
      出栈：{$wqueue['status']['getpos']} 次<br/>
      等待：{$wqueue['status']['unread']} 个
    </td>
  </tr>
  {/if}
</table>
<br>
<center><input type="submit" class="button"
	name="settingsubmit" value="提 交"></center>
<br>
</form>
<br>