<!--{template admin/header}-->

<form method="post" action="admin.php?mod=url&code=setting">
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td colspan="2">配置</td>
	</tr>
	<tr class="altbg1">
		<td width="45%"><b>新的URL链接地址默认状态</b><br>
			<span class="smalltxt">此处设置仅针对内容中新增加的URL链接；系统中原已存在的URL链接地址按“加入常规（默认）队列”中处理。</span></td>
		<td>{$status_default_radio}</td>
	</tr>
	<tr class="altbg2">
		<td width="45%"><b>白名单（允许访问）队列中的URL链接处理</b><br>
			<span class="smalltxt"></span></td>
		<td>{$status_set_allow_radio}</td>
	</tr>
	<tr class="altbg1">
		<td width="45%"><b>常规（默认）队列中的URL链接处理</b><br>
			<span class="smalltxt"></span></td>
		<td>{$status_set_normal_radio}</td>
	</tr>
	<tr class="altbg2">
		<td width="45%"><b>黑名单（禁止访问）队列中的URL链接处理</b><br>
			<span class="smalltxt"></span></td>
		<td>{$status_set_disallow_radio}</td>
	</tr>
</table>
<br><center><input type="submit" class="button" name="settingsubmit" value="提 交"></center><br>
</form>
<br>
