<!--{template admin/header}-->

<form action="admin.php?mod=vipintro&code=setting" method="post">
  <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr class="header">
      <td colspan="3">设置用户认证条件</td>
    </tr>
    <tr class="header">
      <td>条件项</td>
      <td>条件</td>
      <td>不通过时跳转页面</td>
    </tr>
    <tr  class="altbg2">
      <td height="30" width="200px">需通过Email验证：</td>
      <td height="30">$email</td>
      <td><input type="text" name="forward[email]" value="{$vipConditions['email']['forward']}" size="60"></td>
    </tr>
    <tr  class="altbg1">
      <td height="30">微博数量：</td>
      <td height="30"><input type="text" name="topic_num" value="{$topic_num}"></td>
      <td><input type="text" name="forward[topic_num]" value="{$vipConditions['topic_num']['forward']}" size="60"></td>
    </tr>
    <tr  class="altbg2">
      <td height="30">需上传头像：</td>
      <td height="30">$face</td>
      <td><input type="text" name="forward[face]" value="{$vipConditions['face']['forward']}" size="60" ></td>
    </tr>
    <tr  class="altbg1">
      <td height="30">粉丝数：</td>
      <td height="30"><input type="text" name="fans_num" value="{$fans_num}"></td>
      <td><input type="text" name="forward[fans_num]" value="{$vipConditions['fans_num']['forward']}" size="60"></td>
    </tr>
    <tr  class="altbg2">
      <td height="30">需设置所在区域：</td>
      <td height="30">$city</td>
      <td><input type="text" name="forward[city]" value="{$vipConditions['city']['forward']}" size="60"></td>
    </tr>
  </table>
  <center>
    <button class="button" type="submit" name="do">提交</button>
    <input type="hidden" name="is_edit" value="1">
  </center>
</form>