<!--{template admin/header}-->

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td>技巧提示</td>
	</tr>
	<tr class="altbg1">
		<td>
		<ul>
			<li>点编辑框左侧的“关于我们”等字样，可以直接在前台查看实际显示效果</li>
			<li>本页面的内容信息都保存在/setting/web_info.php中，可以通过ftp直接修改</li>
		</ul>
		</td>
	</tr>
</table>
<script type="text/javascript" charset="utf-8" src="static/js/kind/kindeditor.js"></script>
<script type="text/javascript">
KE.show({
id : 'about'
});
KE.show({
id : 'contact'
});
KE.show({
id : 'joins'
});
KE.show({
id : 'float'
});
</script>
<form method="post" action="admin.php?mod=web_info&code=domodify"  enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr align="center">
  <td width="8%" rowspan="2" class="altbg2"><A HREF="index.php?mod=other&code=about" target=_blank>关于我们</A></td>
  <td colspan="2" align="left" class="altbg1"> <textarea name="about" style="width:640px; height:240px;" id="content">{$_web_info['about']}</textarea>
   <center></center></td>
</tr>
<tr align="center">
  <td width="20%" class="altbg1">&nbsp;</td>
  <td width="74%" align="left" class="altbg1"><input class="button" type="submit" name="cronssubmit2" value="提 交" /></td>
</tr>
<tr align="center">
  <td rowspan="2" class="altbg2"><A HREF="index.php?mod=other&code=contact" target=_blank>联系我们</A></td>
  <td colspan="2" align="left" class="altbg1"><textarea name="contact" style="width:640px; height:240px;" id="content">{$_web_info['contact']}</textarea>
    <center></center></td>
</tr>
<tr align="center">
  <td width="20%" class="altbg1">&nbsp;</td>
  <td align="left" class="altbg1"><input class="button" type="submit" name="cronssubmit3" value="提 交" /></td>
</tr>
<tr align="center">
 <td rowspan="2" class="altbg2"><A HREF="index.php?mod=other&code=joins" target=_blank>加入我们</A></td>
 <td colspan="2" align="left" class="altbg1"><textarea name="joins" style="width:640px; height:240px;" id="content">{$_web_info['joins']}</textarea>
  <center></center></td>
</tr>
<tr align="center">
  <td width="20%" class="altbg1">&nbsp;</td>
  <td align="left" class="altbg1"><input class="button" type="submit" name="cronssubmit" value="提 交" /></td>
</tr>
<!--浮动-->
<tr align="center">
 <td class="altbg2">浮动信息（全站）</td>
 <td colspan="2" align="left" class="altbg1"><textarea name="float" style="width:640px; height:240px;" id="content">{$_web_info['float']}</textarea>
  <center></center></td>
</tr>
<tr align="center">
 <td rowspan="2" class="altbg2">&nbsp;</td>
 <td colspan="2" align="left" class="altbg1">
 浮动信息位置：
 	<label>
 		<input type="radio" name="float_align" value="left" {if $_web_info['float_align'] == 'left'}checked="checked"{/if} /> 左侧
 	</label>
 	&nbsp;&nbsp;&nbsp;&nbsp;
 	<label>
 		<input type="radio" name="float_align" value="right" {if $_web_info['float_align'] == 'right'}checked="checked"{/if} /> 右侧
 	</label>
 	&nbsp;&nbsp;&nbsp;&nbsp;
 	<label>
 		<input type="radio" name="float_align" value="none" {if $_web_info['float_align'] == 'none' || !$_web_info['float_align']}checked="checked"{/if} /> 不显示
 	</label>
 	<br/>
 	默认显示小图？
 	<label>
 		<input type="radio" name="float_style" value="mini" {if $_web_info['float_style'] == 'mini'}checked="checked"{/if} /> 是的
 	</label>
 	&nbsp;&nbsp;&nbsp;&nbsp;
 	<label>
 		<input type="radio" name="float_style" value="normal" {if $_web_info['float_style'] == 'normal' || !$_web_info['float_style']}checked="checked"{/if} /> 不是
 	</label>
  </td>
</tr>
<tr align="center">
  <td width="20%" class="altbg1">&nbsp;</td>
  <td align="left" class="altbg1"><input class="button" type="submit" name="cronssubmit" value="提 交" /></td>
</tr>
<!--浮动-->
</table>


</form>
