<!--{template admin/header}-->

<div class="mt10">
	<form method="post" action="admin.php?mod=wechat&code=do_list">
	<br />
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<tr class="header">
			<td colspan="2">搜索选项</td>
		</tr>
		<tr class="altbg1">
			<td width="40%">用户昵称</td>
			<td><input type="text" name="s_nickname" value="{$s_nickname}" size="60" /></td>
		</tr>
	</table>
	<center><input type="submit" value=" 搜 索 " class="button" /> &nbsp; <a href="admin.php?mod=wechat&code=do_list">查看全部</a> </center>
	<br />
	</form>
	
	<br />
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<tr class="header">
			<td>用户昵称</td>
			<td>微信唯一ID</td>
			<td>绑定时间</td>
			<td> &nbsp; </td>
		</tr>
		<!--{loop $rets[list] $row}-->
		<!--{eval $__row_class='altbg'.(++$__row_id % 2) ? 1 : 2;}-->
		<tr class="{$__row_class}">
			<td><a href="admin.php?mod=member&code=modify&id={$row[uid]}">{$members[$row[uid]][nickname]}</a></td>
			<td>{$row[wechat_id]}</td>
			<td>{$row[wechat_bind_time]}</td>
			<td> <a href="admin.php?mod=wechat&code=unbind&id={$row[id]}&jsg_id={$row[jsg_id]}&wechat_id={$row[wechat_id]}" onclick="return confirm('确认此操作？');">解绑</a> </td>
		</tr>
		<!--{/loop}-->
		<!--{if $rets[page][html]}-->
		<tr><td colspan="4">{$rets[page][html]}</td></tr>
		<!--{/if}-->
	</table>
</div>