<script type="text/javascript" src="{$this->Config[site_url]}/static/js/min.js"></script> 
<div class="jsg_mcenter">
<div class="iframe_share_title">电子公告板</div> 

{loop $topic_list $val}
<div class="show_notice">
<a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank" style="color:;">
{$val[content]} 
</a>
[{$val[dateline]}]
{if $val[imageid] and $val[image_list]}
<div class="img_avatar">
{loop $val[image_list] $iv}
<a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank"><img src="{$iv[image_small]}" border="0" title="图片"></a>
{/loop}
</div>
{/if}
{if $val[videoid]}
<div class="feedUservideo"> <a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank" style="color:;"> <div class="vP"><img src="{$this->Config[site_url]}/images/feedvideoplay.gif" title="点击跳转播放视频"/></div> <img src="{$val[VideoImg]}" style="border:none" title="点击跳转播放视频"/> </a> </div>
{/if}
{if $val[musicid]}
<div class="feedUserImg"> <div id="play_{$val[MusicID]}"></div> <a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank"> <img src="{$this->Config[site_url]}/images/music.gif" title="点击跳转播放音乐" style="cursor:pointer; border:none;" /> </a> </div>
{/if}
</div>
{/loop}

</div>
<style>
.show_notice{
	display:none;
}
</style>

<script>


function show_notice(){
	
	//alert($(".show_notice:visible").next().length);
	if($(".show_notice:visible").next().length){
		var obj = $(".show_notice:visible").next();
		$(".show_notice:visible").hide();
		obj.show();
		
	} else {
		$(".show_notice").hide();
		$(".show_notice:eq(0)").show();
	}
	
} 

$(document).ready(function(){
	setInterval("show_notice()",3000);
	
});



</script>