<script type="text/javascript" src="{$this->Config[site_url]}/static/js/min.js"></script> <style type="text/css">
.jsg_mcenter{ width:320px; height:500px; background:#ffffff; border:1px solid #ebebeb; padding:1px; text-align:left}
.iframe_share_title{ width:100%; height:25px; line-height:30px; overflow:hidden; background:#ffffff; color:#626262; font-size:14px; text-indent:7px;}
.jsg_mcenter .comBox{ display:none;margin:10px 0; overflow:hidden; padding:10px; z-index:200}
.jsg_mcenter .indexrow{ font-size:12px; border-bottom:1px dotted #ccc;}
.jsg_mcenter .feedCell{ overflow:hidden;}
.jsg_mcenter .msg_left_img{ width:47px; height:47px; float:left;display:inline;margin-right:10px;}
.jsg_mcenter .msg_left_con{ float:left; display:inline; white-space:normal; *height:100%;width:200px; overflow:hidden;}
.jsg_mcenter .feedCell {padding:6px; line-height:18px; *width:100%; *height:100%; overflow:hidden;}
.jsg_mcenter .feedCell .avatar {display:inline;float:left;height:48px;width:48px; border:1px solid #ccc; overflow:hidden; margin-bottom:-15px;margin-top:4px;text-align:center;}
.jsg_mcenter .feedCell .avatar img {height:48px;width:48px;}
.jsg_mcenter .feedCell .feedUservideo {overflow:hidden;position:relative;}
.jsg_mcenter .feedCell .feedUservideo img {border:1px solid #dcdcdc;padding:2px; cursor:pointer; width:120px; height:80px;}
.jsg_mcenter .feedCell .feedUservideo .vP{position:absolute; margin:27px 46px;}
.jsg_mcenter .feedCell .feedUservideo .vP img{border:none; filter:alpha(opacity=70);-moz-opacity:0.7; opacity:0.7; width:25px; height:25px;}
.jsg_mcenter .bg_arrow{background:#e6e6e6 url({$this->Config[site_url]}/images/ico_tblog_arrow.png);background-repeat:repeat-x;height:7px;text-align:center;margin:0}
.jsg_mcenter .bg_arrow img{ margin:0 auto; width:8px; height:4px; background:url({$this->Config[site_url]}/images/ico_tblog_arrow.png) no-repeat}
.jsg_mcenter a.arrow_up img {background-position: 0 -20px;}
.jsg_mcenter a.arrow_down {background-position: 0 -32px;}
.jsg_mcenter .list_warp{overflow:scroll;overflow-x:hidden;width: 100%; position:relative; height:480px;overflow:hidden;}
.jsg_mcenter .iframe_tt{ width:100%; height:7px; background:#e4e4e4; margin:0; overflow:hidden;}
.jsg_mcenter .iframe_tt .bg_arrow{ background-position:0 2px; margin-left:47%;} 
.jsg_mcenter .iframe_ft{ width:100%; height:7px; background:#e4e4e4; margin:0; overflow:hidden; margin-top:7px;}
.jsg_mcenter .iframe_ft .bg_arrow{ background-position:0 -12px; margin-left:47%;} 
</style> <div class="jsg_mcenter"> <div class="iframe_share_title">微博调用</div> <div class="comBox" id="ajaxcontent">
{loop $topic_list $val}
<div class="indexrow"> <div class="feedCell"> <div style="color:#626262;"> <div class="msg_left_img"> <span class="avatar"> <a href="{$this->Config[site_url]}/index.php?mod={$val[username]}" target="_blank"><img border="0" onerror="javascript:faceError(this);" src="{$val[face_original]}"></a> </span> </div> <div class="msg_left_con" style="margin-top:3px;"> <a href="{$this->Config[site_url]}/index.php?mod={$val[username]}" target="_blank" style="color:;">
{$val[nickname]}
</a>:
<a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank" style="color:;">
{$val[content]} 
</a>
[{$val[dateline]}]
{if $val[imageid] and $val[image_list]}
<div class="img_avatar">
{loop $val[image_list] $iv}
<a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank"><img src="{$iv[image_small]}" border="0" title="图片"></a>
{/loop}
</div>
{/if}
{if $val[videoid]}
<div class="feedUservideo"> <a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank" style="color:;"> <div class="vP"><img src="{$this->Config[site_url]}/images/feedvideoplay.gif" title="点击跳转播放视频"/></div> <img src="{$val[VideoImg]}" style="border:none" title="点击跳转播放视频"/> </a> </div>
{/if}
{if $val[musicid]}
<div class="feedUserImg"> <div id="play_{$val[MusicID]}"></div> <a href="{$this->Config[site_url]}/index.php?mod=topic&code={$val[tid]}" target="_blank"> <img src="{$this->Config[site_url]}/images/music.gif" title="点击跳转播放音乐" style="cursor:pointer; border:none;" /> </a> </div>
{/if}
<div> <span>[转发:{$val[forwards]}]</span> <span>[评论:{$val[replys]}]</span> </div> </div> </div> </div> </div>
{/loop}
</div> <div id="Pcontent" style="z-index:100;height:460px; overflow:auto; position:relative; margin-left:5px;"></div> </div> <script language="javascript" src="{$this->Config[site_url]}/static/js/recommend.js"></script>