<!--{template "topic_header"}-->

<div class="u2">
	<div style="padding:2px;">
		<!--{template "topic_index_nav.inc"}-->
	</div>
</div>	

<div class="m">
  <div>
    <!--列表开始-->
    <div>

	  <!--{eval $parent_list = $rets[parent_list];}-->
      <!--{loop $rets[list] $val}-->
      <!--{eval $counts++;}-->
		<!--{template "topic_list_item.inc"}-->
      <!--{/loop}-->

      <!--{if $rets[page][html]}-->
      <div style="margin-top:15px; "> <span>{$rets[page][html]}</span> </div>
      <!--{/if}-->

      <!-- 正文列表结束 -->
    </div>
  </div>
  <!--微博区块结束-->
  <div id="topic_list_{$counts++}" class="t_list_b">
    这里会显示含有"@<!--{echo wap_iconv($__my[nickname])}-->"的微博。<BR />
  </div>
  <!-- 显示帮助信息结束 -->
</div>
</div>
<!--{template "topic_footer"}-->
