<!--{template "topic_header"}-->

<div class="u2">
	<div style="padding:2px;">
		<!--{template "topic_index_nav.inc"}-->
	</div>
</div>	

<div class="m">
  <div>
    <!--列表开始-->
    <div>
      <!--{loop $rets[list] $val}-->
      <!--{eval $counts++;}-->
		<!--{template topic_favorite_list_item.inc}-->
      <!--{/loop}-->
      <!-- 收藏我的结束 -->

      <!--{if $rets[page][html]}-->
      <div style="margin-top:15px; "> <span>{$rets[page][html]}</span> </div>
      <!--{/if}-->
      <!-- 正文列表结束 -->
    </div>
  </div>
  <!--微博区块结束-->
  <div id="topic_list_{$counts++}" class="t_list_b">
    这里会显示你所收藏的微博。<BR />
    在登录状态下，每个微博的下方都有一个收藏连接，点击即可自动完成收藏，然后你就可以在这里看到了。你可以访问<A HREF="index.php?mod=topic&code=hot">热门微博</A>来发现有收藏价值的内容；
  </div>
  <!-- 显示帮助信息结束 -->
</div>
</div>
<!--{template "topic_footer"}-->
