<!--列表区块开始-->
      <div>
        <div>
          <!--右边主体-->
          <div>
            <!--微博主体-->
            <div>
              <div> <span><a href="index.php?mod={$val[username]}">{$val[nickname]}</a>
                <!--{if $val[validate_html]}-->
                <img class='vipImg' title='{$val[vip_info]}' src='{$val[vip_pic]}' />
                <!--{/if}-->
                {$val[content]}</span> <a href="index.php?mod=topic&amp;code={$val[tid]}" target="_blank">原文评论
                <!--{if $val[replys]}-->
                {$val[replys]}
                <!--{/if}-->
                </a> <a href="index.php?mod=topic&amp;code={$val[tid]}" target="_blank">原文转发
                <!--{if $val[forward]}-->
                {$val[forward]}
                <!--{/if}-->
                </a> </div>
				<div><span>收藏于 {$val[favorite_time]}</span></div>
            </div>
            <!--微博管理-->
          </div>
          <!--右边主体结束-->
        </div>
      </div>
      <!--列表区块结束-->