{template "topic_header"}

{template "topic_left_nav.inc"}

<div class="main">

<link href="static/style/live.css" rel="stylesheet" type="text/css" />

<div class="mainWrap ">
  <div class="contentWrap">
    <div class="Menulink">
    <A href="index.php?mod=live" class="<!--{if $view =='all'}-->selected<!--{else}--><!--{/if}-->">全 部</A>
    <A href="index.php?mod=live&view=on" class="<!--{if $view =='on'}-->selected<!--{else}--><!--{/if}-->">进行中</A>
    <A href="index.php?mod=live&view=go" class="<!--{if $view =='go'}-->selected<!--{else}--><!--{/if}-->">未开始</A>
    <A href="index.php?mod=live&view=no" class="<!--{if $view =='no'}-->selected<!--{else}--><!--{/if}-->">已完成</A>
    </div>
    
<ul class="liveShowList">
<!--{loop $live_list $val}-->	
	<li class="clearFix">
	<div class="feed_ls">
	<p class="f_content">
	<img src="images/transparent.gif" class="ico_shlive ico_liveshow" />
	<a href="index.php?mod=live&code=view&id={$val[lid]}" target="_blank" title="{$val[livename]}">{$val[livename]}</a>
	<span class="ico_status {$val[status_css]}">{$val[status]}</span>
	</p>
	<p class="f_time">
	<img src="images/transparent.gif" class="ico_shlive ico_times" />
	时间：({$val[datetime]})
	</p>
	<p class="f_name">
	<img src="images/transparent.gif" class="ico_shlive ico_talk" />嘉宾：
	<!--{loop $val[guest] $user}-->
	<span><a href="index.php?mod={$user[username]}" title="{$user[nickname]}" target="_blank">{$user[nickname]}</a>{$user[validate_html]}</span>
	<!--{/loop}-->
	</p>
	</div>
	<div class="pic_ls">
	<!--{loop $val[guest] $user}-->
	<div class="guest_lst"> 
	<a href="index.php?mod={$user[username]}" target="_blank"><img height="50" width="50" src="{$user[face]}" title="{$user[description]}" onerror="javascript:faceError(this);" class="photo" /></a>
	<a class="chead04_A" href="index.php?mod={$user[username]}" title="{$user[nickname]}" target="_blank">{$user[nickname]}<img src="images/transparent.gif" class="small_icon vip" title=""/></a>
	</div>
	<!--{/loop}-->
	</li>
<!--{/loop}-->
	</ul>
	<!--{if $page_arr[html]}-->
    <div class="pageStyle">
       <li>{$page_arr[html]}</li>
    </div>
    <!--{/if}-->	
  </div>
</div>

<!--右边栏目 Begin-->
<div class="sideBar">
<style type="text/css">
.talkwrap .sideBar .column{ padding-left:0;}
</style>
<div class="column">
	<h3>微直播简介</h3>
	<ul class="sideul"  style="text-indent:2em;">
	<!--{if $live_config[des]}-->{$live_config[des]}<!--{/if}-->
	</ul>
</div>
<div class="column">
<h3>微直播主持人</h3>
<ul class="followList act_ul" style="_width:290px;">
  <!--{if $live_config[user]}-->
  <li class="pane">
     <div class="fBox_l">
      <a href="index.php?mod={$user_host[username]}" title="{$live_config[user]}">
      <img src="{$user_host[face]}" title="{$live_config[user]}" onerror="javascript:faceError(this);" width="60" height="60">
  	  </a>
  	 </div>
  	 <div class="fBox_r">
  	   <p class="ff_1 w_num"><a href="index.php?mod={$user_host[username]}" title="{$live_config[user]}">{$live_config[user]}</a>{$user_host[validate_html]}</p>
	   <p class="ff_1 w_num">粉丝{$user_host[fans_count]}人</p>
	   <p class="ff_1">
	   <!--{if $live_config[uid] != MEMBER_ID}-->
	   <!--{if $user_host[followed]}-->
	   <span class="follow_{$live_config[uid]}"><a href="javascript:void(0)" onclick="follow({$live_config[uid]},'follow_{$live_config[uid]}','');return false;" class="attention_del"></a></span>
	   <!--{else}-->
	   <span class="follow_{$live_config[uid]}"><a href="javascript:void(0)" onclick="follow({$live_config[uid]},'follow_{$live_config[uid]}','add');return false;" class="attention"></a></span>
	   <!--{/if}-->
	   <!--{else}-->
	   <span class="btn_normal">我自己</span>
	   <!--{/if}-->
	   </p>
  	 </div>

     
     <p class="user_aboutme">
     <div class="right_tj_box"> 
     <div class="right_tj_box_arrow"><i class="out">◆</i><i class="inside">◆</i></div> 
     <span>主持人介绍：微直播官方主持人</span> 
     </div>
     </p>
     
  </li>
 <!--{/if}-->
</ul>
</div>
<div class="column">
	<h3>微直播合作</h3>
	<ul class="sideul">
	<!--{if $live_config[ads]}-->{$live_config[ads]}<!--{/if}-->
	</ul>
</div>
</div>
</div>

{template "topic_footer"}