<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--{eval $__my=$GLOBALS[_J][member];}-->
<base href="{$this->Config[site_url]}/" />
<base target="_blank" />
<title>{$this->Title} - {$this->Config[site_name]}({$this->Config[site_domain]}){conf page_title}</title>
<meta name="Keywords" content="{$this->MetaKeywords},{conf site_name}{conf meta_keywords}" />
<meta name="Description" content="{$this->MetaDescription},{conf site_notice}{conf meta_description}" />
<link rel="shortcut icon" href="favicon.ico" />
<link href="static/style/main.css" rel="stylesheet" type="text/css" />
<link href="static/style/send.css" rel="stylesheet" type="text/css" />
<link href="static/style/hack.css" rel="stylesheet" type="text/css" />
<link href="static/style/global.css" rel="stylesheet" type="text/css" />
<link href="static/style/output.css" rel="stylesheet" type="text/css" />

<!--{subtemplate "common_header_js"}-->

<script type="text/javascript" src="static/js/min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>

</head>

<body>