{template "topic_header"}
{template "topic_left_nav.inc"}

<script type="text/javascript">
/**
 * 名人堂  ajax 
 * ajax 切换显示 名人堂查看方式
 * 
 * 查看类别
 * category == 按类别分类
 * province == 按地区分类
 *
 * var  list_type == 查看类别
*/
function ajax_category(list_type,id)
{	
	
	var ajax_url = '';

	ajax_url = "ajax.php?mod=validate&code=category";

	var post = {
		list_type:list_type,
		id:id
	};
	
	var myAjax=$.post(
	ajax_url,
	post,
	function(d){
		if(d){
			//alert(d);
			$('#validate_list').html(d);
		}
	});
	return false;
}
</script>

<style type="text/css">
.main{ padding-top:0;}
.plaze_header_nav{ padding-bottom:20px;}
.exp-wrap .plaze_header_nav {padding-bottom: 20px;width: 940px;background: none;padding-top: 0;}
.exp-wrap .appframeTitle{ padding:0;}
</style>
<div class="main">
    <div class="plaze_header_nav">
    <div class="appframeTitle">
    <span class="mleft">名人堂</span>
    </div>
</div>
    <div class="mainWrap">
    <!--{if $member_list}-->
    <div class="contentWrap " style="margin-bottom:20px;">
    <div class="peopleTitle"><span>名人堂推荐用户</span></div>
	<div class="people_l_b"> 
		<!--{loop $member_list $val}-->
			<li alt="{$val[vip_info]}" title="{$val[vip_info]}">
			  <div id="user_{$val['uid']}_user"></div>
				<!--{if $val[uid] != MEMBER_ID}-->
				<img src="{$val[face]}" onerror="javascript:faceError(this);" onmouseover="get_user_choose({$val[uid]},'_user',{$val[uid]});" onmouseout="clear_user_choose();"/>
				<!--{else}-->
				<img src="{$val[face]}" onerror="javascript:faceError(this);"/>
				<!--{/if}-->										
				<span class="nm">{$val['nickname']}</span>
				<!--{if $val[follow_html]}--><span class="nm">{$val[follow_html]}</span><!--{/if}-->
			</li>
		<!--{/loop}-->
	</div></div>
	<!--{/if}-->
	<div id="ajaxcontent">
	<div class="peopleTitle">
    <span class="mleft">认证用户{$this->Config[changeword][n_weibo]}</span>
    <span class="mright"><a title="取得认证，获得推荐" href="index.php?mod=other&code=vip_intro" class="longText">申请认证</a></span>
    </div>
    <div id="listTopicArea">
	  	<!--微博列表 Begin-->
		<!--{subtemplate topic_simple_list_ajax}-->
		<!--微博列表 End-->
      </div>
	</div>
    </div>

    <div class="sideBar">
    <div class="peopleSide">
    <!--{if $category_list}-->
    <!--{loop $category_list $clist}-->
    <h3>
    <a class="peopleSidea" href="javascript:viod(0);" onclick="ajax_category('category',$clist['id']); return false;" >{$clist['category_name']}</a>
    </h3>
    <!--{/loop}-->
    <!--{/if}-->
    
    <!--{if $this->Config['same_city']}-->
	<h3>
    <a class="peopleSidea" href="javascript:viod(0);" onclick="ajax_category('province'); return false;"  >按地区分类</a>
    </h3>
	<!--{/if}-->
	<div id="validate_list"></div>
    </div>






	{if $hot_members_list}
	 <div class="column">
	   <h3>人气排行榜</h3>
       <div class="sideul">
	     <div id="interestUid">
	       <ul class="followList" style="overflow:hidden">
		     <!--{loop $hot_members_list $val}-->
		       <li> 
		       <div id="user_{$val[uid]}_r_users"></div>
				<div class="fBox_l">
				  <a href="index.php?mod={$val[username]}" target="_blank">
				    <img onerror="javascript:faceError(this);" src="{$val['face']}" class="manface" onmouseover="get_user_choose({$val[uid]},'_r_users',{$val[uid]})" onmouseout="clear_user_choose();"/>
				  </a> 
				</div>
				<div class="fBox_R ">
				  <span><a href="index.php?mod={$val[username]}" target="_blank" onmouseover="get_at_user_choose('{$val[nickname]}',this)">{$val[nickname]}</a></span> 
				  <span>{$val['province']}&nbsp;{$val['city']}</span>
				  <!--{if $val[follow_html]}--><span>{$val[follow_html]}</span><!--{/if}-->
				</div>
				</li>
		     <!--{/loop}-->
	       </ul>
	     </div>
	   </div>
     </div>
     {/if}

</div>
</div>
</div>
{template "topic_footer"}