<!--{template "header"}-->
	<div data-role="content">
    	<div style="margin-top:50px; text-align:center">
			<ul>
			  <li>更好的访问体验；</li>
			  <li>更快的访问速度；</li>
			  <li>更节省手机流量；</li>
			  <li>上传图片更快捷。</li>
			</ul>
			<ul>
			  <!--{if ($is_android && $this->Config['android_download_url'])}-->
			  <li><a href="$this->Config['android_download_url']">下载android客户端</a></li>
			  <!--{elseif ($is_iphone && $this->Config['iphone_download_url'])}-->
			  <li><a href="$this->Config['iphone_download_url']">下载iphone客户端</a></li>
			  <!--{/if}-->
			</ul>
        </div>
    </div>
<!--{template "footer"}-->