<!--{if !empty($topic_list)}-->
	<div id="weibo_list_wp">
	<!--{loop $topic_list $key $topic}-->
	<article>
		<div id="weibo_itmes_{$topic['tid']}" class="weibo" data-tid="{$topic['tid']}" <!--{if MEMBER_ID < 1}-->data-login="0"<!--{else}-->data-login="1"<!--{/if}--> data-uid="{$topic['uid']}" data-huifu="">
        
        <header class="tit-wb clearfix">
            <img class="avatar-wb" src="{$topic['face']}" onclick="goToUserInfo($topic['uid']);"/>
            <span class="nikename-wb">{$topic['nickname']}{$topic[validate_string]}</span>
            <span class="origin-wb">
            <time class="time-wb" onclick="goToMBlogDetail({$topic[tid]});">{$topic['dateline']}</time>
            {$topic['from_string']}
            </span>
            <!--{if $topic['image_list']}--><img src="./images/pic.png"/ style="position: absolute;right: 10px;top: 10px;"><!--{/if}-->
        </header>
        
        <section class="content-wb">
            <p>
               {$topic['content']}
               <!--{if $topic[longtextid]}-->
					[<a href='javascript:void()' onclick='goToMBlogDetail({$topic[tid]});'>查看全文</a>]
			   <!--{/if}-->
            </p>
            <!--{if $topic['image_list']}-->
			<div class="img-wb">
				<!--{loop $topic['image_list'] $image}-->
					<img class="author" src="{$image['image_small']}" style="width:100px; height:100px;" />
				<!--{/loop}-->

			</div>
			<!--{/if}-->
            
            <!--父级模块(转发部分) Begin-->    
				<!--{if $topic[roottid] > 0}-->
				<!--{eval $parent=$parent_list[$topic[roottid]];}-->
				<div class="tips_ico"></div>
				<div class="wbf">
                     <!--{if !empty($parent)}-->
                      <div><a href="">{$parent['nickname']}</a> : {$parent['content']}</div>
                        <!--{if $parent['image_list']}-->
                         <div class="share">
                           <!--{loop $parent['image_list'] $image}-->
                           <img class="author" src="{$image['image_small']}" style="width:100px; height:100px;" />
                                <!--{/loop}-->
                             </div>
                         <!--{/if}-->
                        <!--{else}-->
                         原始微博已删除
                         <!--{/if}-->

						</div>
				<!--{/if}-->
			 <!--父级模块(转发部分) End-->
        </section>
        
        <footer class="action-wb">
            <a href="javascript:;" class="rt-action-wb L-item-tab " onclick="goToForwardEditView('{$topic[tid]}')"><p><i>&nbsp;</i><span data-num="0">
            <!--{if $topic['forwards'] > 0}-->转发（{$topic['forwards']}）<!--{else}-->转发<!--{/if}--></span></p></a>
            <a href="javascript:;" class="cmt-action-wb L-item-tab" onclick="goToCommentList('{$topic[tid]}');"><p><i>&nbsp;</i><span data-num="0">
            <!--{if $topic['replys'] > 0}-->评论（{$topic['replys']}）<!--{else}-->评论<!--{/if}--></span></p></a>
<!--            <a href="javascript:;" class="like-action-wb L-item-tab"><p><i>&nbsp;</i>赞<span data-num="0"></span></p></a>
            <a href="javascript:;" class="more-action-wb L-item-tab" data-faved="" data-gender="他" data-source=""><p><i>&nbsp;</i></p></a>-->
        </footer>
                
		</article>
	<!--{/loop}-->
	</div>
    
    
	<!--{if $list_count == Mobile::config('perpage_mblog')}-->
    	<!--{if $this->Module == 'topic'}-->
        	<!--{if $this->Code=='tag'}-->
            	<div class="wb_more" onclick='getMoreMBlogList({"max_tid":{$max_tid}, "next_page":{$next_page}, "code":"tag", "tag_key":"{$tag_key}"});return false;' id="btn_more">更多...</div>
            <!--{else}-->
				<div class="wb_more" onclick='getMoreMBlogList({"max_tid":{$max_tid}, "next_page":{$next_page}, "code":"{$this->Code}", "uid":"{$param_uid}"});return false;' id="btn_more">更多...</div>
        	<!--{/if}-->
		<!--{elseif $this->Module == 'search'}-->
       		<div class="wb_more" onclick='getMoreMBlogList({"max_tid":{$max_tid}, "next_page":{$next_page}, mod:"search", "code":"{$this->Code}", q:"{$keyword}"});return false;' id="btn_more">更多...</div>
        <!--{/if}-->
	<!--{/if}-->
	<div style="margin-bottom:80px;"></div>
	<script language="javascript">
		$(document).ready(function(){
			setMBlogListEvent();
		});
	</script>
<!--{/if}-->

